/*
0px			- 		600px:			mobile 		--> Mobile First Approach 
											   	    (where normal styles apply)
600px		- 		900px: 			tab-port 	-->	Tablet Portrait 
900px		-		1200px:			tab-land	-->	Tablet Landscape
1200px		-		1800px:			desk		-->	Desktop 
1800px +							big-desk	-->	Big Desktop

REMEMBER: 1em = 16px;
$breakpoint argument choices
	- tab-port and >	600 --> 900 	: min-width: 37.5em (600/16)
	- tab-land and >	900 --> 1200	: min-width: 56.25em (900/16)
	- desk and >		1200 --> 1800	: min-width: 75em (1200/16)
	- big-desk and >    1800 +			: min-width: 112.5em (1800/16)

ORDER: base + typography > general layout + grid > page layout > components

*/
@keyframes animateNavLink {
  0% {
    background-position: 100%;
  }
  50% {
    background-position: 50%;
  }
  100% {
    background-position: 0%;
  }
}
@keyframes animateNavListContainerMoveIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes animateNavListContainerMoveOut {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes animateNavItemsMoveIn {
  0% {
    transform: translateX(150px);
    opacity: 0;
  }
  10% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes animateNavItemsMoveOut {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(200px);
    opacity: 0;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  /* 	1rem is equal to 10px */
  /* 	because 10px / 10 is equal to 1rem */
  /* 	therefore 30px is equal to 3rem */
  /* 	the default font size of the browser is 16px */
  /* 	10px / 16px *100 = 62.5% */
  font-size: 62.5%;
}
@media (min-width: 37.5em) {
  html {
    /* 	12px / 16px *100 = 75% */
    font-size: 75%;
  }
}
@media (min-width: 56.25em) {
  html {
    /* 	13px / 16px *100 = 81.25% */
    font-size: 81.25%;
  }
}
@media (min-width: 75em) {
  html {
    /* 	15px / 16px *100 = 93.75% */
    font-size: 93.75%;
  }
}
@media (min-width: 112.5em) {
  html {
    /* 	18px / 16px *100 = 112.5% */
    font-size: 112.5%;
  }
}

body {
  /* This makes dealing with the sizes of elements much easier, 
  	and generally eliminates a number of pitfalls you can stumble on
  	 while laying out your content. */
  /* The width and height properties include the content, padding, and border, 
  	but do not include the margin.  Note that padding and border will be inside 
  	of the box. */
  box-sizing: border-box;
  position: relative;
  background-color: #f2f2f2;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  color: #f0f0f0;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
}

.primaryHeading {
  text-align: center;
}
.primaryHeading__headline {
  font-family: "Alegreya", serif;
  font-size: clamp(3rem, 11.1vw, 6rem);
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7), 2px 2px 2px rgba(0, 0, 0, 0.7), 3px 3px 2px rgba(0, 0, 0, 0.7), 4px 4px 2px rgba(0, 0, 0, 0.7);
}
.primaryHeading__headline-firstLetter {
  font-size: clamp(5rem, 15vw, 9rem);
}
.primaryHeading__subheading {
  font-family: "Caveat", cursive;
  font-size: clamp(1.8rem, 6.8vw, 3.5rem);
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 0.8;
}
.primaryHeading__paragraph {
  font-size: clamp(calc(2.1rem + 2.3vh - 2rem), 4.3vw, calc(2.5rem + 2.3vh - 2rem));
  text-align: center;
}
@media (min-width: 56.25em) {
  .primaryHeading__headline {
    font-size: clamp(2rem, 4.5vw, 5rem);
  }
  .primaryHeading__headline-firstLetter {
    font-size: clamp(2.2rem, 6vw, 5.2rem);
  }
  .primaryHeading__subheading {
    font-size: clamp(1rem, 2.8vw, 2.5rem);
  }
}

.headingH2Container__headingH2 {
  color: #1b90d8;
  font-family: "Alegreya SC", serif;
  font-size: clamp(calc(2.6rem + 3vh - 2rem), 11vw, calc(6.2rem + 3vh - 2rem));
  font-weight: 900;
  line-height: 1;
  letter-spacing: 4px;
  text-shadow: 1px 0px 2px #003049, 2px -1px 2px #003049, 3px -1px 2px #003049, 4px -1px 2px #003049;
}
.headingH2Container__subheadingH2 {
  color: #c1121f;
  font-family: "Caveat", cursive;
  font-size: clamp(calc(2.8rem + 2.3vh - 2rem), 8vw, calc(5rem + 2.3vh - 2rem));
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1px;
}
@media (min-width: 37.5em) {
  .headingH2Container__headingH2 {
    font-size: clamp(calc(2.2rem + 2.6vh - 2rem), 10vw, calc(5.8rem + 2.6vh - 2rem));
  }
  .headingH2Container__subheadingH2 {
    font-size: clamp(calc(2.2rem + 1.7vh - 2rem), 6vw, calc(4.4rem + 1.7vh - 2rem));
  }
}

.headingH3Container {
  font-family: "Lato", sans-serif;
  text-align: center;
}
.headingH3Container__headingH3 {
  color: #f0f0f0;
  font-size: clamp(calc(2.6rem + 2.3vh - 2rem), 4.3vw, calc(3.1rem + 2.3vh - 2rem));
  font-weight: 900;
  line-height: 1;
  letter-spacing: 2px;
}
.headingH3Container__headingH3--blue {
  color: #003049;
  line-height: 1.2;
}
@media (min-width: 37.5em) {
  .headingH3Container__headingH3--blue {
    font-size: clamp(calc(1.4rem + .9vh - 2rem), 5vw, calc(3.6rem + .9vh - 2rem));
  }
}
@media (min-width: 56.25em) {
  .headingH3Container__headingH3--blue {
    text-align: left;
  }
}
.headingH3Container__headingH3--project {
  color: #991818;
  font-size: clamp(calc(2.8rem + 2vh - 2rem), 2.5vw, calc(3.8rem + 2vh - 2rem));
}
.headingH3Container__headingH3--skills {
  color: #003049;
  font-size: clamp(calc(1.8rem + 3.3vh - 2rem), 5.2vw, calc(3.8rem + 3.3vh - 2rem));
}
@media (min-width: 37.5em) {
  .headingH3Container__headingH3--skills {
    font-size: clamp(calc(1.5rem + 3.3vh - 2rem), 3.3vw, calc(3.4rem + 3.3vh - 2rem));
  }
}
@media (min-width: 56.25em) {
  .headingH3Container__headingH3--skills {
    font-size: clamp(calc(1.2rem + 3vh - 2rem), 3vw, calc(3.1rem + 3vh - 2rem));
  }
}
@media (min-width: 56.25em) {
  .headingH3Container .contactForm__headingH3 {
    text-align: left;
  }
}
.headingH3Container__subheadingH3 {
  color: #c1121f;
  font-size: clamp(calc(1.7rem + 2.3vh - 2rem), 4vw, calc(2.3rem + 2.3vh - 2rem));
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
}
.headingH3Container__subheadingH3--project {
  color: #003049;
}

.headingH3--servicesSection {
  color: #003049;
}

.headingH4 {
  color: #003049;
}

.paragraph {
  color: #003049;
  font-size: clamp(calc(2.1rem + 2.3vh - 2rem), 4.3vw, calc(2.5rem + 2.3vh - 2rem));
  font-weight: 700;
  text-align: center;
}
@media (min-width: 56.25em) {
  .paragraph {
    text-align: justify;
  }
}
@media (min-height: 950px) {
  .paragraph {
    font-size: clamp(calc(2rem + 1.9vh - 2rem), 3vw, calc(2.4rem + 1.9vh - 2rem));
  }
}
.paragraph--white {
  color: #f0f0f0;
}
.paragraph--project {
  color: #003049;
  font-size: clamp(calc(1.7rem + 2.3vh - 2rem), 4vw, calc(2.1rem + 2.3vh - 2rem));
  font-weight: 900;
  text-align: center;
}
@media (min-height: 950px) {
  .paragraph--project {
    font-size: clamp(calc(2rem + 1.9vh - 2rem), 3vw, calc(2.4rem + 1.9vh - 2rem));
  }
}
.paragraph--skills {
  color: #991818;
  font-size: clamp(calc(1.9rem + 2.1vh - 2rem), 4vw, calc(2.3rem + 2.1vh - 2rem));
  text-align: center;
}
@media (min-width: 37.5em) {
  .paragraph--skills {
    font-size: clamp(calc(1.9rem + 2vh - 2rem), 3vw, calc(2.3rem + 2.1vh - 2rem));
  }
}
@media (min-width: 56.25em) {
  .paragraph--skills {
    font-size: clamp(calc(1.8rem + 1.9vh - 2rem), 2.4vw, calc(2.1rem + 1.9vh - 2rem));
  }
}
@media (max-width: 350px) and (min-height: 750px) {
  .paragraph--contactItem {
    font-size: clamp(calc(1.7rem + 2.1vh - 2rem), 4vw, calc(2.1rem + 2.1vh - 2rem));
  }
}
.paragraph--servicesSection {
  color: #003049;
}

.btn {
  color: #f0f0f0;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 1px;
}
.btn--primaryBtn {
  font-size: clamp(calc(2rem + 2.2vh - 2rem), 4vw, calc(2.4rem + 2.3vh - 2rem));
}
.btn--primaryBtn-hero {
  font-size: clamp(calc(2rem + 2.2vh - 2rem), 4.2vw, calc(2.4rem + 2.3vh - 2rem));
}
.btn--primaryBtn-white {
  color: #003049;
  font-size: clamp(calc(1.2rem + 1.2vh), 4vw, calc(1.6rem + 1.2vh));
}
.btn--primaryBtn-white-portfolioCard {
  color: #c1121f;
  font-size: clamp(calc(1.8rem + 2vh - 2rem), 3.8vw, calc(2.4rem + 2.1vh - 2rem));
  font-weight: 900;
}
@media (min-height: 950px) {
  .btn--primaryBtn-white-portfolioCard {
    font-size: clamp(calc(1.7rem + 1.8vh - 2rem), 3.5vw, calc(2.3rem + 1.8vh - 2rem));
  }
}
.btn--secondaryBtn {
  color: #f0f0f0;
  font-size: clamp(calc(1.8rem + 2vh - 2rem), 3.8vw, calc(2.2rem + 2.2vh - 2rem));
}
.btn--secondaryBtn-hero {
  color: #f0f0f0;
  font-size: clamp(calc(1.8rem + 2vh - 2rem), 3.8vw, calc(2.2rem + 2.2vh - 2rem));
}
.btn--secondaryBtn-portfolioCard {
  color: #f0f0f0;
  font-size: clamp(calc(1.8rem + 2vh - 2rem), 3.8vw, calc(2.2rem + 2.2vh - 2rem));
}
@media (min-height: 950px) {
  .btn--secondaryBtn-portfolioCard {
    font-size: clamp(calc(1.7rem + 1.8vh - 2rem), 3.5vw, calc(2.3rem + 1.8vh - 2rem));
  }
}

.logo__text--devName {
  font-family: "Alegreya", serif;
  font-size: clamp(1.6rem, 5vw, 2.5rem);
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7), 2px 2px 2px rgba(0, 0, 0, 0.7), 3px 3px 2px rgba(0, 0, 0, 0.7), 4px 4px 2px rgba(0, 0, 0, 0.7);
}
.logo__text--devNameFirstLetter {
  font-size: clamp(2.5rem, 7vw, 3.5rem);
}
.logo__text--devDesc {
  font-family: "Caveat", cursive;
  font-size: clamp(1.25rem, 4vw, 2rem);
  letter-spacing: 1px;
  line-height: 1;
}

.about__section {
  text-align: justify;
}

.testimonialCard__paragraph {
  color: #003049;
  font-size: clamp(calc(2rem + 2.1vh - 2rem), 2.8vw, calc(2.4rem + 2.1vh - 2rem));
  font-weight: 400;
  font-style: italic;
  text-align: center;
}
.testimonialCard__figcaptionHeading {
  color: #f0f0f0;
  font-size: clamp(calc(2.6rem + 2.3vh - 2rem), 4.3vw, calc(3.1rem + 2.3vh - 2rem));
  font-weight: 900;
  line-height: 1;
  letter-spacing: 2px;
  text-shadow: 0 0 8px rgba(51, 51, 51, 0.95);
  text-align: center;
}
.testimonialCard__figcaptionSubHeading {
  color: rgba(240, 240, 240, 0.7);
  font-size: clamp(calc(2.1rem + 2.3vh - 2rem), 4.3vw, calc(2.5rem + 2.3vh - 2rem));
  font-weight: 700;
  text-align: center;
}

.footer {
  text-align: center;
}
.footer__figure--figcaption-name {
  font-family: "Alegreya", serif;
  font-size: clamp(1rem, 11.1vw, 4rem);
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 1;
}
.footer__figure--figcaption-name-firstLetter {
  font-size: clamp(1.6rem, 15vw, 4.8rem);
}
.footer__figure--figcaption-dev {
  font-family: "Caveat", cursive;
  font-size: clamp(1rem, 6.8vw, 2.8rem);
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 0.8;
}
.footer__legalNotices--headingH2 {
  font-size: clamp(2.2rem, 7vw, 3rem);
}
.footer__legalNotices--paragraph {
  font-size: clamp(1.8rem, 6vw, 2.5rem);
}
@media (min-width: 37.5em) {
  .footer__figure--figcaption-name {
    font-size: clamp(2rem, 6vw, 4rem);
  }
  .footer__figure--figcaption-name-firstLetter {
    font-size: clamp(3rem, 7vw, 6rem);
  }
  .footer__figure--figcaption-dev {
    font-size: clamp(1.5rem, 6vw, 3.2rem);
  }
  .footer__legalNotices--headingH2 {
    font-size: clamp(2rem, 5vw, 2.8rem);
  }
  .footer__legalNotices--paragraph {
    font-size: clamp(1.6rem, 5vw, 2.2rem);
  }
}
@media (min-width: 56.25em) {
  .footer__figure--figcaption-name {
    text-align: left;
  }
  .footer__figure--figcaption-name-firstLetter {
    text-align: left;
  }
  .footer__legalNotices--headingH2 {
    text-align: left;
  }
  .footer__legalNotices--paragraph {
    text-align: left;
  }
}

.contactForm {
  color: #003049;
  font-size: clamp(calc(2.1rem + 2.3vh - 2rem), 4.3vw, calc(2.5rem + 2.3vh - 2rem));
  font-weight: 700;
}
.contactForm input, .contactForm textarea {
  font-size: clamp(calc(2.1rem + 2.3vh - 2rem), 4.3vw, calc(2.5rem + 2.3vh - 2rem));
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-xtrasmall {
  margin-bottom: 0.5rem;
}

.u-margin-top-xtrasmall {
  margin-top: 1rem;
}

.u-margin-right-xtrasmall {
  margin-right: 0.5rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  background-color: #003049;
  border-top: 2px solid #626262;
  border-left: 2px solid #9c9c9c;
  border-bottom: 2px solid #cccccc;
  border-right: 2px solid #e8e8e8;
  border-radius: 0.45rem;
  box-shadow: 0px 0px 8px 4px rgba(51, 51, 51, 0.5);
  width: fit-content;
  padding: 0.25em 1em;
  margin: 0 auto;
  cursor: pointer;
  backface-visibility: hidden;
  transition: all 0.2s;
}
.btn:link, .btn:visited {
  text-decoration: none;
  transform: translateY(0px);
}
.btn:hover {
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.55);
  transform: translateY(-2px);
}
.btn:active {
  border-bottom: 2px solid #9c9c9c;
  border-right: 2px solid #9c9c9c;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.7);
  transform: translateY(-1px);
}
.btn--primaryBtn {
  background-color: rgba(0, 48, 73, 0.85);
}
.btn--primaryBtn-hero {
  background-color: rgba(242, 242, 242, 0.4);
}
.btn--primaryBtn-white {
  background-color: rgba(242, 242, 242, 0.8);
}
.btn--primaryBtn-white-portfolioCard {
  background-color: rgba(242, 242, 242, 0.8);
  padding: 0.175em 0.5em;
}
.btn--secondaryBtn {
  background-color: rgba(0, 48, 73, 0.5);
  padding: 0.0225em 0.5em;
}
.btn--secondaryBtn-hero {
  background-color: rgba(242, 242, 242, 0.1);
  padding: 0.125em 0.75em;
}
.btn--secondaryBtn-portfolioCard {
  background-color: rgba(0, 48, 73, 0.65);
  padding: 0.125em 0.75em;
}
.btn__icon {
  width: 2.3rem;
  height: 2.3rem;
}

@media (min-width: 56.25em) {
  .aboutSection > .btn {
    margin-top: 2rem;
  }
}

@media (min-width: 56.25em) {
  .aboutContactMeBtn, .skillsContactMeBtn, .sendMessageBtn {
    margin: 0 auto 0 0;
  }
}
.cardPortfolioContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 3rem;
}
@media (min-width: 37.5em) {
  .cardPortfolioContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3rem;
  }
}
@media (min-width: 56.25em) {
  .cardPortfolioContainer {
    justify-content: space-around;
    gap: 5rem;
  }
}

.cardPortfolio {
  border-radius: 5px;
  box-shadow: 0 0 7px 3px rgba(51, 51, 51, 0.4);
  min-width: 100%;
  position: relative;
}
@media (min-width: 785px) {
  .cardPortfolio {
    min-width: min(310px, 100%);
  }
}
.cardPortfolio__cardImage {
  filter: blur(2px);
  -webkit-filter: blur(2px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 30vh;
}
@media (min-width: 785px) {
  .cardPortfolio__cardImage {
    min-height: 36vh;
  }
}
@media (min-width: 785px) and (min-height: 800px) {
  .cardPortfolio__cardImage {
    min-height: 40vh;
  }
}
@media (min-width: 1200px) {
  .cardPortfolio__cardImage {
    min-height: 45vh;
  }
}
.cardPortfolio__cardImage--protea {
  background-image: url("../img/portfolioProjects/proteaPharmacy041.webp");
}
.cardPortfolio__cardImage--orange {
  background-image: url("../img/portfolioProjects/orangeTree044.webp");
}
.cardPortfolio__cardImage--light {
  background-image: url("../img/portfolioProjects/lightSwitch002.webp");
}
.cardPortfolio__cardImage--memory {
  background-image: url("../img/portfolioProjects/memoryGame014.webp");
}
.cardPortfolio__cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(to top, transparent 15%, rgba(242, 242, 242, 0.4) 35%, rgba(242, 242, 242, 0.7) 70%);
  padding: 1rem 2rem;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
}
.cardPortfolio__cta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
@media (min-width: 37.5em) {
  .cardPortfolio__cta {
    gap: 1.25rem;
  }
}

.cardSkillsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
@media (min-width: 37.5em) {
  .cardSkillsContainer {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

.cardSkills {
  background-color: #f2f2f2;
  min-width: 320px;
  max-width: 450px;
  padding: 1rem;
  margin: 0 0 0.5rem;
}
.cardSkills__figure {
  margin-bottom: 1rem;
}
.cardSkills__img {
  display: block;
  width: clamp(calc(1.4rem + 3.2vw), 6.2vh, calc(3.8rem + 3.2vw));
  margin: 0 auto;
}
@media (min-width: 37.5em) {
  .cardSkills {
    max-width: 250px;
  }
  .cardSkills__img {
    width: clamp(calc(1.3rem + 3vw), 6vh, calc(3.6rem + 3vw));
  }
}
@media (min-width: 56.25em) {
  .cardSkills {
    min-width: 310px;
  }
  .cardSkills__img {
    width: clamp(calc(1.4rem + 3vw), 6vh, calc(3.6rem + 3vw));
  }
}

.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
}
@media (min-width: 56.25em) {
  .contactForm {
    gap: 0.125rem;
  }
}

.formGroup {
  margin-bottom: 1rem;
}

.formGroup label {
  display: block;
  margin-bottom: 0.5rem;
}

.formGroup input,
.formGroup textarea {
  background-color: #f2f2f2;
  border-radius: 0.5rem;
  border: 1px solid #003049;
  width: 100%;
  padding: 0.5rem;
}

@media (min-width: 37.5em) {
  .contactFormNameDetailsContainer, .contactFormNumberDetailsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
  }
}
.contactFormNameDetailsContainer .formGroup, .contactFormNumberDetailsContainer .formGroup {
  flex: 1 0 250px;
}

.headingH2Container__hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #1b90d8 20%, rgba(27, 144, 216, 0.75) 35%, rgba(27, 144, 216, 0.5) 50%, rgba(27, 144, 216, 0.25) 65%, rgba(27, 144, 216, 0.1) 80%, rgba(51, 51, 51, 0.05) 95%);
  margin: 0.075rem 0 0.15rem;
}
.headingH2Container__subheadingH2 {
  margin-left: clamp(3rem, 12vw, 12rem);
}

.headingH3Container--project {
  margin: 0rem;
}
.headingH3Container__hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 10%, rgba(242, 242, 242, 0.4) 35%, rgba(242, 242, 242, 0.75) 50%, rgba(242, 242, 242, 0.4) 75%, rgba(0, 0, 0, 0) 90%);
  margin: 0.75rem 0;
}
.headingH3Container__hr--blue {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 10%, rgba(0, 48, 73, 0.4) 35%, rgba(0, 48, 73, 0.75) 50%, rgba(0, 48, 73, 0.4) 75%, rgba(0, 0, 0, 0) 90%);
  margin: 0.75rem auto;
}
.headingH3Container__hr--project {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 10%, rgba(0, 48, 73, 0.4) 35%, rgba(0, 48, 73, 0.75) 50%, rgba(0, 48, 73, 0.4) 75%, rgba(0, 0, 0, 0) 90%);
  margin: 0.5rem auto 0;
}
.headingH3Container__hr--skills {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 10%, rgba(0, 48, 73, 0.4) 35%, rgba(0, 48, 73, 0.75) 50%, rgba(0, 48, 73, 0.4) 75%, rgba(0, 0, 0, 0) 90%);
  margin: 0.85rem auto 0;
}
.headingH4 {
  margin-bottom: 1rem;
}

.icon {
  width: 1.8rem;
  height: 1.8rem;
}

.logo {
  display: flex;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.6s;
  z-index: 100;
}
.logo__img {
  border: 2px solid whitesmoke;
  border-radius: 50%;
  box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.9);
  display: block;
  height: auto;
  width: clamp(3.5rem, 11vw, 6rem);
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: clamp(.75rem, 2vw, 1.25rem);
}
.hamburgerBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  background-color: transparent;
  width: 3rem;
  height: 4.6rem;
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: relative;
  z-index: 100;
  backface-visibility: hidden;
}
.hamburgerBtn__hamburgerBar {
  background-color: #f2f2f2;
  width: 100%;
  height: 3px;
}
.hamburgerBtn__hamburgerBar--top, .hamburgerBtn__hamburgerBar--middle, .hamburgerBtn__hamburgerBar--bottom {
  position: absolute;
  left: 0;
}
.hamburgerBtn__hamburgerBar--top {
  top: 32%;
  transition: all 0.5s;
}
.hamburgerBtn__hamburgerBar--middle {
  top: 50%;
  transition: opacity 3s;
}
.hamburgerBtn__hamburgerBar--bottom {
  top: 67%;
  transition: all 0.5s;
}
.hamburgerBtn__hamburgerBar--transparent {
  opacity: 0;
  transition: all 0s;
}
.hamburgerBtn:hover > .hamburgerBtn__hamburgerBar--top {
  transform: translateY(-2px);
}
.hamburgerBtn:hover > .hamburgerBtn__hamburgerBar--bottom {
  transform: translateY(2px);
}
.navbar > .hamburgerBtn > .hamburgerBtn__hamburgerBar--right {
  transform: rotate(135deg);
  height: 4px;
  top: 50%;
}
.navbar > .hamburgerBtn > .hamburgerBtn__hamburgerBar--left {
  transform: rotate(-135deg);
  height: 4px;
  top: 50%;
}

.navList--displayNone {
  display: none;
}

.navList--display {
  display: flex;
}

.navList {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(to bottom, rgba(0, 48, 73, 0.8), rgba(51, 51, 51, 0.9) 20%), url("../img/hero/hero-background-img.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 15rem 3rem;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 1;
  z-index: 0;
}
.navList__navItem {
  margin-bottom: 1rem;
  cursor: pointer;
}
.navList__navLink {
  color: transparent;
  font-size: 2.5rem;
  font-weight: 900;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: url("../img/backgroundImages/bgAnimateTextWallpaper.png");
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: 100%;
  position: relative;
  z-index: 100;
  transition: all 0.4s;
}
.navList__navLink::after {
  content: "";
  background-color: #C1121F;
  height: 2px;
  width: 99%;
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: -100;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0s;
}
.navList__navLink:hover::after {
  transform: scaleX(1);
  transition: 0.4s ease-in;
}
.navList__navLink:hover {
  animation: animateNavLink 0.4s ease-in 1 forwards;
}
.navList .navFrame {
  background: linear-gradient(to bottom right, #c1121f 5%, rgba(153, 24, 24, 0.8) 20%, rgba(0, 48, 73, 0.9) 75%, rgba(27, 144, 216, 0.6));
  border-bottom: 1px solid #cccccc;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.navLinkId {
  position: absolute;
  top: -10rem;
  left: 0;
}

.navList--navListMoveIn {
  animation: animateNavListContainerMoveIn 0.4s ease-out forwards;
}

.navList--navListMoveOut {
  animation: animateNavListContainerMoveOut 0.4s ease-out 0.8s forwards;
}

.navItem--moveIn {
  animation: animateNavItemsMoveIn 0.4s ease-out forwards;
}

.navItem--moveOut {
  animation: animateNavItemsMoveOut 0.3s ease-in forwards;
}

.paragraph--userX {
  margin-bottom: 2.5rem;
}

.socialMedia {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  margin: 2rem auto 0.25rem;
  width: 90%;
}
.socialMedia__icon {
  width: clamp(3rem, 11vw, 5rem);
  height: clamp(3rem, 11vw, 5rem);
}
@media (min-width: 37.5em) {
  .socialMedia__icon {
    width: clamp(2.5rem, 7.5vw, 5rem);
    height: clamp(2.5rem, 7.5vw, 5rem);
  }
}
@media (min-width: 56.25em) {
  .socialMedia {
    justify-content: flex-start;
    gap: 5rem;
    margin: 2rem auto 0.25rem 0;
  }
  .socialMedia__icon {
    width: clamp(2rem, 8vw, 7rem);
    height: clamp(2rem, 8vw, 7rem);
  }
}

.techStack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 3.5rem;
  row-gap: 2rem;
  margin: 1.5rem 0 2.8rem;
}
@media (min-width: 37.5em) {
  .techStack {
    column-gap: 4rem;
    row-gap: 2rem;
  }
}
@media (min-width: 56.25em) {
  .techStack {
    justify-content: space-around;
    column-gap: 6rem;
    row-gap: 2rem;
  }
}
.techStack__img {
  width: clamp(4rem, 10vw, 8rem);
  filter: drop-shadow(0 15px 10px rgba(0, 0, 0, 0.6));
}
@media (min-width: 37.5em) {
  .techStack__img {
    width: clamp(3rem, 8vw, 7rem);
    filter: drop-shadow(0 12px 7px rgba(0, 0, 0, 0.5));
  }
}
@media (min-width: 56.25em) {
  .techStack__img {
    width: clamp(3rem, 5vw, 7rem);
    filter: drop-shadow(0 12px 7px rgba(0, 0, 0, 0.5));
  }
}

.testimonialContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  gap: 4rem;
}

.testimonialCard {
  width: min(100%, 450px);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  box-shadow: 0 0 13px 2px rgba(41, 40, 40, 0.2);
}
.testimonialCard__paragraph {
  padding: 3rem 2rem 2rem;
  position: relative;
}
.testimonialCard__paragraph::after {
  content: "";
  background-image: url("../img/testimonials/InvertedCommaIcon.png");
  background-size: 10rem;
  background-position: 2rem 1rem;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.testimonialCard__figure {
  background: linear-gradient(340deg, #003049 20%, #1b90d8 70%, rgba(242, 242, 242, 0.1) 97%);
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  padding: 6.5rem 0 2rem;
  margin-top: 5rem;
  position: relative;
}
.testimonialCard__img {
  background: linear-gradient(157deg, #003049 10%, #1b90d8 50%, #f2f2f2);
  border: 2px solid #f0f0f0;
  border-radius: 100%;
  box-shadow: 0 5px 18px 5px rgba(41, 40, 40, 0.5), 0 2px 5px 1px rgba(41, 40, 40, 0.8);
  width: 10rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.testimonialCard__figcaption {
  padding: 0 2rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333333;
  padding: 6rem 2rem 0rem;
}
@media (min-width: 56.25em) {
  .footer__contentWrapper {
    width: 90%;
  }
}
.footer__contentWrapper > * {
  margin-bottom: 2rem;
}
.footer__figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__figure--img {
  border: 5px solid #f2f2f2;
  border-radius: 50%;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
  width: clamp(8rem, 18vw, 12rem);
}
@media (min-width: 37.5em) {
  .footer > * {
    margin-bottom: 1rem;
  }
  .footer .socialMedia {
    margin-top: 1.2rem;
  }
  .footer__figure--img {
    width: clamp(8rem, 12vw, 11rem);
  }
  .footer__legalNoticesParContainer {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
  }
}
@media (min-width: 56.25em) {
  .footer > * {
    margin-bottom: 1rem;
  }
  .footer .socialMedia {
    margin-top: 1.5rem;
  }
  .footer__figure {
    flex-direction: row;
    gap: 4rem;
  }
  .footer__figure--img {
    margin-top: 1.2rem;
    width: clamp(6rem, 34vw, 10rem);
    order: 2;
  }
  .footer__legalNoticesParContainer {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
  }
}

.header {
  background: conic-gradient(from 45deg at 107% -12%, rgba(27, 144, 216, 0.75) 115deg, rgba(51, 51, 51, 0.2), rgba(193, 18, 31, 0.75) 215deg), url("../img/hero/hero-background-img.webp");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 7.5rem clamp(2rem, 6.5vw, 4rem) 4rem;
}
@media (min-width: 400px) {
  .header {
    background: conic-gradient(from 45deg at 107% -7%, rgba(27, 144, 216, 0.75) 123deg, rgba(51, 51, 51, 0.2), rgba(193, 18, 31, 0.75) 215deg), url("../img/hero/hero-background-img.webp");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (min-width: 500px) {
  .header {
    background: conic-gradient(from 45deg at 107% -7%, rgba(27, 144, 216, 0.75) 135deg, rgba(51, 51, 51, 0.2), rgba(193, 18, 31, 0.75) 215deg), url("../img/hero/hero-background-img.webp");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (min-width: 700px) {
  .header {
    background: conic-gradient(from 55deg at 107% -7%, rgba(27, 144, 216, 0.75) 135deg, rgba(51, 51, 51, 0.2), rgba(193, 18, 31, 0.75) 215deg), url("../img/hero/hero-background-img.webp");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (min-width: 900px) {
  .header {
    background: conic-gradient(from 65deg at 107% -7%, rgba(27, 144, 216, 0.75) 135deg, rgba(51, 51, 51, 0.2), rgba(193, 18, 31, 0.75) 215deg), url("../img/hero/hero-background-img.webp");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (min-width: 900px) and (min-height: 750px) {
  .header {
    background: conic-gradient(from 50deg at 107% -7%, rgba(27, 144, 216, 0.75) 135deg, rgba(51, 51, 51, 0.2), rgba(193, 18, 31, 0.75) 215deg), url("../img/hero/hero-background-img.webp");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (min-width: 56.25em) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.header__navbar {
  margin-bottom: calc(10vh - 5rem);
}
.header__hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  position: relative;
}
.header__hero > * {
  margin-bottom: calc(9vh - 2.8rem);
}
@media (min-height: 640px) {
  .header__hero > * {
    margin-bottom: calc(10vh - 4rem);
  }
}
.header__hero .heroContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 37.5em) {
  .header__hero .heroContentContainer {
    max-width: 587px;
  }
}
@media (min-width: 56.25em) {
  .header__hero .heroContentContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: min(95%, 950px);
  }
}
@media (min-width: 75em) {
  .header__hero .heroContentContainer {
    min-width: min(95%, 1250px);
  }
}
@media (min-width: 900px) and (min-height: 750px) {
  .header__hero .heroContentContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
.header__hero .heroTextContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5vh;
}
@media (min-width: 56.25em) {
  .header__hero .heroTextContentContainer {
    width: 52%;
  }
}
.header__hero .figure {
  margin-bottom: calc(6vh - 3.5rem);
}
@media (min-height: 640px) {
  .header__hero .figure {
    margin-bottom: calc(6vh - 4rem);
  }
}
@media (min-width: 56.25em) {
  .header__hero .figure {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 48%;
  }
}
@media (min-width: 900px) and (max-height: 750px) {
  .header__hero .figure {
    justify-content: flex-start;
    align-self: flex-start;
  }
}
@media (min-width: 900px) and (min-height: 750px) {
  .header__hero .figure {
    justify-content: center;
    align-self: center;
  }
}
.header__hero .figure__img {
  border: 5px solid #f2f2f2;
  border-radius: 50%;
  box-shadow: 3px 7px 5px 5px rgba(0, 0, 0, 0.3);
  width: clamp(calc(8rem + 15vh - 4rem), 55vw, calc(18rem + 20vh - 12rem));
}
@media (min-width: 56.25em) {
  .header__hero .figure__img {
    border-radius: 1rem;
    width: 85%;
  }
}
@media (min-width: 900px) and (min-height: 750px) {
  .header__hero .figure__img {
    border-radius: 50%;
    width: clamp(calc(7rem + 14vh - 4rem), 50vw, calc(17rem + 19vh - 12rem));
  }
}
.header__hero .primaryHeading > * {
  display: block;
}
.header__hero .primaryHeading__subheading {
  margin-bottom: calc(9vh - 2.8rem);
}
@media (min-height: 640px) {
  .header__hero .primaryHeading__subheading {
    margin-bottom: calc(10vh - 4rem);
  }
}
@media (min-width: 56.25em) {
  .header__hero .primaryHeading__subheading {
    margin-bottom: calc(10vh - 2.25rem);
  }
  .header__hero .primaryHeading__paragraph {
    max-width: 548px;
  }
}
@media (min-width: 900px) and (min-height: 700px) {
  .header__hero .primaryHeading__subheading {
    margin-bottom: calc(10vh - 3.5rem);
  }
}
@media (min-width: 900px) and (min-height: 750px) {
  .header__hero .primaryHeading__paragraph {
    min-width: 600px;
  }
}
.header__hero .cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}
@media (min-width: 450px) {
  .header__hero .cta {
    flex-direction: row;
    gap: 2rem;
  }
}
@media (min-height: 900px) and (min-width: 600px) {
  .header__hero .cta {
    flex-direction: column;
  }
}
@media (min-height: 650px) and (min-width: 900px) {
  .header__hero .cta {
    flex-direction: column;
  }
}

.main {
  background-color: #f2f2f2;
  padding: 7rem 2rem 0;
}
@media (min-width: 500px) {
  .main {
    margin: 0 auto;
    max-width: 90%;
  }
}
.main > * {
  margin-bottom: 7rem;
}
.main__aboutSection {
  position: relative;
  z-index: 100;
}
.main__aboutSection > * {
  margin-bottom: 2rem;
}
@media (min-width: 56.25em) {
  .main__aboutSection > .paragraph {
    display: inline;
  }
}
.main__aboutSection::after {
  content: "";
  background: linear-gradient(to left, #f2f2f2, rgba(242, 242, 242, 0) 5%), url("../img/about/AboutMeBackgroundImage.webp");
  background-size: clamp(22rem, 55vw, 55rem);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}
@media (min-width: 56.25em) {
  .main__aboutSection::after {
    background-size: clamp(18rem, 35vw, 35rem);
  }
}
@media (min-width: 75em) {
  .main__aboutSection::after {
    background-size: clamp(10rem, 27vw, 27rem);
  }
}
@media (min-width: 112.5em) {
  .main__aboutSection::after {
    background-size: clamp(10rem, 20vw, 20rem);
  }
}
.main__portfolioSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  position: relative;
}
.main__portfolioSection > * {
  margin-bottom: 2rem;
}
.main__portfolioSection > article {
  margin-bottom: 3rem;
}
.main__portfolioSection > article:last-of-type {
  margin-bottom: 0rem;
}
.main__testimonialSection > * {
  margin-bottom: 2rem;
}
.main__skillsSection {
  position: relative;
}
.main__skillsSection > * {
  margin-bottom: 2rem;
}
.main__contactSection {
  position: relative;
}
.main__contactSection > * {
  margin-bottom: 2rem;
}
@media (min-width: 75em) {
  .main__contactSection .textAndContactMessageContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5rem;
  }
  .main__contactSection .textAndContactMessageContainer .introParAndContactItemsContainer {
    max-width: 42%;
  }
  .main__contactSection .textAndContactMessageContainer .contactMessageContainer {
    flex: 1 0 50%;
    margin-top: 0rem;
  }
}
@media (min-width: 56.25em) {
  .main__contactSection .introParAndContactItemsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5rem;
  }
  .main__contactSection .introParAndContactItemsContainer .introParagraph {
    flex: 0 0 45%;
    order: 0;
  }
  .main__contactSection .introParAndContactItemsContainer .contactItemsContainer {
    flex: 0 0 55%;
    justify-content: flex-start;
    margin-top: 0.25rem;
    min-width: fit-content;
  }
}
@media (min-width: 75em) {
  .main__contactSection .introParAndContactItemsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
  }
  .main__contactSection .introParAndContactItemsContainer .contactItemsContainer {
    justify-content: flex-start;
    margin-top: 0.25rem;
    min-width: fit-content;
  }
}
.main__contactSection .contactItemsContainer, .main__contactSection .contactMessageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  margin-top: 3rem;
}
@media (min-width: 37.5em) {
  .main__contactSection .contactItemsContainer, .main__contactSection .contactMessageContainer {
    align-items: stretch;
  }
  .main__contactSection .contactItemsContainer .headingH3Container, .main__contactSection .contactMessageContainer .headingH3Container {
    margin-bottom: 1rem;
  }
}
@media (min-width: 56.25em) {
  .main__contactSection .contactItemsContainer {
    align-items: flex-start;
  }
  .main__contactSection .contactItemsContainer .headingH3Container {
    margin-bottom: 1rem;
  }
}
.main__contactSection .contactItemsInnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}
@media (min-width: 37.5em) {
  .main__contactSection .contactItemsInnerContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 0.75rem;
    column-gap: 4rem;
  }
}
@media (min-width: 56.25em) {
  .main__contactSection .contactItemsInnerContainer {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 1.5rem;
  }
}
.main__contactSection .contactItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.main__contactSection .contactItem__icon {
  width: 2rem;
  height: 2rem;
}
@media (max-width: 350px) and (min-height: 750px) {
  .main__contactSection .contactItem {
    flex-direction: column;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem clamp(2rem, 6.5vw, 4rem);
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: all 0.6s;
}

.navbar--background {
  background: linear-gradient(to bottom right, #c1121f 5%, rgba(153, 24, 24, 0.8) 20%, rgba(0, 48, 73, 0.9) 75%, rgba(27, 144, 216, 0.6));
  border-bottom: 1px solid #cccccc;
}

body {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  gap: 0;
}

/*# sourceMappingURL=style.css.map */
