/*
0px			- 		600px:			mobile 		--> Mobile First Approach 
											   	    (where normal styles apply)
600px		- 		900px: 			tab-port 	-->	Tablet Portrait 
900px		-		1200px:			tab-land	-->	Tablet Landscape
1200px		-		1800px:			desk		-->	Desktop 
1800px +							big-desk	-->	Big Desktop

REMEMBER: 1em = 16px;
$breakpoint argument choices
	- tab-port and >	600 --> 900 	: min-width: 37.5em (600/16)
	- tab-land and >	900 --> 1200	: min-width: 56.25em (900/16)
	- desk and >		1200 --> 1800	: min-width: 75em (1200/16)
	- big-desk and >    1800 +			: min-width: 112.5em (1800/16)

ORDER: base + typography > general layout + grid > page layout > components

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  /* 	1rem is equal to 10px */
  /* 	because 10px / 10 is equal to 1rem */
  /* 	therefore 30px is equal to 3rem */
  /* 	the default font size of the browser is 16px */
  /* 	10px / 16px *100 = 62.5% */
  font-size: 62.5%;
}
@media (min-width: 37.5em) {
  html {
    /* 	12px / 16px *100 = 75% */
    font-size: 75%;
  }
}
@media (min-width: 56.25em) {
  html {
    /* 	13px / 16px *100 = 81.25% */
    font-size: 81.25%;
  }
}
@media (min-width: 75em) {
  html {
    /* 	15px / 16px *100 = 93.75% */
    font-size: 93.75%;
  }
}
@media (min-width: 112.5em) {
  html {
    /* 	18px / 16px *100 = 112.5% */
    font-size: 112.5%;
  }
}

body {
  /* This makes dealing with the sizes of elements much easier, 
  	and generally eliminates a number of pitfalls you can stumble on
  	 while laying out your content. */
  /* The width and height properties include the content, padding, and border, 
  	but do not include the margin.  Note that padding and border will be inside 
  	of the box. */
  box-sizing: border-box;
  position: relative;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  color: #dedede;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
}

.btn {
  color: #0a3465;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.navbar__logo {
  text-align: center;
}
.navbar__logo--devName {
  font-size: clamp(1.5rem, 4vw, 2.3rem);
  font-weight: 900;
  line-height: 1;
}
.navbar__logo--devDesc {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}

.header__section {
  text-align: justify;
}
.header__section--primaryHeading {
  color: #2e2d2d;
  font-size: 1.6rem;
}
.header__section--primaryHeadingSpanName {
  color: #7b0909;
  font-size: clamp(2.3rem, 6vw, 4rem);
  font-weight: 900;
  line-height: 1;
  letter-spacing: 1px;
  margin-left: 0rem;
}
.header__section--paragraph {
  color: #2e2d2d;
  font-size: 1.6rem;
  font-weight: bold;
}
.header__section--iconContainerText {
  color: #eee;
  font-weight: 700;
  letter-spacing: 1px;
}

.about__section {
  color: #2e2d2d;
}
.about__section--heading {
  font-size: clamp(2.3rem, 6vw, 4rem);
}
.about__section--paragraph {
  font-size: clamp(1.6rem, 4vw, 2.6rem);
  font-weight: 700;
  text-align: justify;
}
.about__section--iconContainerText {
  color: #eee;
  font-weight: 700;
  letter-spacing: 1px;
}

.portfolio__section {
  color: #2e2d2d;
}

.footer {
  text-align: center;
}
.footer__figure--figcaption-name {
  font-size: clamp(1.8rem, 2.7vw, 2.7rem);
  font-weight: 900;
}
.footer__figure--figcaption-dev {
  font-size: clamp(1.2rem, 1.7vw, 1.7rem);
}
.footer__section-copyright--h2 {
  font-size: clamp(1.5rem, 2vw, 2rem);
}
.footer__section-copyright--p {
  font-size: clamp(1.2rem, 1.7vw, 1.7rem);
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-xtrasmall {
  margin-bottom: 0.5rem;
}

.u-margin-top-xtrasmall {
  margin-top: 1rem;
}

.u-margin-right-xtrasmall {
  margin-right: 0.5rem;
}

.btn {
  border-radius: 0.5em;
  padding: 0.5em 1em;
}

.header__section--btn {
  margin-bottom: 2rem;
}

.navbar__logo {
  display: flex;
  align-items: center;
}
.navbar__logo--img {
  border: 2px solid whitesmoke;
  border-radius: 50%;
  box-shadow: 0 10px 20px black;
  width: clamp(4rem, 12vw, 6rem);
}
.navbar__logo--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(14, 14, 14, 0.935);
  padding: 2rem 2rem;
}
.footer__figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.footer__figure--img {
  border: 5px solid whitesmoke;
  border-radius: 50%;
  box-shadow: 0 10px 20px black;
  width: clamp(13rem, 20vw, 18rem);
  margin-bottom: 2rem;
}

.header__section {
  background: linear-gradient(180deg, transparent 50%, rgba(0, 0, 0, 0.9) 90%), linear-gradient(138deg, rgba(123, 9, 9, 0.6) 20%, rgba(0, 0, 0, 0.5) 40%, rgba(10, 52, 101, 0.6) 50%), url(../../img/header-background-img-1000.webp);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70rem;
  padding: 2rem;
}
.header__section--banner {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
  width: clamp(25rem, 70vw, 40rem);
  padding: 1em;
  margin: 3rem auto 5rem;
}
.header__section--primaryHeadingSpan1, .header__section--primaryHeadingSpan2, .header__section--primaryHeadingSpan3, .header__section--primaryHeadingSpan4 {
  display: block;
  margin-bottom: 2rem;
}
.header__section--iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6e0909;
  border-radius: 0.5em;
  width: fit-content;
  padding: 0.75em 1.5em;
  margin: 0 auto 4rem;
}
.header__section--iconContainerText {
  margin-left: 1rem;
}
.header__section--svgBriefcase, .header__section--svgCV {
  height: 3rem;
  width: 3rem;
  fill: rgba(245, 245, 245, 0.8);
}

main .about__section {
  background: linear-gradient(to bottom, transparent 60%, white 90%), linear-gradient(to bottom right, transparent 10%, rgba(255, 255, 255, 0.75) 65%, white 95%), url(/img/about-background-photo.webp);
  background-size: clamp(30rem, 60vw, 55rem);
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 2rem;
}
main .about__section--heading {
  margin-bottom: 2rem;
}
main .about__section--paragraph {
  margin-bottom: 2rem;
}
main .about__section--paragraph:last-of-type {
  margin-bottom: 4rem;
}
main .about__section--iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6e0909;
  border-radius: 0.5em;
  width: fit-content;
  padding: 0.25em 1em;
  margin: 0 auto 4rem;
}
main .about__section--iconContainerText {
  margin-left: 1rem;
}
main .about__section--svgSkills {
  height: 4rem;
  width: 4rem;
  fill: #eee;
}
main .portfolio__section {
  background-color: white;
  padding: 2rem;
}
main .portfolio__section--heading {
  margin-bottom: 2rem;
}
main .portfolio__section--paragraph {
  margin-bottom: 2rem;
}
main .portfolio__section--paragraph:last-of-type {
  margin-bottom: 4rem;
}
main .portfolio__section--iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6e0909;
  border-radius: 0.5em;
  width: fit-content;
  padding: 0.25em 1em;
  margin: 0 auto 4rem;
}
main .portfolio__section--iconContainerText {
  margin-left: 1rem;
}
main .portfolio__section--svgSkills {
  height: 4rem;
  width: 4rem;
  fill: #eee;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(14, 14, 14, 0.935);
  padding: 1rem 2rem;
}
.navbar__hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
}
.navbar__hamburger--bar {
  position: relative;
}
.navbar__hamburger--bar, .navbar__hamburger--bar::before, .navbar__hamburger--bar::after {
  background-color: #cacad3;
  height: 2px;
  width: 40px;
}
.navbar__hamburger--bar::before, .navbar__hamburger--bar::after {
  content: "";
  position: absolute;
}
.navbar__hamburger--bar::before {
  top: -7px;
}
.navbar__hamburger--bar::after {
  top: 7px;
}

/*# sourceMappingURL=styles.css.map */
