/*
0px			- 		600px:			Phone
600px		-		900px:			Tablet Portrait
900px		-		1200px:			Tablet Landscape
1200px		-		1800px:			Desktop First Approach (is where our normal styles apply)
1800px +							Big Desktop

$breakpoint argument choices
	- phone
	- tab-port
	- tab-land
	- big-desktop

ORDER: base + typography > general layout + grid > page layout > components
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 	1rem is equal to 10px */
  /* 	because 10px / 10 is equal to 1rem */
  /* 	therefore 30px is equal to 3rem */
  /* 	the default font size of the browser is 16px */
  /* 	10px / 16px *100 = 62.5% */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body {
  color: #04042e;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  padding: 2rem;
}

.heading-secondary--red {
  background-image: linear-gradient(to right, #ff0000, #f1f1f1);
}
.heading-secondary--blue {
  background-image: linear-gradient(to right, #04042e, #a1a1a1);
}
.heading-secondary--redSub {
  background-image: linear-gradient(to right, #f1f1f1, #ff0000);
}
.heading-secondary--blueSub {
  background-image: linear-gradient(to right, #a1a1a1, #04042e);
}
.heading-secondary--main {
  display: block;
  width: max-content;
  margin: 0 auto;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
.heading-secondary--sub {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  text-transform: lowercase;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  padding: 0.5rem 0 0.8rem 0;
}
.heading-secondary--whiteSubBorder {
  border-top: 1px solid #04042e;
  border-bottom: 1px solid #04042e;
}
.heading-secondary--redSubBorder {
  border-top: 1px solid #ff0000;
  border-bottom: 1px solid #ff0000;
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 900;
}

.paragraph {
  font-size: 1.6rem;
  font-weight: 400;
}
.paragraph:not(:last-child) {
  margin-bottom: 1rem;
}
.paragraph__popup {
  font-size: 1.3rem;
}
.paragraph__popup:not(:last-child) {
  margin-bottom: 1rem;
}

.about__content--text {
  color: white;
  text-align: justify;
}

.portfolio__contBelow {
  color: #f1f1f1;
  text-align: center;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-xtrasmall {
  margin-bottom: 0.5rem;
}

.u-margin-bottom-small {
  margin-bottom: 1rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-large {
  margin-bottom: 6rem;
}

.u-margin-bottom-xtralarge {
  margin-bottom: 8rem;
}

.u-margin-top-small {
  margin-top: 2rem;
}

.u-margin-top-medium {
  margin-top: 4rem;
}

.u-margin-top-large {
  margin-top: 6rem;
}

.u-margin-top-xtralarge {
  margin-top: 8rem;
}

.subsection-wrapper {
  padding: 0 5rem 5rem 5rem;
}

.btn, .btn:link, .btn:visited {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  width: 15rem;
  padding: 0.5rem 2rem;
  backface-visibility: hidden;
  transition: all 0.2s;
}
.btn:hover {
  font-weight: 600;
}
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.2rem);
  box-shadow: 0 2px 13px rgba(4, 4, 46, 0.4);
}
.btn--white {
  color: #04042e;
  border: 5px solid #f1f1f1;
  background-color: #f1f1f1;
}
.btn--white:hover {
  color: #ff0000;
  border: 5px solid #ff0000;
  box-shadow: 0 2px 1rem #f1f1f1;
}
.btn--grey {
  color: #04042e;
  font-size: 1.2rem;
  border: 5px solid #cacad3;
  background-color: #cacad3;
  width: 10rem;
  padding: 0 0;
}
.btn--grey:hover {
  color: #04042e;
  border: 5px solid #04042e;
  background-color: #cacad3;
}

.card {
  width: 65%;
}
.card__heading-wrapper {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-image: linear-gradient(to right bottom, rgba(255, 0, 0, 0.95), rgba(4, 4, 46, 0.95));
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  min-height: 7rem;
  position: relative;
}
.card__heading {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 45%;
}
.card__heading--iconandtext {
  color: #c9c8c8;
  font-size: 2.5rem;
}
.card__content {
  font-weight: 400;
  text-align: center;
  padding: 7rem 2.5rem;
  margin: -5rem 0 -5rem 0;
  background-color: #cacad3;
}
.card__button-wrapper {
  background-image: linear-gradient(to right top, rgba(255, 0, 0, 0.95), rgba(4, 4, 46, 0.95));
  background-size: cover;
  clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  min-height: 7rem;
  position: relative;
}
.card__button {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 60%;
}

.carousel__carouselFunction {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.carousel__carouselFunction--arrowContainer {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  width: 5rem;
  transition: all 0.2s;
}
.carousel__carouselFunction--arrowContainer:hover {
  font-size: 3rem;
}
.carousel__carouselIndex--indexContainer {
  display: flex;
  justify-content: space-evenly;
  width: 15rem;
  height: 30px;
  margin: 0 auto;
}
.carousel__carouselIndex--indexBox {
  background-color: #04042e;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}

.img-comp {
  position: relative;
}
.img-comp__img {
  width: 18rem;
  border: 2px solid white;
  border-radius: 3px;
  outline-offset: 0.5rem;
  position: absolute;
  transition: all 0.4s;
}
.img-comp__img--schalk {
  width: 23rem;
  top: 5rem;
  right: 35%;
  z-index: 120;
}
.img-comp__img--family {
  width: 20rem;
  top: 0;
  right: 30%;
  z-index: 130;
}
.img-comp__img--potjiekos {
  width: 20rem;
  top: 5rem;
  right: 0;
  z-index: 110;
}
.img-comp__img:hover {
  outline: 0.5rem solid #ff0000;
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 0 1.5rem rgba(241, 241, 241, 0.9), 0 0 7rem rgba(4, 4, 46, 0.9);
  z-index: 200;
}
.img-comp:hover .img-comp__img:not(:hover) {
  transform: scale(0.95);
}

.minicard {
  color: #c9c8c8;
  font-size: 1.2rem;
  text-align: center;
  width: 30%;
  align-self: flex-start;
  min-height: 15rem;
  border: 2px solid #04042e;
  background: radial-gradient(circle at 100% 120%, #04042e 75%, #cacad3);
}
.minicard li {
  list-style: none;
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right bottom, rgba(255, 0, 0, 0.8), rgba(4, 4, 46, 0.95));
  z-index: 300;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
}
.popup__content {
  color: #f1f1f1;
  text-align: justify;
  background-color: #04042e;
  border-radius: 0.2rem;
  box-shadow: 0 2rem 4rem rgba(4, 4, 46, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  padding: 2.5rem;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.3);
  transition: all 0.6s 0.2s;
}
.popup__img {
  display: block;
  width: 9rem;
  height: auto;
  border: 1px solid #f1f1f1;
  padding: 0.5rem;
  margin: 0.3rem;
}
.popup__img--1 {
  float: left;
  margin-right: 1.5rem;
}
.popup__img--2 {
  float: right;
  width: 21rem;
  margin-left: 1.5rem;
}
.popup__img--3 {
  float: left;
  width: 12rem;
  margin-right: 1.5rem;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.socialMedia {
  display: flex;
  justify-content: flex-start;
}
.socialMedia__linkWrapper {
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.socialMedia__linkWrapper:not(:last-child) {
  margin-right: 1rem;
}
.socialMedia__icon {
  color: #04042e;
  transition: all 0.25s;
}
.socialMedia__icon:hover {
  color: #ff0000;
  transform: scale(1.1);
}

.header {
  height: 90vh;
}

.about {
  background-color: #04042e;
  min-height: 100vh;
  clip-path: polygon(0 0, 5% 0, 5% 4%, 0 4%, 5% 4%, 10% 4%, 10% 0%, 15% 0%, 15% 4%, 10% 4%, 10% 8%, 5% 8%, 5% 4%, 0% 4%, 0 8%, 5% 8%, 5% 12%, 0 12%, 0% 16%, 5% 16%, 5% 12%, 10% 12%, 10% 8%, 15% 8%, 15% 4%, 20% 4%, 20% 0%, 25% 0%, 25% 4%, 20% 4%, 20% 8%, 15% 8%, 15% 12%, 10% 12%, 10% 16%, 5% 16%, 5% 20%, 0% 20%, 0 24%, 5% 24%, 5% 20%, 10% 20%, 10% 16%, 15% 16%, 15% 12%, 20% 12%, 20% 8%, 25% 8%, 25% 4%, 30% 4%, 30% 0%, 100% 0%, 100% 100%, 0% 100%);
  padding-top: 4rem;
}
.about__content {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.about__content--images {
  width: 45rem;
  margin-right: 4.5rem;
}
.about__content--text {
  width: 45rem;
  margin-left: 4.5rem;
}

.skills {
  background-color: #f1f1f1;
  min-height: 100vh;
  padding-top: 4rem;
  padding-bottom: 2rem;
}
.skills__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  text-align: justify;
}
.skills__content hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
.skills__content--below {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.skills__contAbove {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.skills__contAbove--description {
  width: 45%;
}
.skills__contAbove--carousel {
  width: 45%;
}
.skills__contBelow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.skills__contBelow--description {
  width: 45%;
  order: 2;
}
.skills__contBelow--toolsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 45%;
  padding: 1rem 0 2rem 0;
}
.portfolio {
  background-color: #04042e;
  min-height: 100vh;
  padding-top: 4rem;
  padding-bottom: 2rem;
}
.portfolio__content {
  display: flex;
  justify-content: center;
  border: 0.5rem solid #c9c8c8;
  border-radius: 0.5rem;
  width: 85%;
  margin: 0 auto;
}
.portfolio__contAbove {
  display: flex;
  flex-direction: row;
}
.portfolio__contAbove--img {
  width: 100%;
}
.portfolio__contBelow {
  min-width: 45%;
  padding: 5rem;
  position: relative;
}
.portfolio__contBelow a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 75%;
}

/*# sourceMappingURL=styles.css.map */
