// to make background color for text visible
@mixin backgroundTextTransparent {
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	color: transparent;
}

// use absCenter to center a block level element
@mixin absCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0px			- 		300px:			Phone300

0px  		-		500px:			Phone Small
500px		- 		600px:			Phone
600px		-		750px:			Tablet Portrait 2
750px		- 		900px: 			Tablet Portrait 
900px		-		1200px:			Tablet Landscape
1200px		-		1800px:			Desktop First Approach (is where our 
									normal styles apply)
900px +								Tablet Portrait and bigger
1800px +							Big Desktop

@mixin respond-phone {
	@media (max-width: 600px) { @content};
}

$breakpoint argument choices
	- phone300 and <
	- phone small and <
	- phone and <
	- tablet-portrait-2 and <
	- tablet-portrait and <
	- tablet-landscape and <
	- tablet-portrait and >
	- big-desktop and >

ORDER: base + typography > general layout + grid > page layout > components
*/
@mixin respond($breakpoint) {
	// phone small 300px <
	@if $breakpoint == phone300 {
		// 300px (300/16 = 18.75)                 REMEMBER: 1em = 16px;
		@media (max-width: 18.75em) {
			@content;
		}
	}
	// phone small 300x650 <
	@if $breakpoint == phone300Maxand650Max {
		// 300px (300/16 = 18.75) && 650px (650/16 = 40.63)
		// REMEMBER: 1em = 16px;
		@media (max-width: 18.75em) and (max-height: 40.63em) {
			@content;
		}
	}
	// phone small 300x700 <
	@if $breakpoint == phone300Maxand700Max {
		// 300px (300/16 = 18.75) && 700px (700/16 = 40.63)
		// REMEMBER: 1em = 16px;
		@media (max-width: 18.75em) and (max-height: 43.75em) {
			@content;
		}
	}
	// phone small 350px <
	@if $breakpoint == phone350 {
		// 350px (350/16 = 21.88)                 REMEMBER: 1em = 16px;
		@media (max-width: 21.88em) {
			@content;
		}
	}
	// phone small 350x550 <
	@if $breakpoint == phone350Maxand550Max {
		// 350px (350/16 = 21.88) && 550px (550/16 = 34.38)
		// REMEMBER: 1em = 16px;
		@media (max-width: 21.88em) and (max-height: 34.38em) {
			@content;
		}
	}
	// phone small 350x600 <
	@if $breakpoint == phone350Maxand600Max {
		// 350px (350/16 = 21.88) && 600px (600/16 = 37.5)
		// REMEMBER: 1em = 16px;
		@media (max-width: 21.88em) and (max-height: 37.5em) {
			@content;
		}
	}
	// phone small 400px <
	@if $breakpoint == phone400 {
		// 400px (400/16 = 25)                 REMEMBER: 1em = 16px;
		@media (max-width: 25em) {
			@content;
		}
	}
	// phone small 400x800 <
	@if $breakpoint == phone400Maxand650Max {
		// 400px (400/16 = 25) && 650px (650/16 = 50)
		// REMEMBER: 1em = 16px;
		@media (max-width: 25em) and (max-height: 40.63em) {
			@content;
		}
	}
	// phone small 400x700 <
	@if $breakpoint == phone400Maxand700Max {
		// 400px (400/16 = 25) && 700px (700/16 = 43.75)
		// REMEMBER: 1em = 16px;
		@media (max-width: 25em) and (max-height: 43.75em) {
			@content;
		}
	}
	// phone small 400x800 <
	@if $breakpoint == phone400Maxand800Max {
		// 400px (400/16 = 25) && 800px (800/16 = 50)
		// REMEMBER: 1em = 16px;
		@media (max-width: 25em) and (max-height: 50em) {
			@content;
		}
	}
	// phone small 400x850 <
	@if $breakpoint == phone400Maxand850Max {
		// 400px (400/16 = 25) && 850px (850/16 = 53.13)
		// REMEMBER: 1em = 16px;
		@media (max-width: 25em) and (max-height: 53.13em) {
			@content;
		}
	}
	// phone small 450px <
	@if $breakpoint == phone450 {
		// 450px (450/16 = 28.13)                 REMEMBER: 1em = 16px;
		@media (max-width: 28.13em) {
			@content;
		}
	}
	// phone small 450x750 <
	@if $breakpoint == phone450Maxand750Max {
		// 450px (450/16 = 28.13) && 750px (750/16 = 46.88)
		// REMEMBER: 1em = 16px;
		@media (max-width: 28.13em) and (max-height: 46.88em) {
			@content;
		}
	}
	// phone small 450x850 <
	@if $breakpoint == phone450Maxand850Max {
		// 450px (450/16 = 28.13) && 850px (850/16 = 53.13)
		// REMEMBER: 1em = 16px;
		@media (max-width: 28.13em) and (max-height: 53.13em) {
			@content;
		}
	}
	// phone small breakpoint
	@if $breakpoint == phone-small {
		// 500px (500/16 = 31.25)                 REMEMBER: 1em = 16px;
		@media (max-width: 31.25em) {
			@content;
		}
	}
	// phone small 500px <
	@if $breakpoint == phone500 {
		// 500px (500/16 = 34.38)                 REMEMBER: 1em = 16px;
		@media (max-width: 31.25em) {
			@content;
		}
	}
	// phone small 500x860 <
	@if $breakpoint == phone500Maxand860Max {
		// 500px (500/16 = 31.25) && 860px (860/16 = 53.75)
		// REMEMBER: 1em = 16px;
		@media (max-width: 31.25em) and (max-height: 53.75em) {
			@content;
		}
	}
	// phone small 550px <
	@if $breakpoint == phone550 {
		// 550px (550/16 = 34.38)                 REMEMBER: 1em = 16px;
		@media (max-width: 34.38em) {
			@content;
		}
	}
	// phone small 550x750 <
	@if $breakpoint == phone550Maxand750Max {
		// 550px (550/16 = 34.38) && 750px (750/16 = 46.88)
		// REMEMBER: 1em = 16px;
		@media (max-width: 34.38em) and (max-height: 46.88em) {
			@content;
		}
	}
	// phone breakpoint
	@if $breakpoint == phone {
		// 600px (600/16 = 37.5)                 REMEMBER: 1em = 16px;
		@media (max-width: 37.5em) {
			@content;
		}
	}
	// tablet portrait 2 breakpoint
	@if $breakpoint == tablet-portrait-2 {
		// 750px (750/16 = 46.88)                 REMEMBER: 1em = 16px;
		@media (max-width: 46.88em) {
			@content;
		}
	}
	// tablet portrait breakpoint
	@if $breakpoint == tablet-portrait {
		// 900px (900/16 = 56.25)
		@media (max-width: 56.25em) {
			@content;
		}
	}
	// tablet landscape breakpoint
	@if $breakpoint == tablet-landscape {
		// 1200px (1200/16 = 75)
		@media (max-width: 75em) {
			@content;
		}
	}
	// tablet portrait bigger breakpoint
	@if $breakpoint == tablet-portrait-bigger {
		// 900 and >
		@media (min-width: 56.25em) {
			@content;
		}
	}
	// big desktop breakpoint
	@if $breakpoint == big-desktop {
		// 1800px (1800/16 = 112.5)
		@media (min-width: 112.5em) {
			@content;
		}
	}
}
