// primary colors
$cp-blue: #1b90d8;
$cp-darkBlue: #003049;
$cp-red: #c1121f;
$cp-darkRed: #991818;
$cp-dark: #333333;
$cp-darkGrey: #626262;
$cp-grey: #9c9c9c;
$cp-lightGrey: #cccccc;
$cp-light: #e8e8e8;
$cp-white: #f2f2f2;

// font colors
$cf-blue: #1b90d8;
$cf-darkBlue: #003049;
$cf-red: #c1121f;
$cf-darkRed: #991818;
$cf-white: #f0f0f0;
$cf-dark: #292828;


// font-size
$fs-h1: 3rem;
$fs-h2: 2.5rem;
$fs-h3: 2rem;
$fs-h4: 1.5rem;
$fs-btn: 1.5rem;
$fs-p: 1rem;

// border-radius
$br-sm: .35rem;
$br-m: .5rem;
$br-l: 1rem;

// box-shadow
$bs-dark: 0 0 5px 2px rgba(0, 0, 0, .4);
$bs-btn: 0px 0px 8px 4px rgba($cp-dark, .5);
$bs-btnHover: 0px 8px 40px 3px rgba(0, 0, 0, .7);

//margin
$mb-section: 4rem;
$mb-h1: 4rem;
$mb-btn: 4rem;
$mb-h2: 2rem;
$mb-h3: 1.5rem;
$mb-h4: 1rem;
$mb-p: 1rem;




