// colors
$color-primary-darkBlue: rgb(4, 4, 46);
$color-primary-brightRed: rgb(255, 0, 0);
$color-primary-white: rgb(238, 238, 238);

// font colors
$color-font-default: rgb(12, 12, 12);
$color-font-primary-funky: #d2359f;

// font-size
$font-size-heading-secondary-main: 3rem;
$font-size-heading-secondary-sub: 1.3rem;
