// primary colors
$cp-blue: #0a3465;
$cp-red: #7b0909;
$cp-dark: #2b2b2b;
$cp-darkgrey: #3e3e3e;
$cp-grey: #b4b4b4;
$cp-lightgrey: #d7d7d7;
$cp-white: #eee;

// font colors
$cf-white: #eee;
$cf-darkGrey: #3e3e3e;


// font-size
$fs-h1: 3rem;
$fs-h2: 2.5rem;
$fs-h3: 2rem;
$fs-h4: 1.5rem;
$fs-btn: 1.5rem;
$fs-p: 1rem;

// border-radius
$br-sm: .2rem;
$br-m: .5rem;
$br-l: .7rem;

// box-shadow
$bs-dark: 0 0 5px 2px rgba(0, 0, 0, .3);

//margin
$mb-section: 4rem;
$mb-h1: 4rem;
$mb-btn: 2rem;
$mb-h2: 2rem;
$mb-h3: 1.5rem;
$mb-h4: 1rem;
$mb-p: 1rem;




