.header {
    
    &__section {
        background: linear-gradient(
                180deg, 
                transparent 50%, 
                rgba(0, 0, 0, .9) 90%), 
                linear-gradient(
                138deg,
                rgba(123,9,9,.6) 20%,
                rgba(0,0,0,.5) 40%, 
                rgba(10,52,101,.6) 50%),
                url(../../img/header-background-img-1000.webp);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;

        min-height: 70rem;

        padding: 2rem;
        
        &--banner {
            background-color: rgba(255,255,255, 0.85);
            border-radius: $br-m;
            box-shadow: $bs-dark;

            width: clamp(25rem, 70vw, 40rem);

            padding: 1em;
            margin: 3rem auto 5rem;
        }

        &--primaryHeadingSpan1, &--primaryHeadingSpan2, &--primaryHeadingSpan3, &--primaryHeadingSpan4 {
            display: block;
            margin-bottom: $mb-p;
        }

        .btn {
            margin: 0 auto 2rem;
        }
    }    
}
