.header {
    

    &__section {
        background: linear-gradient(
                180deg, 
                transparent 50%, 
                rgba(0, 0, 0, .9) 90%), 
                linear-gradient(
                138deg,
                rgba(123,9,9,.6) 20%,
                rgba(0,0,0,.5) 40%, 
                rgba(10,52,101,.6) 50%),
                url(../../img/header-background-img-1000.webp);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;

        min-height: 70rem;

        padding: 2rem;
        
        &--banner {
            background-color: rgba(255,255,255, 0.85);
            border-radius: .5rem;
            box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, .3);

            width: clamp(25rem, 70vw, 40rem);

            padding: 1em;
            margin: 3rem auto 5rem;
        }

        &--primaryHeadingSpan1, &--primaryHeadingSpan2, &--primaryHeadingSpan3, &--primaryHeadingSpan4 {
            display: block;
            margin-bottom: 2rem;
        }

        &--iconContainer {
            display: flex;
            justify-content: center;
            align-items: center; 
            background-color: rgba(110,9,9,1);
            border-radius: .5em;
            width: fit-content;
            padding: .75em 1.5em;
            margin: 0 auto 4rem;    
        }

        &--iconContainerText {
            margin-left: 1rem;
        }

        &--svgBriefcase, &--svgCV {
            height: 5rem;
            width: 5rem;
            fill: rgba(245, 245, 245, 0.8);
        }
    }    
}
