main {
    .about {

        &__section {
            background: linear-gradient(to bottom, transparent 60%, rgba(255, 255, 255, 1) 90%), linear-gradient(to bottom right, transparent 10%, rgba(255, 255, 255, .75) 65%, rgba(255, 255, 255, 1) 95%),url(/img/about-background-photo.webp);
            background-size: clamp(30rem, 60vw, 55rem);
            background-repeat: no-repeat;
            background-position: bottom right;
            padding: 2rem;

            &--heading {
                margin-bottom: $mb-h2;
            }

            .btn {
                margin: 0 auto 2rem;
            }
        }
        
    }

    .portfolio {

        &__section {
            background-color: $cp-white;
            padding: 2rem;

            &--heading {
                margin-bottom: $mb-h2;
            }

            &--paragraph {
                margin-bottom: $mb-p;
            }

            &--paragraph:last-of-type {
                margin-bottom: 4rem;
            }
            
        }
        
    }
    
}
