main {
    .about {

        &__section {
            background: linear-gradient(to bottom, transparent 60%, rgba(255, 255, 255, 1) 90%), linear-gradient(to bottom right, transparent 10%, rgba(255, 255, 255, .75) 65%, rgba(255, 255, 255, 1) 95%),url(/img/about-background-photo.webp);
            background-size: clamp(30rem, 60vw, 55rem);
            background-repeat: no-repeat;
            background-position: bottom right;
            padding: 2rem;

            &--heading {
                margin-bottom: 2rem;
            }

            &--paragraph {
                margin-bottom: 2rem;
            }

            &--paragraph:last-of-type {
                margin-bottom: 4rem;
            }

            &--iconContainer {
                display: flex;
                justify-content: center;
                align-items: center; 
                background-color: rgba(110,9,9,1);
                border-radius: .5em;
                width: fit-content;
                padding: .25em 1em;
                margin: 0 auto 4rem;   
            }

            &--iconContainerText {
                margin-left: 1rem;
            }

            &--svgSkills {
                height: 4rem;
                width: 4rem;
                fill: $color-font-white;
            }
        }
        
    }

    .portfolio {

        &__section {
            background-color: rgba(255, 255, 255, 1);
            padding: 2rem;

            &--heading {
                margin-bottom: 2rem;
            }

            &--paragraph {
                margin-bottom: 2rem;
            }

            &--paragraph:last-of-type {
                margin-bottom: 4rem;
            }

            &--iconContainer {
                display: flex;
                justify-content: center;
                align-items: center; 
                background-color: rgba(110,9,9,1);
                border-radius: .5em;
                width: fit-content;
                padding: .25em 1em;
                margin: 0 auto 4rem;   
            }

            &--iconContainerText {
                margin-left: 1rem;
            }

            &--svgSkills {
                height: 4rem;
                width: 4rem;
                fill: $color-font-white;
            }
        }
        
    }
    
}
