.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    background-color: transparent;
    padding: 0rem clamp(2rem, 6.5vw, 4rem) 4rem;;
    // padding: 2rem;

    position: -webkit-sticky;
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;

    z-index: 1000;

}