*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	font-family: sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color: #777;
	box-sizing: border-box;
}

h3 {
	margin-bottom: 1rem;
	font-size: 2rem;
}

p {
	margin-bottom: 1rem;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
}

li {
	list-style: none;
	padding-left: 3rem;
}

.navbar {
	color: rgb(1, 1, 34) !important;
	font-size: 2rem;
	padding: 2rem 5rem 1rem 5rem;
	height: 8rem;
}

.navbar-brand {
	font-size: 1.8rem;
}

#nav-logo-span {
	color: red;
	font-size: 3rem;
	font-weight: 500;
}

.nav-item {
	width: 10rem;
}

.nav-link {
	text-align: center;
	height: 5rem;
}

.nav-link:hover {
	color: red !important;
	/* font-size: 2.1rem; */
	font-weight: 600;
}

#subsection-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20rem;
}

#header-profile-section {
	font-size: 2rem;
	padding-top: 2rem;
}

#heading-span-1 {
	font-size: 1.5rem;
	display: block;
}

#heading-span-2 {
	color: red;
	font-size: 3rem;
	display: block;
}

#heading-span-3 {
	font-size: 2rem;
	display: block;
}

.section-wrapper-blue {
	background-color: rgb(1, 1, 34);
	color: white;
	font-size: 1.5rem;
}

.section-wrapper-white {
	background-color: white;
	color: rgb(1, 1, 34);
	font-size: 1.5rem;
}

.heading-wrapper-blue {
	color: rgb(1, 1, 34);
	font-size: 2.5rem;
	font-weight: 700;
	text-align: center;
	padding: 3.5rem 0 1.5rem 0;
}

.heading-wrapper-white {
	color: white;
	font-size: 2.5rem;
	font-weight: 700;
	text-align: center;
	padding: 3.5rem 0 1.5rem 0;
}

.subsection-wrapper {
	padding: 0rem 5rem 2rem 5rem;
	display: flex;
	justify-content: flex-start;
}

.subsec-wrap-space-around {
	display: flex;
	justify-content: space-around;
}

.subsec-nopad {
	padding-bottom: 0rem;
}

.container-1 {
	display: flex;
	/* justify-content: space-between; */
	margin: 0rem;
}

.container-1-contact {
	display: flex;
	flex-direction: column;
	margin: 0rem;
	width: 45%;
}

.container-2 {
	width: 80%;
}

.container-2-contact {
	display: flex;
	flex-direction: column;
	margin: 0rem;
	width: 45%;
}

.sub-container-1 {
	width: 20%;
}

.sub-container-2 {
	padding-left: 1rem;
}

.box {
	padding: 0rem 10rem 0rem 0rem;
}

img {
	max-width: 160px;
	display: block;
	height: auto;
	margin-left: 0;
	border: solid white 2px;
	border-radius: 1%;
}

.contact-item {
	display: flex;
	align-items: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.contact-item-info {
	padding-left: 1.5rem;
}

.contact-item-socialmedia {
	display: flex;
	padding-right: 4rem;
}

.contact-icon {
	color: rgb(1, 1, 34);
}

.contact-form {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.contact-form-space {
	margin-bottom: 2rem;
	padding: 1rem;
}

.contact-input {
	width: 100%;
}

.btn-blue {
	background-color: rgb(1, 1, 34);
	color: white;
}

.btn-white {
	background-color: white;
	color: rgb(1, 1, 34);
}

.contact-desc {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

footer {
	/* color: white; */
	font-size: 1.7rem;
	background-color: rgb(1, 1, 34);
	min-height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footerSpan {
	font-family: sans-serif;
	color: white;
	font-size: 1.5rem;
	font-weight: 500;
}
