*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	font-family: sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color: #777;
	box-sizing: border-box;
}

h3 {
	margin-bottom: 1rem;
	font-size: 2rem;
}

p {
	margin-bottom: 1rem;
}

.about-subsection-wrapper p {
	text-align: justify;
	margin-bottom: 1.2rem;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
}

button {
	/* padding: 1em 2em; */
	border-radius: 0.5em;
}

.btn {
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 1rem;
	border: none;
	outline: none;
	padding: 1rem 2rem;
	position: relative;
	transition: all 1000ms;
}

.btn:link,
.btn:visited {
}

.btn-white {
	color: rgb(6, 6, 97);
	font-weight: 600;
	background-color: #fff;
}

.btn-blue {
	color: #fff;
	font-weight: 600;
	background-color: rgb(6, 6, 97);
}

.btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
}

.btn:active {
	transform: translateY(-1px);
	box-shadow: 0 2.5px 5px rgba(255, 255, 255, 0.5);
}

.btn::after {
	content: " ";
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 1rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all 0.4s;
}

.btn-white::after {
	background-color: rgb(255, 255, 255);
}

.btn:hover::after {
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}

.learnMore {
	margin: 2rem 0rem;
}

li {
	list-style: none;
	padding-left: 3rem;
}

a {
	text-decoration: none;
}

#navbar {
	background-color: white;
	padding: 1rem 5rem 0.5rem 5rem;
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0px;
	width: 100%;
	transition: 700ms;
	z-index: 1000;
}

#navbar-brand {
	color: rgb(1, 1, 34);
	font-weight: 600;
	font-size: 1.8rem;
}

#nav-logo-span-1 {
	color: rgb(1, 1, 34);
	font-size: 1.6rem;
	font-weight: 700;
	display: block;
}
#nav-logo-span-2 {
	color: red;
	font-size: 3rem;
	font-weight: 600;
	letter-spacing: 0.6rem;
	display: block;
}

#hamburger-btn {
	color: rgb(1, 1, 34);
	background-color: white;
	height: 4rem;
	width: 4rem;
	border: none;
	text-decoration: none;
	outline: none;
	transition: 700ms;
	padding-top: 1rem;
}

#hamburger-menu {
	min-width: 100%;
	min-height: 100vh;
	background-color: white;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 2000;
	margin: 0 1rem 0 0rem;
	opacity: 0;
	transition: all 1500ms;
}

/* .opacityFull {
	opacity: 1;
} */

#menu-navbar {
	background-color: red;
	padding: 1rem 5rem 0.5rem 5rem;
	display: flex;
	justify-content: space-between;
	max-width: 100%;
}

#menu-navbar-brand {
	color: rgb(1, 1, 34);
	font-weight: 600;
	font-size: 1.8rem;
}

#menu-nav-logo-span-1 {
	color: white;
	font-size: 1.6rem;
	font-weight: 700;
	display: block;
}
#menu-nav-logo-span-2 {
	color: rgb(1, 1, 34);
	font-size: 3rem;
	font-weight: 600;
	letter-spacing: 0.6rem;
	display: block;
}

#menu-times-btn {
	color: rgb(1, 1, 34);
	background-color: red;
	height: 4rem;
	width: 4rem;
	border: none;
	text-decoration: none;
	outline: none;
	padding-top: 1rem;
}

.hamtime-btns {
	font-size: 40px;
}

/* #hamburger-btn {
	color: rgb(1, 1, 34);
	font-size: 4rem;
	background-color: white;
	height: 4rem;
	width: 4rem;
	border: none;
	text-decoration: none;
	outline: none;
	padding-top: 1rem;
} */

#hamburger-menu h3 {
	font-size: 4rem;
	text-align: center;
	border-bottom: 4px solid #777;
	max-width: 40%;
	margin: 0 auto;
	margin-bottom: 2rem;
}

.hamburger-item {
	/* margin: auto; */
	padding: 0;
	height: 6rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hamburger-link {
	color: rgb(1, 1, 34);
	font-size: 2rem;
	font-weight: 600;
	text-align: center;
	display: block;
	padding-top: 0.8rem;
	transition: 300ms;
}

.menuDisplay {
	display: none;
}

#navbar-nav-items {
	height: 100%;
	display: flex;
}

.nav-item {
	width: 10rem;
	padding: 0;
}

.nav-link {
	color: rgb(1, 1, 34);
	font-size: 2rem;
	font-weight: 600;
	text-align: center;
	display: block;
	height: 100%;
	padding-top: 0.8rem;
	transition: 300ms;
}

#subsection-wrapper {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 5rem;
}

#header-profile-section {
	font-size: 2rem;
	padding-top: 2rem;
}

#header-profile-section div {
	padding-top: 0;
}

#heading-span-1 {
	font-size: 1.6rem;
	display: block;
}

#heading-span-2 {
	color: red;
	font-size: 3rem;
	display: block;
}

#heading-span-3 {
	font-size: 2rem;
	display: block;
}

.section-wrapper-blue {
	background-color: rgb(1, 1, 34);
	color: white;
	font-size: 1.5rem;
	min-height: 100vh;
	position: relative;
	padding-top: 230px;
}

.colorFiller-white {
	width: 100vw;
	min-height: 50px;
	background-color: white;
	position: absolute;
	top: 0px;
	left: 0px;
}

.section-wrapper-white {
	background-color: white;
	color: rgb(1, 1, 34);
	font-size: 1.5rem;
	min-height: 100vh;
	position: relative;
	padding-top: 230px;
}

.colorFiller-blue {
	width: 100vw;
	min-height: 50px;
	background-color: rgb(1, 1, 34);
	position: absolute;
	top: 0px;
	left: 0px;
}

.heading-wrapper-blue {
	color: rgb(1, 1, 34);
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
	/* padding: 3.5rem 0rem 1.5rem 0rem; */
	position: absolute;
	top: 200px;
	left: 50%;
	transform: translate(-50%, -100%);
}

.heading-wrapper-white {
	color: white;
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
	/* padding: 3.5rem 0rem 1.5rem 0rem; */
	position: absolute;
	top: 200px;
	left: 50%;
	transform: translate(-50%, -100%);
}

.subsection-wrapper {
	padding: 0rem 5rem 2rem 5rem;
	display: flex;
	justify-content: flex-start;
}

.portfolio-subsection-wrapper {
	padding: 0rem 5rem 2rem 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contact-subsection-wrapper {
	padding: 0rem 5rem 2rem 5rem;
	display: flex;
	justify-content: center;
}

.subsec-wrap-space-around {
	display: flex;
	justify-content: space-around;
}

.subsec-nopad {
	padding-bottom: 0rem;
}

.container-1 {
	display: flex;
	/* justify-content: space-between; */
	margin: 0rem;
}

.container-1-portfolio {
	display: flex;
	justify-content: center;
	margin: 0rem;
	margin-bottom: 3rem;
}

.container-1-contact {
	display: flex;
	flex-direction: column;
	margin: 0rem;
	margin-bottom: 3rem;
	min-width: 50%;
}

.container-2 {
	width: 80%;
}

.container-2-contact {
	display: flex;
	flex-direction: column;
	/* justify-content: space-evenly; */
	margin: 0rem;
	margin-bottom: 3rem;
	max-width: 35%;
}

.sub-container-1 {
	width: 20%;
}

.sub-container-2 {
	padding-left: 1rem;
}

.box {
	margin: 0rem 2rem;
	min-width: 132px;
	margin-bottom: 1rem;
}

.box-center-text {
	text-align: center;
}

/* ***************************** */
/* **********  about  ********** */

/* #about {
	padding-top: 50px;
} */

/* #about .heading-wrapper-white {
	height: 238px;
} */

.about-subsection-wrapper {
	padding: 1.5rem 5rem 2rem 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about-container-1 {
	display: flex;
	justify-content: space-around;
	margin: 0rem;
	max-width: 900px;
	/* position: relative; */
	z-index: 1;
}

#plussContent {
	opacity: 0;
	transition: opacity 2000ms;
}

#minusContent {
	opacity: 1;
	transition: opacity 2000ms;
}

.about-sub-container-1 {
	width: 40%;
	/* display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center; */
}

#image-wrapper {
	position: relative;
	width: 100%;
}

.about-sub-container-2 {
	width: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#image-wrapper img {
	max-width: 50%;
	display: block;
	height: auto;
	border: solid white 2px;
	border-radius: 1%;
	margin: 1rem auto 2rem auto;
	position: absolute;
}

#imgPotjie {
	top: 70px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 0;
}

#imgPotjie:hover {
	transform: translateX(-50%) scale(1.2);
	transition: 1000ms;
	z-index: 5;
}

#imgHike {
	top: 25px;
	left: 50%;
	transform: translateX(-20%);
	z-index: 1;
}

#imgHike:hover {
	transform: translateX(-20%) scale(1.2);
	transition: 1000ms;
	z-index: 5;
}

#imgSchalk {
	top: 2px;
	left: 50%;
	transform: translateX(-100%);
	z-index: 2;
}

#imgSchalk:hover {
	transform: translateX(-100%) scale(1.2);
	transition: 1000ms;
	z-index: 5;
}

#aboutMoreContent {
	height: 100%;
	margin: 0 auto;
	color: white;
	font-size: 1.42rem;
	background-color: rgba(1, 1, 34, 0.989);
	border-radius: 1rem;
	padding: 3% 2.5%;
	/* position: absolute; */
	/* top: 50%;
	transform: translateY(-50%); */
	/* left: 0px; */
	z-index: 2;
	/* opacity: 0;
	transition: opacity 2000ms; */
}

.aboutMoreScrollContent {
	/* overflow: auto;
	max-height: 350px; */
	padding: 2rem;
	/* border: solid white 3px; */
	border-radius: 1rem;
}

.returnBtn {
	display: block;
	margin: 2.5rem auto 0;
}

/* .aboutMoreScrollContent::-webkit-scrollbar {
	display: none;
} */

#about-times-text {
	font-size: 2rem;
}

/* #about-times-btn {
	color: white;
	font-size: 4rem;
	background-color: rgba(0, 162, 255, 0);
	height: 4rem;
	width: 4rem;
	border: none;
	text-decoration: none;
	outline: none;
	padding-top: 1rem;
	display: inline-block;
	width: 100%;
	text-align: right;
	box-shadow: cornsilk;
} */

.moreContentDisplay {
	display: none;
}

.lessContentDisplay {
	display: none;
}

.imgMoreContent {
	border-radius: 1rem;
	border: solid white 2px;
	margin: 0;
}

.imgSchalkFloatLeft {
	width: 20%;
	display: block;
	height: auto;
	float: left;
	margin-right: 2rem;
	margin-top: 0.5rem;
}

.imgHikeFloatRight {
	width: 30%;
	display: block;
	height: auto;
	float: right;
	margin-left: 2rem;
	margin-top: 0.5rem;
}
.imgPotjieFloatLeft {
	width: 20%;
	display: block;
	height: auto;
	float: left;
	margin-right: 2rem;
	margin-top: 0.5rem;
}

/* ************     about section above     ************ */

/* ************     skills section below     ************ */
.skills-container-1 {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 0rem;
	max-width: 1200px;
}

#skill-box {
	width: 45%;
}

#tool-box {
	width: 45%;
}

/* .skills-sub-container-1 {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.skills-sub-container-2 {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 3rem;
	flex-wrap: wrap;
}

.toolset-sub-container-2 {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 3rem;
	margin-top: 5rem;
	flex-wrap: wrap;
}

.skills-sub-container-2 .box {
	margin: 0rem 2rem;
	max-width: 152px;
	margin-bottom: 1rem;
} */

.skills-sub-container-1 {
	min-width: 40%;
}

.skills-sub-container-2 {
	min-width: 40%;
	margin-top: 1rem;
}

.toolset-sub-container-2 {
	min-width: 40%;
	/* margin-top: 3rem; */
}

.skills-box-wrapper {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.skills-nav-wrapper {
	align-self: center;
	min-width: 5%;
}

.skills-nav-wrapper:hover {
	font-size: 2rem;
}

.skills-item-wrapper {
	text-align: center;
	padding: 1em 1.5em;
	min-width: 75%;
	min-height: 180px;
}

#skill-container {
	box-shadow: 2px 2px 5px rgb(1, 1, 34);
	min-width: 100%;
	min-height: 100%;
	padding: 1em 1.5em;
}

.skills-item-wrapper p {
	text-align: center;
}

.skills-hide {
	display: none;
}

.skills-item-wrapper button {
	padding: .7em 1em;
	color: white;
	background-color: rgba(1, 1, 34, 0.904);
}

.toolset-box-wrapper {
	width: 100%;
	position: relative;
	min-height: 300px;
	z-index: 100;
	padding-left: 100px;
}

.toolset-nav-wrapper {
	align-self: center;
}

.toolset-item-wrapper {
	text-align: center;
	padding: 1em 1.5em;
	box-shadow: 2px 2px 5px rgb(1, 1, 34);
	max-width: 80%;
	min-width: 180px;
	min-height: 180px;
}

#lang {
	background-color: white;
	position: absolute;
	top: 5px;
	left: 50%;
	transform: translateX(-80%);
	z-index: 103;
}

#lang:hover {
	color: white;
	background-color: rgb(1, 1, 34);
	z-index: 110;
}

#tool {
	background-color: white;
	position: absolute;
	top: 55px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 104;
}

#tool:hover {
	color: white;
	background-color: rgb(1, 1, 34);
	z-index: 110;
}

#frame {
	background-color: white;
	position: absolute;
	top: 105px;
	left: 50%;
	transform: translateX(-20%);
	z-index: 105;
}

#frame:hover {
	color: white;
	background-color: rgb(1, 1, 34);
	z-index: 110;
}

.toolset-item-wrapper button {
	padding: .7em 1em;
}

/* .skills-sub-container-1 .box {
		margin: 0rem 0rem;
		max-width: 80%;
		margin-bottom: 1rem;
	}

	.skills-sub-container-2 .box {
		margin: 0rem 2rem;
		max-width: 80%;
		margin-bottom: 1rem;
	} */

/* ************     skills section above     ************ */

/* ***************************** */
/* ********  portfolio  ******** */

.portfolio-subsection-wrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 0 5em;
}

/* .portfolio-box {
	width: 45%;
} */

#portfolio-box-left {
	color: rgb(1, 1, 34);
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2em;
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	max-width: 600px;
	/* height: 384.98px; */
}

#portfolio-box-right {
	color: white;
	background-color: rgb(1, 1, 34);
	border: solid white 2px;
	padding: 2em;
	border-top-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	max-width: 450px;
	min-height: 427.44px;
}

#portfolio-box-right h4 {
	font-size: 1.8rem;
	text-align: center;
	margin: 0 auto 1em;
}

#portfolio-box-right p {
	text-align: center;
	margin-bottom: 2em;
}

#portfolio-box-right button {
	display: block;
	margin: 1em auto;
}

#portfolio-images {
	max-width: 85%;
	display: block;
	height: auto;
	border: solid rgb(1, 1, 34) 2px;
	padding: 1em;
}

/* ****************************** */
/* ****************************** */

/* ************     contact section below     ************ */
.contact-item {
	display: flex;
	align-items: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.contact-item-info {
	padding-left: 1.5rem;
}

.contact-item-socialmedia {
	display: flex;
	padding-right: 4rem;
}

.contact-icon {
	color: rgb(1, 1, 34);
}

.contact-form {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.contact-form-space {
	margin-bottom: 2rem;
	padding: 1rem;
}

.contact-input {
	width: 100%;
}

.btn-blue {
	background-color: rgb(1, 1, 34);
	color: white;
}

.btn-white {
	background-color: white;
	color: rgb(1, 1, 34);
}

.contact-desc {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* ****************************** */
/* ********  contact  *********** */

.contact-subsection-wrapper {
	flex-direction: row;
	justify-content: center;
	padding: 1em;
}

.container-1-contact {
	min-width: 45%;
}

#firstH3Contacts {
	padding-left: 1.5rem;
}

.container-2-contact {
	min-width: 45%;
}

.container-2-contact h3 {
	margin-top: 3rem;
}

.contact-lg-box {
	margin-top: 3rem;
	padding-left: 1.5rem;
}

.contact-item-info p {
	margin-bottom: 5px;
}

.contact-icon {
	font-size: 2.5rem;
	margin-right: 1rem;
}

/* ****************************** */
/* ****************************** */
/* ************     contact section above     ************ */

/* ************     footer section below     ************ */
footer {
	/* color: white; */
	font-size: 1.7rem;
	background-color: rgb(1, 1, 34);
	min-height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footerSpan {
	font-family: sans-serif;
	color: white;
	font-size: 1.5rem;
	font-weight: 500;
}

#footerBrand {
	color: red;
	font-size: 2rem;
}
/* ************     footer section above     ************ */

@media (max-width: 992px) {
	#about .heading-wrapper-white {
		padding-bottom: 0rem;
	}

	.aboutMoreScrollContent {
		max-height: 350px;
	}

	.imgMoreContent {
		width: 40%;
		display: block;
		height: auto;
		border-radius: 1rem;
		border: solid white 2px;
		margin: 0.5rem 0rem;
	}

	.imgFloatLeft {
		float: left;
		margin-right: 1.5rem;
	}

	.imgFloatRight {
		float: right;
		margin-left: 1.5rem;
		width: 55%;
	}

	#parFive {
		clear: left;
	}

	.skills-container-1 {
		display: flex;
		flex-direction: column;
	}

	#skill-box {
		width: 80%;
		margin: 0 auto;
	}

	#tool-box {
		width: 80%;
		margin: 0 auto;
	}

	.skills-sub-container-1 {
		min-width: 40%;
	}

	.skills-sub-container-2 {
		min-width: 40%;
		margin-top: 1rem;
	}

	.toolset-sub-container-2 {
		min-width: 40%;
		margin-top: 3rem;
	}

	.skills-box-wrapper {
		display: flex;
		width: 100%;
		justify-content: space-around;
	}

	.skills-nav-wrapper {
		align-self: center;
		min-width: 5%;
	}

	.skills-nav-wrapper:hover {
		font-size: 2rem;
	}

	.skills-item-wrapper {
		text-align: center;
		padding: 1em 1.5em;
		min-width: 75%;
		min-height: 180px;
	}

	#skill-container {
		box-shadow: 2px 2px 5px rgb(1, 1, 34);
		min-width: 100%;
		min-height: 100%;
		padding: 1em 1.5em;
	}

	.skills-item-wrapper p {
		text-align: center;
	}

	.skills-hide {
		display: none;
	}

	.skills-item-wrapper button {
		padding: .7em 1em;
		color: white;
		background-color: rgba(1, 1, 34, 0.904);
	}

	.toolset-box-wrapper {
		width: 100%;
		position: relative;
		min-height: 300px;
		z-index: 100;
		padding-left: 100px;
	}

	.toolset-nav-wrapper {
		align-self: center;
	}

	.toolset-item-wrapper {
		text-align: center;
		padding: 1em 1.5em;
		box-shadow: 2px 2px 5px rgb(1, 1, 34);
		max-width: 80%;
		min-width: 180px;
		min-height: 180px;
	}

	#lang {
		background-color: white;
		position: absolute;
		top: 5px;
		left: 50%;
		transform: translateX(-80%);
		z-index: 103;
	}

	#lang:hover {
		color: white;
		background-color: rgb(1, 1, 34);
		z-index: 110;
	}

	#tool {
		background-color: white;
		position: absolute;
		top: 55px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 104;
	}

	#tool:hover {
		color: white;
		background-color: rgb(1, 1, 34);
		z-index: 110;
	}

	#frame {
		background-color: white;
		position: absolute;
		top: 105px;
		left: 50%;
		transform: translateX(-20%);
		z-index: 105;
	}

	#frame:hover {
		color: white;
		background-color: rgb(1, 1, 34);
		z-index: 110;
	}

	.toolset-item-wrapper button {
		padding: .7em 1em;
	}

	/* .skills-sub-container-1 .box {
		margin: 0rem 0rem;
		max-width: 80%;
		margin-bottom: 1rem;
	}

	.skills-sub-container-2 .box {
		margin: 0rem 2rem;
		max-width: 80%;
		margin-bottom: 1rem;
	} */

	/* ***************************** */
	/* ********  portfolio  ******** */

	.portfolio-subsection-wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		padding: 0 2.5em;
	}

	.portfolio-box {
		width: 95%;
	}

	#portfolio-box-left {
		color: rgb(1, 1, 34);
		background-color: white;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2em;
		border-top-left-radius: 0.5em;
		border-top-right-radius: 0.5em;
		border-bottom-left-radius: 0;
		max-width: 600px;
	}

	#portfolio-box-right {
		color: white;
		background-color: rgb(1, 1, 34);
		border: solid white 2px;
		padding: 2em;
		border-bottom-left-radius: 0.5em;
		border-bottom-right-radius: 0.5em;
		border-top-right-radius: 0;
		margin-bottom: 2em;
		max-width: 600px;
		min-height: 100px;
	}

	#portfolio-images {
		max-width: 85%;
		display: block;
		height: auto;
		border: solid rgb(1, 1, 34) 2px;
		padding: 1em;
	}

	/* ****************************** */
	/* ****************************** */

	/* ****************************** */
	/* ********  contact  *********** */

	.contact-subsection-wrapper {
		flex-direction: row;
		justify-content: space-evenly;
		padding: 1em;
	}

	.container-1-contact {
		min-width: 45%;
	}

	#firstH3Contacts {
		padding-left: 1.5rem;
	}

	.container-2-contact {
		min-width: 45%;
	}

	.container-2-contact h3 {
		margin-top: 3rem;
	}

	.contact-lg-box {
		margin-top: 3rem;
		padding-left: 1.5rem;
	}

	.contact-item-info p {
		margin-bottom: 5px;
	}

	.contact-icon {
		font-size: 2.5rem;
		margin-right: 1rem;
	}

	/* ****************************** */
	/* ****************************** */
}

@media (max-width: 768px) {
	#navbar {
		padding: 1rem 3rem 0.5rem 3rem;
	}

	#nav-logo-span-1 {
		font-size: 1.4rem;
		font-weight: 600;
	}
	#nav-logo-span-2 {
		font-size: 2.8rem;
		font-weight: 600;
		letter-spacing: 0.4rem;
	}

	#menu-nav-logo-span-1 {
		font-size: 1.4rem;
		font-weight: 600;
	}
	#menu-nav-logo-span-2 {
		font-size: 2.8rem;
		font-weight: 600;
		letter-spacing: 0.4rem;
	}

	#menu-navbar {
		background-color: red;
		padding: 1rem 3rem 0.5rem 3rem;
		display: flex;
		justify-content: space-between;
		max-width: 100%;
	}

	#header-profile-section {
		font-size: 1.8rem;
		padding-top: 2rem;
	}

	#heading-span-1 {
		font-size: 1.4rem;
		display: block;
	}

	#heading-span-2 {
		color: red;
		font-size: 2.8rem;
		display: block;
	}

	#heading-span-3 {
		font-size: 1.8rem;
		display: block;
	}

	/* ABOUT SECTION */

	#about .heading-wrapper-white {
		padding-bottom: 0;
	}

	#about p {
		margin-bottom: 1rem;
	}

	.about-subsection-wrapper {
		padding: 0rem 2.5rem 2rem 2.5rem;
	}

	.about-container-1 {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		margin: 0rem;
		min-height: 650px;
		z-index: 1;
	}

	.about-sub-container-1 {
		min-height: 35%;
		margin: 0 auto;
	}

	.about-sub-container-2 {
		width: 90%;
		margin: 0 auto;
	}

	#image-wrapper img {
		max-width: 113px;

		display: block;
		height: auto;
		border: solid white 2px;
		border-radius: 1%;
		margin: 1rem auto 2rem auto;
		position: absolute;
	}

	.aboutMoreScrollContent {
		max-height: 550px;
	}

	.imgMoreContent {
		width: 40%;
		display: block;
		height: auto;
		border-radius: 1rem;
		border: solid white 2px;
		margin: 0.5rem 0rem;
	}

	.imgFloatLeft {
		float: left;
		margin-right: 1.5rem;
	}

	.imgFloatRight {
		float: right;
		margin-left: 1.5rem;
	}

	#parFive {
		clear: left;
	}

	.skills-container-1 {
		display: flex;
		flex-direction: column;
	}

	#skill-box {
		width: 80%;
		margin: 0 auto;
	}

	#tool-box {
		width: 80%;
		margin: 0 auto;
	}

	.skills-sub-container-1 {
		min-width: 40%;
	}

	.skills-sub-container-2 {
		min-width: 40%;
		margin-top: 1rem;
	}

	.toolset-sub-container-2 {
		min-width: 40%;
		margin-top: 3rem;
	}

	.skills-box-wrapper {
		display: flex;
		width: 100%;
		justify-content: space-around;
	}

	.skills-nav-wrapper {
		align-self: center;
		min-width: 5%;
	}

	.skills-nav-wrapper:hover {
		font-size: 2rem;
	}

	.skills-item-wrapper {
		text-align: center;
		padding: 1em 1.5em;
		min-width: 75%;
		min-height: 180px;
	}

	#skill-container {
		box-shadow: 2px 2px 5px rgb(1, 1, 34);
		min-width: 100%;
		min-height: 100%;
		padding: 1em 1.5em;
	}

	.skills-item-wrapper p {
		text-align: center;
	}

	.skills-hide {
		display: none;
	}

	.skills-item-wrapper button {
		padding: .7em 1em;
		color: white;
		background-color: rgba(1, 1, 34, 0.904);
	}

	.toolset-box-wrapper {
		width: 100%;
		position: relative;
		min-height: 300px;
		z-index: 100;
		padding-left: 100px;
	}

	.toolset-nav-wrapper {
		align-self: center;
	}

	.toolset-item-wrapper {
		text-align: center;
		padding: 1em 1.5em;
		box-shadow: 2px 2px 5px rgb(1, 1, 34);
		max-width: 80%;
		min-width: 180px;
		min-height: 180px;
	}

	#lang {
		background-color: white;
		position: absolute;
		top: 5px;
		left: 50%;
		transform: translateX(-80%);
		z-index: 103;
	}

	#lang:hover {
		color: white;
		background-color: rgb(1, 1, 34);
		z-index: 110;
	}

	#tool {
		background-color: white;
		position: absolute;
		top: 55px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 104;
	}

	#tool:hover {
		color: white;
		background-color: rgb(1, 1, 34);
		z-index: 110;
	}

	#frame {
		background-color: white;
		position: absolute;
		top: 105px;
		left: 50%;
		transform: translateX(-20%);
		z-index: 105;
	}

	#frame:hover {
		color: white;
		background-color: rgb(1, 1, 34);
		z-index: 110;
	}

	.toolset-item-wrapper button {
		padding: .7em 1em;
	}

	/* .skills-sub-container-1 .box {
		margin: 0rem 0rem;
		max-width: 80%;
		margin-bottom: 1rem;
	}

	.skills-sub-container-2 .box {
		margin: 0rem 2rem;
		max-width: 80%;
		margin-bottom: 1rem;
	} */

	/* ***************************** */
	/* ********  portfolio  ******** */

	.portfolio-subsection-wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		padding: 0 2.5em;
	}

	.portfolio-box {
		width: 95%;
	}

	#portfolio-box-left {
		color: rgb(1, 1, 34);
		background-color: white;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2em;
		border-top-left-radius: 0.5em;
		border-top-right-radius: 0.5em;
		border-bottom-left-radius: 0;
		max-width: 600px;
	}

	#portfolio-box-right {
		color: white;
		background-color: rgb(1, 1, 34);
		border: solid white 2px;
		padding: 2em;
		border-bottom-left-radius: 0.5em;
		border-bottom-right-radius: 0.5em;
		border-top-right-radius: 0;
		margin-bottom: 2em;
		max-width: 600px;
	}

	#portfolio-images {
		max-width: 85%;
		display: block;
		height: auto;
		border: solid rgb(1, 1, 34) 2px;
		padding: 1em;
	}

	/* ****************************** */
	/* ****************************** */

	/* ****************************** */
	/* ********  contact  *********** */

	.contact-subsection-wrapper {
		flex-direction: column;
		align-items: center;
		padding: 1em;
	}

	.container-1-contact {
		min-width: 80%;
	}

	#firstH3Contacts {
		padding-left: 1.5rem;
	}

	.container-2-contact {
		min-width: 80%;
	}

	.container-2-contact h3 {
		margin-top: 3rem;
	}

	.contact-lg-box {
		margin-top: 3rem;
		padding-left: 1.5rem;
	}

	.contact-item-info p {
		margin-bottom: 5px;
	}

	.contact-icon {
		font-size: 2.5rem;
		margin-right: 1rem;
	}

	/* ****************************** */
	/* ****************************** */

	/* ****************************** */
	/* ********  footer  ************ */

	footer {
		font-size: 1.5rem;
	}

	.footerSpan {
		font-size: 1.3rem;
	}

	#footerBrand {
		font-size: 1.8rem;
	}
}

/* ****************************** */
/* ****************************** */

@media (max-width: 576px) {
	#navbar {
		padding: 1rem 1.5rem 0.5rem 1.5rem;
	}

	#nav-logo-span-1 {
		font-size: 1.1rem;
		font-weight: 600;
	}
	#nav-logo-span-2 {
		font-size: 2.5rem;
		font-weight: 600;
		letter-spacing: 0.2rem;
	}

	#menu-nav-logo-span-1 {
		font-size: 1.1rem;
		font-weight: 600;
	}

	#menu-nav-logo-span-2 {
		font-size: 2.5rem;
		font-weight: 600;
		letter-spacing: 0.2rem;
	}

	#menu-navbar {
		padding: 1rem 1.5rem 0.5rem 1.5rem;
		min-width: 100%;
	}

	#subsection-wrapper {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 5rem 2.5rem 5rem 2.5rem;
	}

	#header-profile-section {
		font-size: 1.6rem;
		padding-top: 2rem;
	}

	#heading-span-1 {
		font-size: 1.1rem;
		display: block;
	}

	#heading-span-2 {
		color: red;
		font-size: 2.5rem;
		display: block;
	}

	#heading-span-3 {
		font-size: 1.5rem;
		display: block;
	}

	.contact-item-socialmedia {
		display: flex;
		padding-right: 2rem;
	}

	/* ABOUT SECTION */

	.about-container-1 {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		margin: 0rem;
		min-height: 700px;
		z-index: 1;
	}

	.about-sub-container-1 {
		min-height: 32%;
	}

	.aboutMoreScrollContent {
		max-height: 600px;
	}

	.imgMoreContent {
		width: 40%;
		display: block;
		height: auto;
		border-radius: 1rem;
		border: solid white 2px;
		margin: 0.5rem 0rem;
	}

	.imgFloatLeft {
		float: left;
		margin-right: 1.5rem;
	}

	.imgFloatRight {
		float: right;
		margin-left: 1.5rem;
	}

	.skills-container-1 {
		display: flex;
		flex-direction: column;
	}

	#skill-box {
		width: 100%;
	}

	#tool-box {
		width: 100%;
	}

	.skills-sub-container-1 {
		min-width: 40%;
	}

	.skills-sub-container-2 {
		min-width: 40%;
		margin-top: 1rem;
	}

	.toolset-sub-container-2 {
		min-width: 40%;
		margin-top: 3rem;
	}

	.skills-box-wrapper {
		display: flex;
		width: 100%;
		justify-content: space-around;
	}

	.skills-nav-wrapper {
		align-self: center;
		min-width: 5%;
	}

	.skills-nav-wrapper:hover {
		font-size: 2rem;
	}

	.skills-item-wrapper {
		text-align: center;
		padding: 1em 1.5em;
		min-width: 75%;
		min-height: 180px;
	}

	#skill-container {
		box-shadow: 2px 2px 5px rgb(1, 1, 34);
		min-width: 100%;
		min-height: 100%;
		padding: 1em 1.5em;
	}

	.skills-item-wrapper p {
		text-align: center;
	}

	.skills-hide {
		display: none;
	}

	.skills-item-wrapper button {
		padding: .7em 1em;
		color: white;
		background-color: rgba(1, 1, 34, 0.904);
	}

	.toolset-box-wrapper {
		width: 100%;
		position: relative;
		min-height: 300px;
		z-index: 100;
		padding-left: 100px;
	}

	.toolset-nav-wrapper {
		align-self: center;
	}

	.toolset-item-wrapper {
		text-align: center;
		padding: 1em 1.5em;
		box-shadow: 2px 2px 5px rgb(1, 1, 34);
		max-width: 80%;
		min-width: 180px;
		min-height: 180px;
	}

	#lang {
		background-color: white;
		position: absolute;
		top: 5px;
		left: 50%;
		transform: translateX(-80%);
		z-index: 103;
	}

	#lang:hover {
		color: white;
		background-color: rgb(1, 1, 34);
		z-index: 110;
	}

	#tool {
		background-color: white;
		position: absolute;
		top: 55px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 104;
	}

	#tool:hover {
		color: white;
		background-color: rgb(1, 1, 34);
		z-index: 110;
	}

	#frame {
		background-color: white;
		position: absolute;
		top: 105px;
		left: 50%;
		transform: translateX(-20%);
		z-index: 105;
	}

	#frame:hover {
		color: white;
		background-color: rgb(1, 1, 34);
		z-index: 110;
	}

	.toolset-item-wrapper button {
		padding: .7em 1em;
	}

	/* .skills-sub-container-1 .box {
		margin: 0rem 0rem;
		max-width: 80%;
		margin-bottom: 1rem;
	}

	.skills-sub-container-2 .box {
		margin: 0rem 2rem;
		max-width: 80%;
		margin-bottom: 1rem;
	} */

	/* ***************************** */
	/* ********  portfolio  ******** */

	.portfolio-subsection-wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		padding: 0 2.5em;
	}

	.portfolio-box {
		width: 95%;
	}

	#portfolio-box-left {
		color: rgb(1, 1, 34);
		background-color: white;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1em;
		border-top-left-radius: 0.5em;
		border-top-right-radius: 0.5em;
		border-bottom-left-radius: 0;
		max-width: 95%;
	}

	#portfolio-box-right {
		color: white;
		background-color: rgb(1, 1, 34);
		border: solid white 2px;
		padding: 1em;
		border-bottom-left-radius: 0.5em;
		border-bottom-right-radius: 0.5em;
		border-top-right-radius: 0;
		margin-bottom: 2em;
		max-width: 95%;
	}

	#portfolio-images {
		max-width: 85%;
		display: block;
		height: auto;
		border: solid rgb(1, 1, 34) 2px;
		padding: 1em;
	}

	/* ****************************** */
	/* ****************************** */

	/* ****************************** */
	/* ********  contact  *********** */

	.contact-subsection-wrapper {
		flex-direction: column;
		align-items: center;
		padding: 1em;
	}

	.container-1-contact {
		min-width: 80%;
	}

	#firstH3Contacts {
		padding-left: 1.5rem;
	}

	.container-2-contact {
		min-width: 80%;
	}

	.container-2-contact h3 {
		margin-top: 3rem;
	}

	.contact-lg-box {
		margin-top: 3rem;
		padding-left: 1.5rem;
	}

	.contact-item-info p {
		margin-bottom: 5px;
	}

	.contact-icon {
		font-size: 2.5rem;
		margin-right: 1rem;
	}

	/* ****************************** */
	/* ****************************** */

	/* FOOTER SECTION */
	footer {
		font-size: 0.925rem;
	}

	.footerSpan {
		font-size: 0.725rem;
	}

	#footerBrand {
		font-size: 1.225rem;
	}
}

/* ************************************* */
/* ************************************* */

@media (max-width: 500px) {
	#navbar {
		padding: 1rem 1.5rem 0.5rem 1.5rem;
	}

	#nav-logo-span-1 {
		font-size: 1.1rem;
		font-weight: 600;
	}
	#nav-logo-span-2 {
		font-size: 2.5rem;
		font-weight: 600;
		letter-spacing: 0.2rem;
	}

	#menu-nav-logo-span-1 {
		font-size: 1.1rem;
		font-weight: 600;
	}

	#menu-nav-logo-span-2 {
		font-size: 2.5rem;
		font-weight: 600;
		letter-spacing: 0.2rem;
	}

	#menu-navbar {
		padding: 1rem 1.5rem 0.5rem 1.5rem;
		min-width: 100%;
	}

	#subsection-wrapper {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 5rem 2.5rem 5rem 2.5rem;
	}

	#header-profile-section {
		font-size: 1.6rem;
		padding-top: 2rem;
	}

	#heading-span-1 {
		font-size: 1.1rem;
		display: block;
	}

	#heading-span-2 {
		color: red;
		font-size: 2.5rem;
		display: block;
	}

	#heading-span-3 {
		font-size: 1.5rem;
		display: block;
	}

	.contact-item-socialmedia {
		display: flex;
		padding-right: 2rem;
	}

	/* ABOUT SECTION */

	.about-container-1 {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		margin: 0rem;
		min-height: 800px;
		z-index: 1;
	}

	.about-sub-container-1 {
		min-height: 34%;
	}

	.aboutMoreScrollContent {
		max-height: 700px;
	}

	#aboutMoreContent {
		top: 50%;
		transform: translateY(-50%);
		height: 100%;
	}

	.imgMoreContent {
		width: 40%;
		display: block;
		height: auto;
		border-radius: 1rem;
		border: solid white 2px;
		margin: 0.5rem 0rem;
	}

	.imgFloatLeft {
		float: left;
		margin-right: 1.5rem;
	}

	.imgFloatRight {
		float: right;
		margin-left: 1.5rem;
	}

	.skills-container-1 {
		display: flex;
		flex-direction: column;
	}

	#skill-box {
		width: 100%;
	}

	#tool-box {
		width: 100%;
	}

	.skills-sub-container-1 {
		min-width: 40%;
	}

	.skills-sub-container-2 {
		min-width: 40%;
		margin-top: 1rem;
	}

	.toolset-sub-container-2 {
		min-width: 40%;
		margin-top: 3rem;
	}

	.skills-box-wrapper {
		display: flex;
		width: 100%;
		justify-content: space-around;
	}

	.skills-nav-wrapper {
		align-self: center;
		min-width: 5%;
	}

	.skills-nav-wrapper:hover {
		font-size: 2rem;
	}

	.skills-item-wrapper {
		text-align: center;
		padding: 1em 1.5em;
		min-width: 75%;
		min-height: 180px;
	}

	#skill-container {
		box-shadow: 2px 2px 5px rgb(1, 1, 34);
		min-width: 100%;
		min-height: 100%;
		padding: 1em 1.5em;
	}

	.skills-item-wrapper p {
		text-align: center;
	}

	.skills-hide {
		display: none;
	}

	.skills-item-wrapper button {
		padding: .7em 1em;
		color: white;
		background-color: rgba(1, 1, 34, 0.904);
	}

	.toolset-box-wrapper {
		width: 100%;
		position: relative;
		min-height: 300px;
		z-index: 100;
		padding-left: 100px;
	}

	.toolset-nav-wrapper {
		align-self: center;
	}

	.toolset-item-wrapper {
		text-align: center;
		padding: 1em 1.5em;
		box-shadow: 2px 2px 5px rgb(1, 1, 34);
		max-width: 80%;
		min-width: 180px;
		min-height: 180px;
	}

	#lang {
		background-color: white;
		position: absolute;
		top: 5px;
		left: 50%;
		transform: translateX(-80%);
		z-index: 103;
	}

	#lang:hover {
		color: white;
		background-color: rgb(1, 1, 34);
		z-index: 110;
	}

	#tool {
		background-color: white;
		position: absolute;
		top: 55px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 104;
	}

	#tool:hover {
		color: white;
		background-color: rgb(1, 1, 34);
		z-index: 110;
	}

	#frame {
		background-color: white;
		position: absolute;
		top: 105px;
		left: 50%;
		transform: translateX(-20%);
		z-index: 105;
	}

	#frame:hover {
		color: white;
		background-color: rgb(1, 1, 34);
		z-index: 110;
	}

	.toolset-item-wrapper button {
		padding: .7em 1em;
	}

	/* .skills-sub-container-1 .box {
		margin: 0rem 0rem;
		max-width: 80%;
		margin-bottom: 1rem;
	}

	.skills-sub-container-2 .box {
		margin: 0rem 2rem;
		max-width: 80%;
		margin-bottom: 1rem;
	} */

	/* ***************************** */
	/* ********  portfolio  ******** */

	.portfolio-subsection-wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		padding: 0 2.5em;
	}

	.portfolio-box {
		width: 95%;
	}

	#portfolio-box-left {
		color: rgb(1, 1, 34);
		background-color: white;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1em;
		border-top-left-radius: 0.5em;
		border-top-right-radius: 0.5em;
		border-bottom-left-radius: 0;
		max-width: 95%;
	}

	#portfolio-box-right {
		color: white;
		background-color: rgb(1, 1, 34);
		border: solid white 2px;
		padding: 1em;
		border-bottom-left-radius: 0.5em;
		border-bottom-right-radius: 0.5em;
		border-top-right-radius: 0;
		margin-bottom: 2em;
		max-width: 95%;
	}

	#portfolio-images {
		max-width: 85%;
		display: block;
		height: auto;
		border: solid rgb(1, 1, 34) 2px;
		padding: 1em;
	}

	/* ****************************** */
	/* ****************************** */

	/* ****************************** */
	/* ********  contact  *********** */

	.contact-subsection-wrapper {
		flex-direction: column;
		align-items: center;
		padding: 1em;
	}

	.container-1-contact {
		min-width: 80%;
	}

	#firstH3Contacts {
		padding-left: 1.5rem;
	}

	.container-2-contact {
		min-width: 80%;
	}

	.container-2-contact h3 {
		margin-top: 3rem;
	}

	.contact-lg-box {
		margin-top: 3rem;
		padding-left: 1.5rem;
	}

	.contact-item-info p {
		margin-bottom: 5px;
	}

	.contact-icon {
		font-size: 2.5rem;
		margin-right: 1rem;
	}

	/* ****************************** */
	/* ****************************** */

	/* FOOTER SECTION */
	footer {
		font-size: 0.925rem;
	}

	.footerSpan {
		font-size: 0.725rem;
	}

	#footerBrand {
		font-size: 1.225rem;
	}
}
