*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	font-family: sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color: #777;
	box-sizing: border-box;
}

h3 {
	margin-bottom: 1rem;
	font-size: 2rem;
}

p {
	margin-bottom: 1rem;
}

.about-subsection-wrapper p {
	text-align: justify;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
}

li {
	list-style: none;
	padding-left: 3rem;
}

a {
	text-decoration: none;
}

#navbar {
	background-color: white;
	padding: 1rem 5rem 0.5rem 5rem;
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0px;
	width: 100%;
}

#navbar-brand {
	color: rgb(1, 1, 34);
	font-weight: 600;
	font-size: 1.8rem;
}

#nav-logo-span-1 {
	color: rgb(1, 1, 34);
	font-size: 1.6rem;
	font-weight: 700;
	display: block;
}
#nav-logo-span-2 {
	color: red;
	font-size: 3rem;
	font-weight: 600;
	letter-spacing: 0.6rem;
	display: block;
}

#hamburger-btn {
	color: rgb(1, 1, 34);
	font-size: 4rem;
	background-color: white;
	height: 4rem;
	width: 4rem;
	border: none;
	text-decoration: none;
	outline: none;
}

#hamburger-menu {
	min-width: 100vw;
	min-height: 100vh;
	margin: auto;
	background-color: white;
	position: fixed;
	top: 0px;
}

#menu-navbar {
	background-color: red;
	padding: 1rem 5rem 0.5rem 5rem;
	display: flex;
	justify-content: space-between;
}

#menu-navbar-brand {
	color: rgb(1, 1, 34);
	font-weight: 600;
	font-size: 1.8rem;
}

#menu-nav-logo-span-1 {
	color: white;
	font-size: 1.6rem;
	font-weight: 700;
	display: block;
}
#menu-nav-logo-span-2 {
	color: rgb(1, 1, 34);
	font-size: 3rem;
	font-weight: 600;
	letter-spacing: 0.6rem;
	display: block;
}

#menu-times-btn {
	color: rgb(1, 1, 34);
	font-size: 4rem;
	background-color: red;
	height: 4rem;
	width: 4rem;
	border: none;
	text-decoration: none;
	outline: none;
	padding-top: 1rem;
}

#hamburger-btn {
	color: rgb(1, 1, 34);
	font-size: 4rem;
	background-color: white;
	height: 4rem;
	width: 4rem;
	border: none;
	text-decoration: none;
	outline: none;
	padding-top: 1rem;
}

#hamburger-menu h3 {
	font-size: 4rem;
	text-align: center;
	border-bottom: 4px solid #777;
	max-width: 40%;
	margin: auto;
	margin-bottom: 2rem;
}

.hamburger-item {
	margin: auto;
	padding: 0;
	height: 6rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hamburger-link {
	color: rgb(1, 1, 34);
	font-size: 2rem;
	font-weight: 600;
	text-align: center;
	display: block;
	padding-top: 0.8rem;
}

.menuDisplay {
	display: none;
}

#navbar-nav-items {
	height: 100%;
	display: flex;
}

.nav-item {
	width: 10rem;
	padding: 0;
}

.nav-link {
	color: rgb(1, 1, 34);
	font-size: 2rem;
	font-weight: 600;
	text-align: center;
	display: block;
	height: 100%;
	padding-top: 0.8rem;
}

#subsection-wrapper {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 5rem;
}

#header-profile-section {
	font-size: 2rem;
	padding-top: 2rem;
}

#header-profile-section div {
	padding-top: 0;
}

#heading-span-1 {
	font-size: 1.6rem;
	display: block;
}

#heading-span-2 {
	color: red;
	font-size: 3rem;
	display: block;
}

#heading-span-3 {
	font-size: 2rem;
	display: block;
}

.section-wrapper-blue {
	background-color: rgb(1, 1, 34);
	color: white;
	font-size: 1.5rem;
	min-height: 100vh;
}

.section-wrapper-white {
	background-color: white;
	color: rgb(1, 1, 34);
	font-size: 1.5rem;
	min-height: 100vh;
}

.heading-wrapper-blue {
	color: rgb(1, 1, 34);
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
	padding: 3.5rem 0rem 1.5rem 0rem;
}

.heading-wrapper-white {
	color: white;
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
	padding: 3.5rem 0rem 1.5rem 0rem;
}

.subsection-wrapper {
	padding: 0rem 5rem 2rem 5rem;
	display: flex;
	justify-content: flex-start;
}

.subsec-wrap-space-around {
	display: flex;
	justify-content: space-around;
}

.subsec-nopad {
	padding-bottom: 0rem;
}

.container-1 {
	display: flex;
	/* justify-content: space-between; */
	margin: 0rem;
}

.container-1-contact {
	display: flex;
	flex-direction: column;
	margin: 0rem;
	width: 45%;
}

.container-2 {
	width: 80%;
}

.container-2-contact {
	display: flex;
	flex-direction: column;
	margin: 0rem;
	width: 45%;
}

.sub-container-1 {
	width: 20%;
}

.sub-container-2 {
	padding-left: 1rem;
}

.box {
	margin: 0rem 2rem;
	min-width: 132px;
	margin-bottom: 1rem;
}

.skills-sub-container-2 .box {
	margin: 0rem 2rem;
	max-width: 152px;
	margin-bottom: 1rem;
}

.about-subsection-wrapper {
	padding: 0rem 5rem 2rem 5rem;
	display: flex;
	justify-content: center;
}

.about-container-1 {
	display: flex;
	justify-content: space-between;
	margin: 0rem;
	max-width: 900px;
}

.skills-container-1 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0rem;
	max-width: 900px;
}

.about-sub-container-1 {
	max-width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.skills-sub-container-1 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 3rem;
}

.skills-sub-container-2 {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 3rem;
	flex-wrap: wrap;
}

.about-sub-container-2 {
	max-width: 70%;
}

img {
	max-width: 85%;
	display: block;
	height: auto;
	border: solid white 2px;
	border-radius: 1%;
	margin: 1rem auto 2rem auto;
}

.contact-item {
	display: flex;
	align-items: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.contact-item-info {
	padding-left: 1.5rem;
}

.contact-item-socialmedia {
	display: flex;
	padding-right: 4rem;
}

.contact-icon {
	color: rgb(1, 1, 34);
}

.contact-form {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.contact-form-space {
	margin-bottom: 2rem;
	padding: 1rem;
}

.contact-input {
	width: 100%;
}

.btn-blue {
	background-color: rgb(1, 1, 34);
	color: white;
}

.btn-white {
	background-color: white;
	color: rgb(1, 1, 34);
}

.contact-desc {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

footer {
	/* color: white; */
	font-size: 1.7rem;
	background-color: rgb(1, 1, 34);
	min-height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footerSpan {
	font-family: sans-serif;
	color: white;
	font-size: 1.5rem;
	font-weight: 500;
}

#footerBrand {
	color: red;
	font-size: 2rem;
}

@media (max-width: 992px) {

	.skills-sub-container-2 .box {
		margin: 0rem 2rem;
		min-width: 250px;
		margin-bottom: 3rem;
	}
}

@media (max-width: 768px) {
	#nav-logo-span-1 {
		font-size: 1.4rem;
		font-weight: 600;
	}
	#nav-logo-span-2 {
		font-size: 2.8rem;
		font-weight: 600;
		letter-spacing: 0.4rem;
	}

	#menu-nav-logo-span-1 {
		font-size: 1.4rem;
		font-weight: 600;
	}
	#menu-nav-logo-span-2 {
		font-size: 2.8rem;
		font-weight: 600;
		letter-spacing: 0.4rem;
	}

	#menu-navbar {
		background-color: red;
		padding: 1rem 2.5rem 0.5rem 2.5rem;
		display: flex;
		justify-content: space-between;
	}

	#header-profile-section {
		font-size: 1.8rem;
		padding-top: 2rem;
	}

	#heading-span-1 {
		font-size: 1.4rem;
		display: block;
	}

	#heading-span-2 {
		color: red;
		font-size: 2.8rem;
		display: block;
	}

	#heading-span-3 {
		font-size: 1.8rem;
		display: block;
	}

	/* ABOUT SECTION */

	.about-subsection-wrapper {
		padding: 0rem 2.5rem 2rem 2.5rem;
	}

	.about-container-1 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.about-sub-container-1 {
		max-width: 250px;
		display: flex;
		justify-content: center;
	}

	.about-sub-container-2 {
		min-width: 100%;
	}

	img {
		max-width: 85%;
		display: block;
		height: auto;
		border: solid white 2px;
		border-radius: 1%;
		margin: 0rem auto 2rem auto;
	}

	.skills-sub-container-2 .box {
		margin: 0rem 2rem;
		max-width: 350px;
		margin-bottom: 3rem;
	}

	/* FOOTER SECTION */

	footer {
		font-size: 1.5rem;
	}

	.footerSpan {
		font-size: 1.3rem;
	}

	#footerBrand {
		font-size: 1.8rem;
	}
}

@media (max-width: 576px) {
	#navbar {
		padding: 1rem 2.5rem 0.5rem 2.5rem;
	}

	#nav-logo-span-1 {
		font-size: 1.1rem;
		font-weight: 600;
	}
	#nav-logo-span-2 {
		font-size: 2.5rem;
		font-weight: 600;
		letter-spacing: 0.2rem;
	}

	#menu-nav-logo-span-1 {
		font-size: 1.1rem;
		font-weight: 600;
	}

	#menu-nav-logo-span-2 {
		font-size: 2.5rem;
		font-weight: 600;
		letter-spacing: 0.2rem;
	}

	#subsection-wrapper {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 5rem 2.5rem 5rem 2.5rem;
	}

	#header-profile-section {
		font-size: 1.6rem;
		padding-top: 2rem;
	}

	#heading-span-1 {
		font-size: 1.1rem;
		display: block;
	}

	#heading-span-2 {
		color: red;
		font-size: 2.5rem;
		display: block;
	}

	#heading-span-3 {
		font-size: 1.5rem;
		display: block;
	}

	.contact-item-socialmedia {
		display: flex;
		padding-right: 2rem;
	}

	/* ABOUT SECTION */

	.about-subsection-wrapper {
		padding: 0rem 2.5rem 2rem 2.5rem;
	}

	.about-container-1 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.about-sub-container-1 {
		max-width: 40%;
	}

	.about-sub-container-2 {
		min-width: 100%;
	}

	img {
		min-width: 50px;
		display: block;
		height: auto;
		border: solid white 2px;
		border-radius: 1%;
		margin: 0rem auto 2rem auto;
	}

	.skills-sub-container-2 .box {
		margin: 0rem 2rem;
		max-width: 150px;
		margin-bottom: 3rem;
	}

	/* FOOTER SECTION */
	footer {
		font-size: 0.925rem;
	}

	.footerSpan {
		font-size: 0.725rem;
	}

	#footerBrand {
		font-size: 1.225rem;
	}
}
