.btn {  
    display: flex;
    justify-content: center;
    align-items: center;

    gap: .5rem;

    background-color: $cp-darkBlue;
    border-top: 2px solid $cp-darkGrey;
    border-left: 2px solid $cp-grey;
    border-bottom: 2px solid $cp-lightGrey;
    border-right: 2px solid $cp-light;
    border-radius: .45rem;
    box-shadow: $bs-btn;

    width: fit-content;

    padding: .25em 1em;
    margin: 0 auto;

    cursor: pointer;
    backface-visibility: hidden;
    transition: all .2s;

    &:link, &:visited {
        text-decoration: none;
        transform: translateY(0px);
    }

    &:hover {
        box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, .55);
        transform: translateY(-2px);
    }

    &:active {
        border-bottom: 2px solid $cp-grey;
        border-right: 2px solid $cp-grey;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .7);
        transform: translateY(-1px);
    }

    &--primaryBtn {
        background-color: rgba($cp-darkBlue, .85);
    }

    &--primaryBtn-hero {
        background-color: rgba($cp-white, .4);
    }

    &--primaryBtn-white {
        background-color: rgba($cp-white, .8);
    }

    &--primaryBtn-white-portfolioCard {
        background-color: rgba($cp-white, .8);
        padding: .175em 1.125em;
    }

    &--secondaryBtn {
        background-color: rgba($cp-darkBlue, .5);
        padding: .0225em .5em;
        
    }

    &--secondaryBtn-hero {
        background-color: rgba($cp-white, .1);
        padding: .125em .75em;
    }

    &--secondaryBtn-portfolioCard {
        background-color: rgba($cp-darkBlue, .65);
        padding: .125em .75em;
    }

    &__icon {
        width: 2.3rem;
        height: 2.3rem;
    }
}