.btn {
	&,
	&:link,
	&:visited {
		display: inline-block;

		text-align: center;
		text-decoration: none;
		border-radius: 5px;
		outline: none;

		backface-visibility: hidden;
		transition: box-shadow .2s, transform .2s, border .2s;
	}

	&--onGreyBackground {
		color: $color-font-brightRed;
		font-size: 1.4rem;
		font-weight: 600;
		border: 2px solid $color-font-brightRed;
		border-bottom: 2px solid rgb(177, 10, 10);
		border-right: 2px solid rgb(177, 10, 10);
		padding: .15em 1em;

		&:hover {
			border: 2px solid $color-font-brightRed;
			box-shadow: 0 1rem 1rem rgba(0, 0, 0, .4);
			transform: translateY(-.2rem);
		}

		&:active,
		&:focus {
			outline: none;
			transform: translateY(.2rem);
			box-shadow: 0 .5rem 2rem rgba(255, 255, 255, .3);
		}
	}

	&--onBlueBackground {
		color: $color-font-white;
		font-size: 1.4rem;
		font-weight: 600;
		border: 2px solid $color-font-white;
		border-bottom: 2px solid rgba(255, 255, 255, 0.472);
		border-right: 2px solid rgba(255, 255, 255, 0.472);
		padding: .15em 1em;

		&:hover {
			border: 2px solid $color-font-white;
			box-shadow: 0 1rem 1rem rgba(#eeeeeef1, .4);
			transform: translateY(-.2rem);
		}

		&:active,
		&:focus {
			outline: none;
			transform: translateY(.2rem);
			box-shadow: 0 .5rem 2rem rgba(255, 255, 255, .3);
		}
	}
}
// times icons for close buttons
.btnClose {
	&,
	&:link,
	&:visited {
		text-decoration: none;
	}

	&__iconWrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 5rem;
		width: 5rem;
	}

	&__icon {
		// close button for the about popup in the about section
		&--aboutpopup {
			color: $color-font-darkGrey;
			font-size: 3rem;
			font-weight: 600;

			backface-visibility: hidden;
			transition: all .2s;

			&:hover {
				color: $color-font-white;
				font-size: 5rem;
				transform: translateY(-.2rem);
			}

			&:active,
			&:focus {
				outline: none;
				transform: translateY(.2rem);
			}
		}
		// close button for the card popup in the skills section
		&--cardpopup {
			color: $color-font-darkGrey;
			font-size: 2rem;
			font-weight: 600;

			backface-visibility: hidden;
			transition: all .2s;

			&:hover {
				color: $color-font-white;
				font-size: 3.5rem;
				cursor: pointer;
				transform: translateY(-.2rem);
			}

			&:active,
			&:focus {
				outline: none;
				transform: translateY(.2rem);
			}
		}
	}
}
// a classlist for the mock buttons with a hover effect on the tool description categories
.mockbtn {
	border-bottom: 1px solid $color-primary-darkBlue;
	padding-bottom: .3rem;
}
//  classlist for the right arrow with a hover effect on the tool description categories
.noneRarr {
	visibility: hidden;
	opacity: 0;
}
