.cardPortfolio {
    border-radius: 5px;
    box-shadow: 0 0 7px 3px rgba($cp-dark, .4);

    position: relative;

    &__cardImage {
        filter: blur(2px);
        -webkit-filter: blur(2px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        width: 100%;
        min-height: 20rem;
    }

    &__cardImage--light {
        background-image: url("../../img/portfolioProjects/lightSwitch002.webp");
    }

    &__cardImage--memory {
        background-image: url("../../img/portfolioProjects/memoryGame014.webp");
    }

    &__cardImage--webdev {
        background-image: url("../../img/portfolioProjects/prtfolio-pic-profile001.webp");
    }

    &__cardContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 1rem;

        background: linear-gradient(to top, transparent 5%, rgba($cp-white, 0.4) 25%, rgba($cp-white, .85) 85%);
        
        padding: 1rem;

        width: 100%;
        height: 100%;
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 200;
    }

    &__cta {
        display: flex;
        justify-content: center;
        align-items: center;

        gap: 2rem;
    }
    
}