.cardPortfolio {
    background-color: $cp-white;
    border: 2px solid $cp-blue;
    border-radius: $br-m;

    padding: 2rem;
    

    &__headingH3 {
        margin-bottom: $mb-h3;
    }

    &__figure {
        background-color: $cp-blue;
        border-radius: $br-m;
        padding: 1em;
        margin-bottom: 2rem;

        &--img {
            border: 2px solid $cp-white;
            border-radius: 1rem;
            width: 100%;
        }
    }

    &__descriptionContainer {
        background-color: $cp-blue;
        border-radius: $br-m;
        padding: 1em;
        margin-bottom: 2rem;
        
    }

    &__techContainer {
        background-color: $cp-blue;
        border-radius: $br-m;
        padding: 1em;
        margin-bottom: 2rem;
        
        &--tech {
            background-color: $cp-red;
            border-radius: $br-m;
            padding: .25em .75em;
        }
    }

    &__btnsContainer {
        
        .btn {
            margin: 0 auto 2rem;
        }

        .btn:last-child {
            margin-bottom: 0;
        }
    
    }
}
