.cardPortfolio {
    background-color: $cp-white;
    border-radius: $br-m;
    box-shadow: $bs-dark;
    padding: $mb-p;

    &__headingH3 {
        margin-bottom: $mb-h3;
    }

    &__figure {
        padding: .5rem;
        border: 1px solid $cp-darkGrey;
        border-radius: .2rem;
        margin-bottom: 1rem;
    }

    &__descriptionContainer {
        margin-bottom: 2rem;
        
    }

    &__techContainer {
        margin-bottom: 4rem;
        
        &--tech {
            background-color: $cp-blue;
            border-radius: $br-m;
            padding: .25em .75em;
        }
    }

    &__btnsContainer {
        
        &--btn {
            display: flex;
            justify-content: center;
            align-items: center; 
            background-color: $cp-red;
            border-radius: $br-m;
            width: fit-content;
            padding: .25em 1em;
            margin: 0 0 4rem 0; 
        }

        &--icon {
            height: 5rem;
            width: 5rem;
            fill: $cp-white;
        }

        &--text {
            margin-left: 1rem;
        }
    }
}
