.img-comp {
	position: relative;
	// no height on this element to stop bubbling effect when hovering
	// created about__content--images as a container to use flexbox

	&__img {
		width: 18rem;
		border: 2px solid white;
		border-radius: 3px;
		outline-offset: .5rem;
		position: absolute;
		transition: all .4s;

		&--schalk {
			width: 23rem;
			top: 5rem;
			right: 35%;
			z-index: 120;

			@include respond(tablet-portrait) {
				width: 20vh;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			@include respond(tabletPortraitMaxand1300Max) {
				width: 18vh;
			}

			@include respond(tabletPortraitMaxand1100Max) {
				width: 16vh;
			}

			@include respond(tabletPortraitMaxand900Max) {
				width: 14vh;
			}

			///////////////////////////////////////////////////////////////////
			@include respond(tablet-portrait-2) {
				width: 18vh;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			@include respond(tabletPortrait2Maxand1300Max) {
				width: 18vh;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			@include respond(tabletPortrait2Maxand1100Max) {
				width: 16vh;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			@include respond(tabletPortrait2Maxand900Max) {
				width: 14vh;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone600) {
				width: 20vh;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			@include respond(phone600Maxand950Max) {
				width: 20vh;
				top: 50%;
				left: 50%;
			}

			@include respond(phone600Maxand900Max) {
				width: 21vh;
			}

			@include respond(phone600Maxand850Max) {
				width: 20vh;
			}

			@include respond(phone600Maxand800Max) {
				width: 20vh;
			}

			@include respond(phone600Maxand750Max) {
				width: 22vh;
			}

			@include respond(phone600Maxand700Max) {
				width: 21vh;
			}

			@include respond(phone600Maxand650Max) {
				width: 19vh;
			}

			@include respond(phone600Maxand600Max) {
				width: 18vh;
			}

			@include respond(phone600Maxand550Max) {
				width: 17vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone575) {
				width: 21vh;
			}

			@include respond(phone575Maxand950Max) {
				width: 21vh;
			}

			@include respond(phone575Maxand900Max) {
				width: 21vh;
			}

			@include respond(phone575Maxand850Max) {
				width: 20vh;
			}

			@include respond(phone575Maxand800Max) {
				width: 20vh;
			}

			@include respond(phone575Maxand750Max) {
				width: 22vh;
			}

			@include respond(phone575Maxand700Max) {
				width: 21vh;
			}

			@include respond(phone575Maxand650Max) {
				width: 19vh;
			}

			@include respond(phone575Maxand600Max) {
				width: 18vh;
			}

			@include respond(phone575Maxand550Max) {
				width: 17vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone550) {
				width: 21vh;
			}

			@include respond(phone550Maxand950Max) {
				width: 21vh;
			}

			@include respond(phone550Maxand900Max) {
				width: 20vh;
			}

			@include respond(phone550Maxand850Max) {
				width: 20vh;
			}

			@include respond(phone550Maxand800Max) {
				width: 19vh;
			}

			@include respond(phone550Maxand750Max) {
				width: 20vh;
			}

			@include respond(phone550Maxand700Max) {
				width: 20vh;
			}

			@include respond(phone550Maxand650Max) {
				width: 18vh;
			}

			@include respond(phone550Maxand600Max) {
				width: 18vh;
			}

			@include respond(phone550Maxand550Max) {
				width: 17vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone525) {
				width: 21vh;
			}

			@include respond(phone525Maxand950Max) {
				width: 21vh;
			}

			@include respond(phone525Maxand900Max) {
				width: 21vh;
			}

			@include respond(phone525Maxand850Max) {
				width: 20vh;
			}

			@include respond(phone525Maxand800Max) {
				width: 20vh;
			}

			@include respond(phone525Maxand750Max) {
				width: 21vh;
			}

			@include respond(phone525Maxand700Max) {
				width: 20vh;
			}

			@include respond(phone525Maxand650Max) {
				width: 18vh;
			}

			@include respond(phone525Maxand600Max) {
				width: 18vh;
			}

			@include respond(phone525Maxand550Max) {
				width: 17vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone500) {
				width: 17vh;
			}

			@include respond(phone500Maxand950Max) {
				width: 19vh;
			}

			@include respond(phone500Maxand900Max) {
				width: 19vh;
			}

			@include respond(phone500Maxand850Max) {
				width: 18vh;
			}

			@include respond(phone500Maxand800Max) {
				width: 18vh;
			}

			@include respond(phone500Maxand750Max) {
				width: 19vh;
			}

			@include respond(phone500Maxand700Max) {
				width: 18vh;
			}

			@include respond(phone500Maxand650Max) {
				width: 16vh;
			}

			@include respond(phone500Maxand600Max) {
				width: 16vh;
			}

			@include respond(phone500Maxand550Max) {
				width: 14vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone475) {
				width: 17vh;
			}

			@include respond(phone475Maxand950Max) {
				width: 19vh;
			}

			@include respond(phone475Maxand900Max) {
				width: 19vh;
			}

			@include respond(phone475Maxand850Max) {
				width: 18vh;
			}

			@include respond(phone475Maxand800Max) {
				width: 18vh;
			}

			@include respond(phone475Maxand750Max) {
				width: 19vh;
			}

			@include respond(phone475Maxand700Max) {
				width: 18vh;
			}

			@include respond(phone475Maxand650Max) {
				width: 16vh;
			}

			@include respond(phone475Maxand600Max) {
				width: 16vh;
			}

			@include respond(phone475Maxand550Max) {
				width: 14vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone450) {
				width: 15vh;
			}

			@include respond(phone450Maxand950Max) {
				width: 16.5vh;
			}

			@include respond(phone450Maxand900Max) {
				width: 16.5vh;
			}

			@include respond(phone450Maxand850Max) {
				width: 15vh;
			}

			@include respond(phone450Maxand800Max) {
				width: 15vh;
			}

			@include respond(phone450Maxand750Max) {
				width: 16vh;
			}

			@include respond(phone450Maxand700Max) {
				width: 15vh;
			}

			@include respond(phone450Maxand650Max) {
				width: 13vh;
			}

			@include respond(phone450Maxand600Max) {
				width: 13vh;
			}

			@include respond(phone450Maxand550Max) {
				width: 12vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone425) {
				width: 15vh;
			}

			@include respond(phone425Maxand950Max) {
				width: 16.5vh;
			}

			@include respond(phone425Maxand900Max) {
				width: 15vh;
			}

			@include respond(phone425Maxand850Max) {
				width: 14vh;
			}

			@include respond(phone425Maxand800Max) {
				width: 15vh;
			}

			@include respond(phone425Maxand750Max) {
				width: 16vh;
			}

			@include respond(phone425Maxand700Max) {
				width: 15vh;
			}

			@include respond(phone425Maxand650Max) {
				width: 13vh;
			}

			@include respond(phone425Maxand600Max) {
				width: 13vh;
			}

			@include respond(phone425Maxand550Max) {
				width: 12vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone400) {
				width: 15vh;
			}

			@include respond(phone400Maxand950Max) {
				width: 16.5vh;
			}

			@include respond(phone400Maxand900Max) {
				width: 15vh;
			}

			@include respond(phone400Maxand850Max) {
				width: 14vh;
			}

			@include respond(phone400Maxand800Max) {
				width: 15vh;
			}

			@include respond(phone400Maxand750Max) {
				width: 16vh;
			}

			@include respond(phone400Maxand700Max) {
				width: 15vh;
			}

			@include respond(phone400Maxand650Max) {
				width: 13vh;
			}

			@include respond(phone400Maxand600Max) {
				width: 13vh;
			}

			@include respond(phone400Maxand550Max) {
				width: 11vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone375) {
				width: 15vh;
			}

			@include respond(phone375Maxand950Max) {
				width: 15.5vh;
			}

			@include respond(phone375Maxand900Max) {
				width: 15vh;
			}

			@include respond(phone375Maxand850Max) {
				width: 14vh;
			}

			@include respond(phone375Maxand800Max) {
				width: 15vh;
			}

			@include respond(phone375Maxand750Max) {
				width: 16vh;
			}

			@include respond(phone375Maxand700Max) {
				width: 15vh;
			}

			@include respond(phone375Maxand650Max) {
				width: 12vh;
			}

			@include respond(phone375Maxand600Max) {
				width: 12vh;
			}

			@include respond(phone375Maxand550Max) {
				width: 11vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone350) {
				width: 13vh;
			}

			@include respond(phone350Maxand950Max) {
				width: 13vh;
			}

			@include respond(phone350Maxand900Max) {
				width: 13vh;
			}

			@include respond(phone350Maxand850Max) {
				width: 12vh;
			}

			@include respond(phone350Maxand800Max) {
				width: 14vh;
			}

			@include respond(phone350Maxand750Max) {
				width: 15vh;
			}

			@include respond(phone350Maxand700Max) {
				width: 14vh;
			}

			@include respond(phone350Maxand650Max) {
				width: 11vh;
			}

			@include respond(phone350Maxand600Max) {
				width: 12vh;
			}

			@include respond(phone350Maxand550Max) {
				width: 11vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone325) {
				width: 11vh;
			}

			@include respond(phone325Maxand950Max) {
				width: 11vh;
			}

			@include respond(phone325Maxand900Max) {
				width: 10vh;
			}

			@include respond(phone325Maxand850Max) {
				width: 10vh;
			}

			@include respond(phone325Maxand800Max) {
				width: 12vh;
			}

			@include respond(phone325Maxand750Max) {
				width: 14vh;
			}

			@include respond(phone325Maxand700Max) {
				width: 12vh;
			}

			@include respond(phone325Maxand650Max) {
				width: 12vh;
			}

			@include respond(phone325Maxand600Max) {
				width: 10vh;
			}

			@include respond(phone325Maxand550Max) {
				width: 9vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone300) {
				width: 8vh;
				transform: translate(-35%, -50%);
			}

			@include respond(phone300Maxand950Max) {
				width: 8vh;
			}

			@include respond(phone300Maxand900Max) {
				width: 8vh;
			}

			@include respond(phone300Maxand850Max) {
				width: 8vh;
			}

			@include respond(phone300Maxand800Max) {
				width: 12vh;
				transform: translate(-50%, -50%);
			}

			@include respond(phone300Maxand750Max) {
				width: 13vh;
			}

			@include respond(phone300Maxand700Max) {
				width: 11vh;
			}

			@include respond(phone300Maxand650Max) {
				width: 10vh;
			}

			@include respond(phone300Maxand600Max) {
				width: 10vh;
			}

			@include respond(phone300Maxand550Max) {
				width: 9vh;
			}
			///////////////////////////////////////////////////////////////////
			&:hover {
				outline: .5rem solid $color-primary-brightRed;
				transform: scale(1.1) translateY(-.5rem);
				@include respond(phone600) {
					transform: translate(-50%, -50%) scale(1.1)
						translateY(-.5rem);
				}
				box-shadow: 0 0 1.5rem rgba($color-primary-white, .9),
					0 0 7rem rgba($color-primary-darkBlue, .9);
				z-index: 200;
			}
		}

		&--family {
			width: 20rem;
			top: 0;
			right: 30%;
			z-index: 130;

			@include respond(tablet-portrait) {
				width: 19vh;
				top: 50%;
				left: 50%;
				transform: translate(-110%, 10%);
			}

			@include respond(tabletPortraitMaxand1300Max) {
				width: 17vh;
			}

			@include respond(tabletPortraitMaxand1100Max) {
				width: 15vh;
			}

			@include respond(tabletPortraitMaxand900Max) {
				width: 13vh;
			}

			///////////////////////////////////////////////////////////////////
			@include respond(tablet-portrait-2) {
				width: 17vh;
				top: 50%;
				left: 50%;
				transform: translate(-95%, 10%);
			}

			@include respond(tabletPortrait2Maxand1300Max) {
				width: 17vh;
				top: 50%;
				left: 50%;
				transform: translate(-95%, 10%);
			}

			@include respond(tabletPortrait2Maxand1100Max) {
				width: 15vh;
				top: 50%;
				left: 50%;
				transform: translate(-95%, 10%);
			}

			@include respond(tabletPortrait2Maxand900Max) {
				width: 13vh;
				top: 50%;
				left: 50%;
				transform: translate(-95%, 10%);
			}

			///////////////////////////////////////////////////////////////////
			@include respond(phone600) {
				width: 19vh;
				top: 50%;
				left: 50%;
				transform: translate(-125%, 10%);
			}

			@include respond(phone600Maxand950Max) {
				width: 19vh;
				top: 50%;
				left: 50%;
				transform: translate(-110%, 10%);
			}

			@include respond(phone600Maxand900Max) {
				width: 18vh;
			}

			@include respond(phone600Maxand850Max) {
				width: 17vh;
			}

			@include respond(phone600Maxand800Max) {
				width: 17vh;
				transform: translate(-125%, 10%);
			}

			@include respond(phone600Maxand750Max) {
				width: 20vh;
			}

			@include respond(phone600Maxand700Max) {
				width: 19vh;
			}

			@include respond(phone600Maxand650Max) {
				width: 16vh;
			}

			@include respond(phone600Maxand600Max) {
				width: 15vh;
			}

			@include respond(phone600Maxand550Max) {
				width: 14vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone575) {
				width: 18vh;
				top: 50%;
				left: 50%;
				transform: translate(-125%, 10%);
			}

			@include respond(phone575Maxand950Max) {
				width: 18vh;
				transform: translate(-110%, 10%);
			}

			@include respond(phone575Maxand900Max) {
				width: 18vh;
			}

			@include respond(phone575Maxand850Max) {
				width: 17vh;
			}

			@include respond(phone575Maxand800Max) {
				width: 17vh;
				transform: translate(-125%, 10%);
			}

			@include respond(phone575Maxand750Max) {
				width: 20vh;
			}

			@include respond(phone575Maxand700Max) {
				width: 19vh;
			}

			@include respond(phone575Maxand650Max) {
				width: 16vh;
			}

			@include respond(phone575Maxand600Max) {
				width: 15vh;
			}

			@include respond(phone575Maxand550Max) {
				width: 14vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone550) {
				width: 18vh;
				top: 50%;
				left: 50%;
				transform: translate(-125%, 10%);
			}

			@include respond(phone550Maxand950Max) {
				width: 18vh;
				transform: translate(-110%, 10%);
			}

			@include respond(phone550Maxand900Max) {
				width: 17vh;
			}

			@include respond(phone550Maxand850Max) {
				width: 17vh;
			}

			@include respond(phone550Maxand800Max) {
				width: 16vh;
				transform: translate(-125%, 10%);
			}

			@include respond(phone550Maxand750Max) {
				width: 17vh;
			}

			@include respond(phone550Maxand700Max) {
				width: 17vh;
			}

			@include respond(phone550Maxand650Max) {
				width: 15vh;
			}

			@include respond(phone550Maxand600Max) {
				width: 15vh;
			}

			@include respond(phone550Maxand550Max) {
				width: 14vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone525) {
				width: 18vh;
				top: 50%;
				left: 50%;
				transform: translate(-125%, 10%);
			}

			@include respond(phone525Maxand950Max) {
				width: 18vh;
				transform: translate(-110%, 10%);
			}

			@include respond(phone525Maxand900Max) {
				width: 18vh;
			}

			@include respond(phone525Maxand850Max) {
				width: 17vh;
			}

			@include respond(phone525Maxand800Max) {
				width: 17vh;
				transform: translate(-125%, 10%);
			}

			@include respond(phone525Maxand750Max) {
				width: 18vh;
			}

			@include respond(phone525Maxand700Max) {
				width: 17vh;
			}

			@include respond(phone525Maxand650Max) {
				width: 15vh;
			}

			@include respond(phone525Maxand600Max) {
				width: 15vh;
			}

			@include respond(phone525Maxand550Max) {
				width: 14vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone500) {
				width: 16vh;
				top: 50%;
				left: 50%;
				transform: translate(-125%, 10%);
			}

			@include respond(phone500Maxand950Max) {
				width: 16vh;
				transform: translate(-110%, 10%);
			}

			@include respond(phone500Maxand900Max) {
				width: 16vh;
			}

			@include respond(phone500Maxand850Max) {
				width: 15vh;
			}

			@include respond(phone500Maxand800Max) {
				width: 15vh;
				transform: translate(-125%, 10%);
			}

			@include respond(phone500Maxand750Max) {
				width: 16vh;
			}

			@include respond(phone500Maxand700Max) {
				width: 15vh;
			}

			@include respond(phone500Maxand650Max) {
				width: 13vh;
			}

			@include respond(phone500Maxand600Max) {
				width: 13vh;
			}

			@include respond(phone500Maxand550Max) {
				width: 11vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone475) {
				width: 16vh;
				top: 50%;
				left: 50%;
				transform: translate(-125%, 10%);
			}

			@include respond(phone475Maxand950Max) {
				width: 16vh;
				transform: translate(-110%, 10%);
			}

			@include respond(phone475Maxand900Max) {
				width: 16vh;
			}

			@include respond(phone475Maxand850Max) {
				width: 15vh;
			}

			@include respond(phone475Maxand800Max) {
				width: 15vh;
				transform: translate(-125%, 10%);
			}

			@include respond(phone475Maxand750Max) {
				width: 16vh;
			}

			@include respond(phone475Maxand700Max) {
				width: 15vh;
			}

			@include respond(phone475Maxand650Max) {
				width: 13vh;
			}

			@include respond(phone475Maxand600Max) {
				width: 13vh;
			}

			@include respond(phone475Maxand550Max) {
				width: 11vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone450) {
				width: 8vh;
				top: 50%;
				left: 50%;
				transform: translate(-125%, 10%);
			}

			@include respond(phone450Maxand950Max) {
				width: 13.5vh;
				transform: translate(-110%, 10%);
			}

			@include respond(phone450Maxand900Max) {
				width: 13.5vh;
			}

			@include respond(phone450Maxand850Max) {
				width: 12vh;
			}

			@include respond(phone450Maxand800Max) {
				width: 12vh;
				transform: translate(-125%, 10%);
			}

			@include respond(phone450Maxand750Max) {
				width: 13vh;
			}

			@include respond(phone450Maxand700Max) {
				width: 12vh;
			}

			@include respond(phone450Maxand650Max) {
				width: 10vh;
			}

			@include respond(phone450Maxand600Max) {
				width: 10vh;
			}

			@include respond(phone450Maxand550Max) {
				width: 9vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone425) {
				width: 8vh;
				top: 50%;
				left: 50%;
				transform: translate(-125%, 10%);
			}

			@include respond(phone425Maxand950Max) {
				width: 13.5vh;
				transform: translate(-110%, 10%);
			}

			@include respond(phone425Maxand900Max) {
				width: 12vh;
			}

			@include respond(phone425Maxand850Max) {
				width: 11vh;
			}

			@include respond(phone425Maxand800Max) {
				width: 12vh;
				transform: translate(-125%, 10%);
			}

			@include respond(phone425Maxand750Max) {
				width: 13vh;
			}

			@include respond(phone425Maxand700Max) {
				width: 12vh;
			}

			@include respond(phone425Maxand650Max) {
				width: 10vh;
			}

			@include respond(phone425Maxand600Max) {
				width: 10vh;
			}

			@include respond(phone425Maxand550Max) {
				width: 9vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone400) {
				width: 8vh;
				top: 50%;
				left: 50%;
				transform: translate(-125%, 10%);
			}

			@include respond(phone400Maxand950Max) {
				width: 13.5vh;
				transform: translate(-110%, 10%);
			}

			@include respond(phone400Maxand900Max) {
				width: 12vh;
			}

			@include respond(phone400Maxand850Max) {
				width: 11vh;
			}

			@include respond(phone400Maxand800Max) {
				width: 12vh;
				transform: translate(-125%, 10%);
			}

			@include respond(phone400Maxand750Max) {
				width: 13vh;
			}

			@include respond(phone400Maxand700Max) {
				width: 12vh;
			}

			@include respond(phone400Maxand650Max) {
				width: 10vh;
			}

			@include respond(phone400Maxand600Max) {
				width: 10vh;
			}

			@include respond(phone400Maxand550Max) {
				width: 8vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone375) {
				width: 8vh;
				top: 50%;
				left: 50%;
				transform: translate(-125%, 10%);
			}

			@include respond(phone375Maxand950Max) {
				width: 12.5vh;
				transform: translate(-110%, 10%);
			}

			@include respond(phone375Maxand900Max) {
				width: 12vh;
			}

			@include respond(phone375Maxand850Max) {
				width: 11vh;
			}

			@include respond(phone375Maxand800Max) {
				width: 12vh;
				transform: translate(-125%, 10%);
			}

			@include respond(phone375Maxand750Max) {
				width: 13vh;
			}

			@include respond(phone375Maxand700Max) {
				width: 12vh;
			}

			@include respond(phone375Maxand650Max) {
				width: 9vh;
			}

			@include respond(phone375Maxand600Max) {
				width: 9vh;
			}

			@include respond(phone375Maxand550Max) {
				width: 8vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone350) {
				width: 10vh;
				top: 50%;
				left: 50%;
				transform: translate(0%, 10%);
			}

			@include respond(phone350Maxand950Max) {
				width: 10vh;
				transform: translate(-110%, 10%);
			}

			@include respond(phone350Maxand900Max) {
				width: 10vh;
			}

			@include respond(phone350Maxand850Max) {
				width: 9vh;
			}

			@include respond(phone350Maxand800Max) {
				width: 11vh;
				transform: translate(-125%, 10%);
			}

			@include respond(phone350Maxand750Max) {
				width: 12vh;
			}

			@include respond(phone350Maxand700Max) {
				width: 11vh;
			}

			@include respond(phone350Maxand650Max) {
				width: 8vh;
			}

			@include respond(phone350Maxand600Max) {
				width: 9vh;
			}

			@include respond(phone350Maxand550Max) {
				width: 8vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone325) {
				width: 8vh;
				top: 50%;
				left: 50%;
				transform: translate(0%, 10%);
			}

			@include respond(phone325Maxand950Max) {
				width: 8vh;
				transform: translate(-110%, 10%);
			}

			@include respond(phone325Maxand900Max) {
				width: 7vh;
			}

			@include respond(phone325Maxand850Max) {
				width: 7vh;
			}

			@include respond(phone325Maxand800Max) {
				width: 9vh;
				transform: translate(-125%, 10%);
			}

			@include respond(phone325Maxand750Max) {
				width: 11vh;
			}

			@include respond(phone325Maxand700Max) {
				width: 9vh;
			}

			@include respond(phone325Maxand650Max) {
				width: 9vh;
			}

			@include respond(phone325Maxand600Max) {
				width: 7vh;
			}

			@include respond(phone325Maxand550Max) {
				width: 6vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone300) {
				width: 6vh;
				top: 50%;
				left: 50%;
				transform: translate(0%, 10%);
			}

			@include respond(phone300Maxand950Max) {
				width: 6vh;
				transform: translate(-110%, 10%);
			}

			@include respond(phone300Maxand900Max) {
				width: 6vh;
			}

			@include respond(phone300Maxand850Max) {
				width: 6vh;
			}

			@include respond(phone300Maxand800Max) {
				width: 9vh;
				transform: translate(-125%, 10%);
			}

			@include respond(phone300Maxand750Max) {
				width: 9vh;
			}

			@include respond(phone300Maxand700Max) {
				width: 8vh;
			}

			@include respond(phone300Maxand650Max) {
				width: 7vh;
			}

			@include respond(phone300Maxand600Max) {
				width: 7vh;
			}

			@include respond(phone300Maxand550Max) {
				width: 6vh;
			}
			///////////////////////////////////////////////////////////////////
			&:hover {
				outline: .5rem solid $color-primary-brightRed;
				transform: scale(1.1) translateY(-.5rem);
				@include respond(phone600) {
					transform: translate(-125%, 20%) scale(1.1)
						translateY(-.5rem);
				}
				box-shadow: 0 0 1.5rem rgba($color-primary-white, .9),
					0 0 7rem rgba($color-primary-darkBlue, .9);
				z-index: 200;
			}
		}

		&--potjiekos {
			width: 20rem;
			top: 5rem;
			right: 0;
			z-index: 110;

			@include respond(tablet-portrait) {
				width: 19vh;
				top: 50%;
				left: 50%;
				transform: translate(-5%, -80%);
			}

			@include respond(tabletPortraitMaxand1300Max) {
				width: 17vh;
			}

			@include respond(tabletPortraitMaxand1100Max) {
				width: 15vh;
			}

			@include respond(tabletPortraitMaxand900Max) {
				width: 13vh;
			}

			///////////////////////////////////////////////////////////////////
			@include respond(tablet-portrait-2) {
				width: 17vh;
				top: 50%;
				left: 50%;
				transform: translate(5%, -80%);
			}

			@include respond(tabletPortrait2Maxand1300Max) {
				width: 17vh;
				top: 50%;
				left: 50%;
				transform: translate(5%, -80%);
			}

			@include respond(tabletPortrait2Maxand1100Max) {
				width: 15vh;
				top: 50%;
				left: 50%;
				transform: translate(5%, -80%);
			}

			@include respond(tabletPortrait2Maxand900Max) {
				width: 13vh;
				top: 50%;
				left: 50%;
				transform: translate(5%, -80%);
			}

			///////////////////////////////////////////////////////////////////
			@include respond(phone600) {
				width: 19vh;
				top: 50%;
				left: 50%;
				transform: translate(15%, -80%);
			}

			@include respond(phone600Maxand950Max) {
				width: 19vh;
				top: 50%;
				left: 50%;
				transform: translate(-5%, -80%);
			}

			@include respond(phone600Maxand900Max) {
				width: 20vh;
			}

			@include respond(phone600Maxand850Max) {
				width: 19vh;
			}

			@include respond(phone600Maxand800Max) {
				width: 19vh;
				transform: translate(15%, -80%);
			}

			@include respond(phone600Maxand750Max) {
				width: 22vh;
			}

			@include respond(phone600Maxand700Max) {
				width: 21vh;
			}

			@include respond(phone600Maxand650Max) {
				width: 18vh;
			}

			@include respond(phone600Maxand600Max) {
				width: 17vh;
			}

			@include respond(phone600Maxand550Max) {
				width: 16vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone575) {
				width: 20vh;
				top: 50%;
				left: 50%;
				transform: translate(15%, -80%);
			}

			@include respond(phone575Maxand950Max) {
				width: 20vh;
				transform: translate(-5%, -80%);
			}

			@include respond(phone575Maxand900Max) {
				width: 20vh;
			}

			@include respond(phone575Maxand850Max) {
				width: 19vh;
			}

			@include respond(phone575Maxand800Max) {
				width: 19vh;
				transform: translate(15%, -80%);
			}

			@include respond(phone575Maxand750Max) {
				width: 22vh;
			}

			@include respond(phone575Maxand700Max) {
				width: 21vh;
			}

			@include respond(phone575Maxand650Max) {
				width: 18vh;
			}

			@include respond(phone575Maxand600Max) {
				width: 17vh;
			}

			@include respond(phone575Maxand550Max) {
				width: 16vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone550) {
				width: 20vh;
				top: 50%;
				left: 50%;
				transform: translate(15%, -80%);
			}

			@include respond(phone550Maxand950Max) {
				width: 20vh;
				transform: translate(-5%, -80%);
			}

			@include respond(phone550Maxand900Max) {
				width: 19vh;
			}

			@include respond(phone550Maxand850Max) {
				width: 19vh;
			}

			@include respond(phone550Maxand800Max) {
				width: 18vh;
				transform: translate(15%, -80%);
			}

			@include respond(phone550Maxand750Max) {
				width: 19vh;
			}

			@include respond(phone550Maxand700Max) {
				width: 19vh;
			}

			@include respond(phone550Maxand650Max) {
				width: 17vh;
			}

			@include respond(phone550Maxand600Max) {
				width: 17vh;
			}

			@include respond(phone550Maxand550Max) {
				width: 16vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone525) {
				width: 20vh;
				top: 50%;
				left: 50%;
				transform: translate(15%, -80%);
			}

			@include respond(phone525Maxand950Max) {
				width: 20vh;
				transform: translate(-5%, -80%);
			}

			@include respond(phone525Maxand900Max) {
				width: 20vh;
			}

			@include respond(phone525Maxand850Max) {
				width: 19vh;
			}

			@include respond(phone525Maxand800Max) {
				width: 19vh;
				transform: translate(15%, -80%);
			}

			@include respond(phone525Maxand750Max) {
				width: 20vh;
			}

			@include respond(phone525Maxand700Max) {
				width: 19vh;
			}

			@include respond(phone525Maxand650Max) {
				width: 17vh;
			}

			@include respond(phone525Maxand600Max) {
				width: 17vh;
			}

			@include respond(phone525Maxand550Max) {
				width: 16vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone500) {
				width: 18vh;
				top: 50%;
				left: 50%;
				transform: translate(15%, -80%);
			}

			@include respond(phone500Maxand950Max) {
				width: 18vh;
				transform: translate(-5%, -80%);
			}

			@include respond(phone500Maxand900Max) {
				width: 18vh;
			}

			@include respond(phone500Maxand850Max) {
				width: 17vh;
			}

			@include respond(phone500Maxand800Max) {
				width: 17vh;
				transform: translate(15%, -80%);
			}

			@include respond(phone500Maxand750Max) {
				width: 18vh;
			}

			@include respond(phone500Maxand700Max) {
				width: 17vh;
			}

			@include respond(phone500Maxand650Max) {
				width: 15vh;
			}

			@include respond(phone500Maxand600Max) {
				width: 15vh;
			}

			@include respond(phone500Maxand550Max) {
				width: 13vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone475) {
				width: 18vh;
				top: 50%;
				left: 50%;
				transform: translate(15%, -80%);
			}

			@include respond(phone475Maxand950Max) {
				width: 18vh;
				transform: translate(-5%, -80%);
			}

			@include respond(phone475Maxand900Max) {
				width: 18vh;
			}

			@include respond(phone475Maxand850Max) {
				width: 17vh;
			}

			@include respond(phone475Maxand800Max) {
				width: 17vh;
				transform: translate(15%, -80%);
			}

			@include respond(phone475Maxand750Max) {
				width: 18vh;
			}

			@include respond(phone475Maxand700Max) {
				width: 17vh;
			}

			@include respond(phone475Maxand650Max) {
				width: 15vh;
			}

			@include respond(phone475Maxand600Max) {
				width: 15vh;
			}

			@include respond(phone475Maxand550Max) {
				width: 13vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone450) {
				width: 11vh;
				top: 50%;
				left: 50%;
				transform: translate(15%, -80%);
			}

			@include respond(phone450Maxand950Max) {
				width: 15.5vh;
				transform: translate(-5%, -80%);
			}

			@include respond(phone450Maxand900Max) {
				width: 15.5vh;
			}

			@include respond(phone450Maxand850Max) {
				width: 14vh;
			}

			@include respond(phone450Maxand800Max) {
				width: 14vh;
				transform: translate(15%, -80%);
			}

			@include respond(phone450Maxand750Max) {
				width: 15vh;
			}

			@include respond(phone450Maxand700Max) {
				width: 14vh;
			}

			@include respond(phone450Maxand650Max) {
				width: 12vh;
			}

			@include respond(phone450Maxand600Max) {
				width: 12vh;
			}

			@include respond(phone450Maxand550Max) {
				width: 11vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone425) {
				width: 11vh;
				top: 50%;
				left: 50%;
				transform: translate(15%, -80%);
			}

			@include respond(phone425Maxand950Max) {
				width: 15.5vh;
				transform: translate(-5%, -80%);
			}

			@include respond(phone425Maxand900Max) {
				width: 14vh;
			}

			@include respond(phone425Maxand850Max) {
				width: 13vh;
			}

			@include respond(phone425Maxand800Max) {
				width: 14vh;
				transform: translate(15%, -80%);
			}

			@include respond(phone425Maxand750Max) {
				width: 15vh;
			}

			@include respond(phone425Maxand700Max) {
				width: 14vh;
			}

			@include respond(phone425Maxand650Max) {
				width: 12vh;
			}

			@include respond(phone425Maxand600Max) {
				width: 12vh;
			}

			@include respond(phone425Maxand550Max) {
				width: 11vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone400) {
				width: 11vh;
				top: 50%;
				left: 50%;
				transform: translate(15%, -80%);
			}

			@include respond(phone400Maxand950Max) {
				width: 15.5vh;
				transform: translate(-5%, -80%);
			}

			@include respond(phone400Maxand900Max) {
				width: 14vh;
			}

			@include respond(phone400Maxand850Max) {
				width: 13vh;
			}

			@include respond(phone400Maxand800Max) {
				width: 14vh;
				transform: translate(15%, -80%);
			}

			@include respond(phone400Maxand750Max) {
				width: 15vh;
			}

			@include respond(phone400Maxand700Max) {
				width: 14vh;
			}

			@include respond(phone400Maxand650Max) {
				width: 12vh;
			}

			@include respond(phone400Maxand600Max) {
				width: 12vh;
			}

			@include respond(phone400Maxand550Max) {
				width: 10vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone375) {
				width: 11vh;
				top: 50%;
				left: 50%;
				transform: translate(15%, -80%);
			}

			@include respond(phone375Maxand950Max) {
				width: 14.5vh;
				transform: translate(-5%, -80%);
			}

			@include respond(phone375Maxand900Max) {
				width: 14vh;
			}

			@include respond(phone375Maxand850Max) {
				width: 13vh;
			}

			@include respond(phone375Maxand800Max) {
				width: 14vh;
				transform: translate(15%, -80%);
			}

			@include respond(phone375Maxand750Max) {
				width: 15vh;
			}

			@include respond(phone375Maxand700Max) {
				width: 14vh;
			}

			@include respond(phone375Maxand650Max) {
				width: 11vh;
			}

			@include respond(phone375Maxand600Max) {
				width: 11vh;
			}

			@include respond(phone375Maxand550Max) {
				width: 10vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone350) {
				width: 12vh;
				top: 50%;
				left: 50%;
				transform: translate(0%, -80%);
			}

			@include respond(phone350Maxand950Max) {
				width: 12vh;
			}

			@include respond(phone350Maxand900Max) {
				width: 12vh;
			}

			@include respond(phone350Maxand850Max) {
				width: 11vh;
			}

			@include respond(phone350Maxand800Max) {
				width: 13vh;
				transform: translate(15%, -80%);
			}

			@include respond(phone350Maxand750Max) {
				width: 14vh;
			}

			@include respond(phone350Maxand700Max) {
				width: 13vh;
			}

			@include respond(phone350Maxand650Max) {
				width: 10vh;
			}

			@include respond(phone350Maxand600Max) {
				width: 11vh;
			}

			@include respond(phone350Maxand550Max) {
				width: 10vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone325) {
				width: 10vh;
				top: 50%;
				left: 50%;
				transform: translate(0%, -80%);
			}

			@include respond(phone325Maxand950Max) {
				width: 10vh;
			}

			@include respond(phone325Maxand900Max) {
				width: 9vh;
			}

			@include respond(phone325Maxand850Max) {
				width: 9vh;
			}

			@include respond(phone325Maxand800Max) {
				width: 11vh;
				transform: translate(15%, -80%);
			}

			@include respond(phone325Maxand750Max) {
				width: 13vh;
			}

			@include respond(phone325Maxand700Max) {
				width: 11vh;
			}

			@include respond(phone325Maxand650Max) {
				width: 11vh;
			}

			@include respond(phone325Maxand600Max) {
				width: 9vh;
			}

			@include respond(phone325Maxand550Max) {
				width: 8vh;
			}
			///////////////////////////////////////////////////////////////////
			@include respond(phone300) {
				width: 8vh;
				top: 50%;
				left: 50%;
				transform: translate(30%, -80%);
			}

			@include respond(phone300Maxand950Max) {
				width: 8vh;
			}

			@include respond(phone300Maxand900Max) {
				width: 8vh;
			}

			@include respond(phone300Maxand850Max) {
				width: 8vh;
			}

			@include respond(phone300Maxand800Max) {
				width: 11vh;
				transform: translate(0%, -80%);
			}

			@include respond(phone300Maxand750Max) {
				width: 12vh;
			}

			@include respond(phone300Maxand700Max) {
				width: 10vh;
			}

			@include respond(phone300Maxand650Max) {
				width: 9vh;
			}

			@include respond(phone300Maxand600Max) {
				width: 9vh;
			}

			@include respond(phone300Maxand550Max) {
				width: 8vh;
			}
			///////////////////////////////////////////////////////////////////
			&:hover {
				outline: .5rem solid $color-primary-brightRed;
				transform: scale(1.1) translateY(-.5rem);
				@include respond(phone600) {
					transform: translate(15%, -80%) scale(1.1)
						translateY(-.5rem);
				}
				box-shadow: 0 0 1.5rem rgba($color-primary-white, .9),
					0 0 7rem rgba($color-primary-darkBlue, .9);
				z-index: 200;
			}
		}
	}
	// to select and manipulate elements that is not hovered
	&:hover &__img--schalk:not(:hover) {
		transform: scale(0.9);

		@include respond(phone600) {
			transform: translate(-50%, -50%) scale(0.9);
		}
	}

	&:hover &__img--family:not(:hover) {
		transform: scale(0.9);

		@include respond(phone600) {
			transform: translate(-125%, 10%) scale(0.9);
		}
	}

	&:hover &__img--potjiekos:not(:hover) {
		transform: scale(0.9);

		@include respond(phone600) {
			transform: translate(15%, -80%) scale(0.9);
		}
	}
}
