.img-comp {
	position: relative;
	// no height on this element to stop bubbling effect when hovering
	// created about__content--images as a container to use flexbox

	&__img {
		width: 18rem;
		border: 2px solid white;
		border-radius: 3px;
		outline-offset: .5rem;
		position: absolute;
		transition: all .4s;

		&--schalk {
			width: 23rem;
			top: 5rem;
			right: 35%;
			z-index: 120;

			@include respond(tablet-portrait-2) {
				width: 16rem;
				right: 45%;
			}

			@include respond(phone550Maxand750Max) {
				width: 16rem;
				right: 29%;
				top: -7rem;
			}

			@include respond(phone500Maxand860Max) {
				width: 16rem;
				right: 29%;
				top: 0rem;
			}

			@include respond(phone450Maxand850Max) {
				width: 16rem;
				right: 23%;
				top: 0rem;
			}

			@include respond(phone450Maxand750Max) {
				width: 16rem;
				right: 23%;
				top: -5rem;
			}

			@include respond(phone400Maxand850Max) {
				width: 16rem;
				right: 23%;
				top: 8rem;
			}

			@include respond(phone400Maxand800Max) {
				width: 16rem;
				right: 23%;
				top: 5rem;
			}

			@include respond(phone400Maxand700Max) {
				width: 16rem;
				right: 23%;
				top: 1rem;
			}

			@include respond(phone400Maxand650Max) {
				width: 16rem;
				right: 20%;
				top: -5rem;
			}

			@include respond(phone350Maxand600Max) {
				width: 15rem;
				right: 20%;
				top: -3rem;
			}

			@include respond(phone350Maxand550Max) {
				width: 9rem;
				right: 28%;
				top: -5rem;
			}
		}

		&--family {
			width: 20rem;
			top: 0;
			right: 30%;
			z-index: 130;

			@include respond(tablet-portrait-2) {
				width: 13rem;
				right: 42%;
			}

			@include respond(phone550Maxand750Max) {
				width: 14rem;
				right: 55%;
				top: -2rem;
			}

			@include respond(phone500Maxand860Max) {
				width: 14rem;
				right: 55%;
				top: 5rem;
			}

			@include respond(phone450Maxand850Max) {
				width: 14rem;
				right: 49%;
				top: 5rem;
			}

			@include respond(phone450Maxand750Max) {
				width: 14rem;
				right: 49%;
				top: 1rem;
			}

			@include respond(phone400Maxand850Max) {
				width: 14rem;
				right: 49%;
				top: 13rem;
			}

			@include respond(phone400Maxand800Max) {
				width: 14rem;
				right: 49%;
				top: 10rem;
			}

			@include respond(phone400Maxand700Max) {
				width: 14rem;
				right: 49%;
				top: 6rem;
			}

			@include respond(phone400Maxand650Max) {
				width: 14rem;
				right: 46%;
				top: 0rem;
			}

			@include respond(phone350Maxand600Max) {
				width: 12rem;
				right: 47%;
				top: 2rem;
			}

			@include respond(phone350Maxand550Max) {
				width: 7rem;
				right: 45%;
				top: -1.5rem;
			}
		}

		&--potjiekos {
			width: 20rem;
			top: 5rem;
			right: 0;
			z-index: 110;

			@include respond(tablet-portrait-2) {
				width: 13rem;
				right: 35%;
			}

			@include respond(phone550Maxand750Max) {
				width: 11rem;
				right: 16%;
				top: -9rem;
			}

			@include respond(phone500Maxand860Max) {
				width: 11rem;
				right: 16%;
				top: -4rem;
			}

			@include respond(phone450Maxand850Max) {
				width: 11rem;
				right: 10%;
				top: -4rem;
			}

			@include respond(phone450Maxand750Max) {
				width: 11rem;
				right: 10%;
				top: -8rem;
			}

			@include respond(phone400Maxand850Max) {
				width: 11rem;
				right: 10%;
				top: 4rem;
			}

			@include respond(phone400Maxand800Max) {
				width: 11rem;
				right: 10%;
				top: 1rem;
			}

			@include respond(phone400Maxand700Max) {
				width: 11rem;
				right: 10%;
				top: -3rem;
			}

			@include respond(phone400Maxand650Max) {
				width: 11rem;
				right: 7%;
				top: -9rem;
			}

			@include respond(phone350Maxand600Max) {
				width: 10rem;
				right: 9%;
				top: -6rem;
			}

			@include respond(phone350Maxand550Max) {
				width: 8rem;
				right: 15%;
				top: -8rem;
			}
		}

		&:hover {
			outline: .5rem solid $color-primary-brightRed;
			transform: scale(1.05) translateY(-.5rem);
			box-shadow: 0 0 1.5rem rgba($color-primary-white, .9),
				0 0 7rem rgba($color-primary-darkBlue, .9);
			z-index: 200;
		}
	}
	// to select and manipulate elements that is not hovered
	&:hover &__img:not(:hover) {
		transform: scale(0.95);
	}
}
