.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  gap: 1rem;
}

.formGroup {
  margin-bottom: 1rem;
}

.formGroup label {
  display: block;
  margin-bottom: 0.5rem;
}

.formGroup input,
.formGroup textarea {
  
  background-color: $cp-white;
  border-radius: $br-m;
  border: 1px solid #003049;

  width: 100%;
  padding: 0.5rem;
}

// .submitButton {
//   background-color: #4CAF50;
//   color: #fff;
//   border: none;
//   padding: 0.5rem 1rem;
//   font-size: 1rem;
//   border-radius: 4px;
//   cursor: pointer;
// }

// .submitButton:hover {
//   background-color: #45a049;
// }