.sectionHeadingWrapper {
    margin: 4rem 0 5rem;

    &__headingH2 {
        color: $cp-white;
        font-size: 3.5rem;
        font-weight: 900;
        line-height: 1;
        letter-spacing: -2px;
        text-transform: capitalize;
        text-shadow: 
            1px 0px 2px $cp-darkGrey,
            2px -1px 2px $cp-darkGrey,
            3px -1px 2px $cp-darkGrey,
            4px -1px 2px $cp-darkGrey;     
        
        position: relative;

        z-index: 10;
    }

    &__headingH2::before {
        content: attr(data-text);
        color: none;
        text-shadow: none;
        text-transform: capitalize;

        background: linear-gradient(
            to top, #303030, #a6a6a68f 55%, #ffffff00 );
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
     
        filter: blur(2px);
        transform: skewX(-50deg) translate(2.2rem, -1.3rem) scaleY(1.75);    
        
        position: absolute;
        top: 0;
        left: 0;

        z-index: -1;
    }

    &__headingHr {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0) 70%);
        margin: 1rem 0 .5rem;
    }

    &__headingParagraph {
        color: $cf-blue;
        font-weight: 700;
        margin-left: 5rem;
    }    
}

.headingH4 {
    margin-bottom: $mb-h4;
}