.headingH2Container {
    position: relative;

    margin: 2rem 0 5rem;

    &__headingH2 {

        &::first-letter {
            background-color: $cp-blue;
            border-radius: $br-m;
            box-shadow: -7px -7px 0 $cp-red;
            
            padding: 0px 3px 15px 8px;
            margin-right: 3px;  
        }
    }

    &__paragraph {
        position: absolute;
        bottom: clamp(-1.5rem, 1vw, -1.6rem);
        left: clamp(7rem, 17vw, 15rem);
    }
}

