.icon {
    width: 1.8rem;
    height: 1.8rem
}
.icons {
    &--cardLinkIcon {
        min-width: 5rem;
        min-height: 5rem;
    }
    &--seoPricingHeadingIcon {
        min-width: 8rem;
        min-height: 8rem;
    }
    &--pricingItemIcon {
        margin-top: .5rem;
        min-width: 3rem;
        min-height: 3rem;
    }
    &--returnHomeBtnIcon {
        min-width: 4rem;
        min-height: 4rem;
    }
}