.logo {
    display: flex;
    align-items: center;

    
    &__img {
        border: 2px solid whitesmoke;
        border-radius: 50%;
        box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .9);
        
        display: block;
        height: auto;
        width: clamp(5rem, 13vw, 7rem);
        
        
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: .75rem;

        &--devName {
            
        }

        &--devDesc {
            
        }
    }
}