.portfolio-card {
	background-color: transparent;

	padding: 2.5rem;

	&__techandbuttons-container {
		display: flex;
		justify-content: flex-start;
	}

	&__techlist {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		&--item {
			list-style: none;
			background-color: $color-primary-darkBlue;
			border-radius: $border-radius-medium;
			box-shadow: $box-shadow-dark;
			padding: .5rem 1.5rem;
		}
	}

	&__buttons {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		margin-top: 4rem;

		&--btn {
			text-decoration: none;
		}
	}
}
