.pricingCard {
      @include displayFlexColumn;
      background: linear-gradient(to bottom right, rgba($cp-white, 1), rgba(0, 237, 254, .2) 60%, rgba(0, 237, 254, .5));
      box-shadow: 5px 5px 12px 3px rgba(3, 3, 3, .25);
      padding: 2rem 2rem;
      width: 100%;
      &__pricingCardBenefits {
            @include displayFlexColumn;
            gap: 1.75rem;
            width: 100%;
      }
      &__pricingCardBenefitsItem {
            @include displayFlexRow;
            justify-content: flex-start;
            align-items: flex-start;
            width: min(80%, 35rem);
      }
}