.techStack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;

    // background-color: magenta;

    margin: 1.5rem 0 2.8rem;

    &__img {
        width: clamp(4rem, 12vw, 8rem);
        filter: drop-shadow(0 15px 10px rgba(0, 0, 0, .6));

        @include respond(tab-port) {
            width: clamp(6rem, 12vw, 10rem);
            filter: drop-shadow(0 12px 7px rgba(0, 0, 0, .5));
        }

        @include respond(tab-land) {
            width: clamp(3rem, 5vw, 7rem);
            filter: drop-shadow(0 12px 7px rgba(0, 0, 0, .5));
        }
    }
}