// //////////////////////////////////////////////////////////////////
// moveInLeft
// animation for span1 element in primary-heading in header
@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-4.8rem);
	}

	80% {
		transform: translateX(1rem);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
// //////////////////////////////////////////////////////////////////
// moveInRight
// animation for span3 element in primary-heading in header
@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(4.8rem);
	}

	80% {
		transform: translateX(-1rem);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
// //////////////////////////////////////////////////////////////////
// rotateAndMoveInRight
// animation for span2 element in primary-heading in header
@keyframes rotateAndMoveInRight {
	0% {
		opacity: 0;
		transform: translateY(-12rem) translateX(15rem) scale(1) rotateY(45deg);
	}

	25% {
		opacity: 0;
	}

	65% {
		transform: scale(.4) rotateY(140deg);
	}

	100% {
		opacity: 1;
		transform: translateY(0rem) translateX(0rem) scale(1) rotateY(360deg);
	}
}
