// basic reset
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	// smoothes automatic scroll when you click on a navlink
	scroll-behavior: smooth;
	/* 	1rem is equal to 10px */
	/* 	because 10px / 10 is equal to 1rem */
	/* 	therefore 30px is equal to 3rem */
	/* 	the default font size of the browser is 16px */
	/* 	10px / 16px *100 = 62.5% */
	font-size: 62.5%; // 1rem = 10px

	@include respond(tablet-landscape) {
		font-size: 56.25%; // 1rem = 9px 	-->		9/16 *100 = 56.25%
	}

	@include respond(tablet-portrait) {
		font-size: 50%; // 1rem = 8px  -->  8/16 *100 = 50%
	}

	@include respond(tablet-portrait-2) {
		font-size: 46.88%; // 1rem = 7.5px  -->  7.5/16 *100 = 46.88%
	}

	@include respond(phone) {
		font-size: 46.88%; // 1rem = 7.5px  -->  7.5/16 *100 = 46.88%
	}
	////////////////////////////////////////////////////////////////////////////
	@include respond(phone425Maxand950Max) {
		font-size: 51.56%; // 1rem = 8.25px  -->  8.25/16 *100 = 51.56%
	}

	@include respond(phone425Maxand900Max) {
		font-size: 50%; // 1rem = 8px  -->  8/16 *100 = 50%
	}

	@include respond(phone425Maxand850Max) {
		font-size: 48.43%; // 1rem = 7.75px  -->  7.75/16 *100 = 48.43%
	}

	@include respond(phone425Maxand800Max) {
		font-size: 46.88%; // 1rem = 7.5px  -->  7.5/16 *100 = 46.88%
	}

	@include respond(phone425Maxand750Max) {
		font-size: 43.75%; // 1rem = 7px  -->  7/16 *100 = 43.75%
	}

	@include respond(phone425Maxand700Max) {
		font-size: 42.19%; // 1rem = 6.75px  -->  6.75/16 *100 = 42.19%
	}

	@include respond(phone425Maxand600Max) {
		font-size: 40.63%; // 1rem = 6.5px  -->  6.5/16 *100 = 40.63%
	}
	////////////////////////////////////////////////////////////////////////////
	@include respond(phone400Maxand950Max) {
		font-size: 51.56%; // 1rem = 8.25px  -->  8.25/16 *100 = 51.56%
	}

	@include respond(phone400Maxand900Max) {
		font-size: 50%; // 1rem = 8px  -->  8/16 *100 = 50%
	}

	@include respond(phone400Maxand850Max) {
		font-size: 48.43%; // 1rem = 7.75px  -->  7.75/16 *100 = 48.43%
	}

	@include respond(phone400Maxand800Max) {
		font-size: 46.88%; // 1rem = 7.5px  -->  7.5/16 *100 = 46.88%
	}

	@include respond(phone400Maxand750Max) {
		font-size: 43.75%; // 1rem = 7px  -->  7/16 *100 = 43.75%
	}

	@include respond(phone400Maxand700Max) {
		font-size: 42.19%; // 1rem = 6.75px  -->  6.75/16 *100 = 42.19%
	}

	@include respond(phone400Maxand600Max) {
		font-size: 40.63%; // 1rem = 6.5px  -->  6.5/16 *100 = 40.63%
	}
	////////////////////////////////////////////////////////////////////////////
	@include respond(phone375Maxand950Max) {
		font-size: 51.56%; // 1rem = 8.25px  -->  8.25/16 *100 = 51.56%
	}

	@include respond(phone375Maxand900Max) {
		font-size: 50%; // 1rem = 8px  -->  8/16 *100 = 50%
	}

	@include respond(phone375Maxand850Max) {
		font-size: 48.43%; // 1rem = 7.75px  -->  7.75/16 *100 = 48.43%
	}

	@include respond(phone375Maxand800Max) {
		font-size: 46.88%; // 1rem = 7.5px  -->  7.5/16 *100 = 46.88%
	}

	@include respond(phone375Maxand750Max) {
		font-size: 43.75%; // 1rem = 7px  -->  7/16 *100 = 43.75%
	}

	@include respond(phone375Maxand700Max) {
		font-size: 42.19%; // 1rem = 6.75px  -->  6.75/16 *100 = 42.19%
	}

	@include respond(phone375Maxand600Max) {
		font-size: 40.63%; // 1rem = 6.5px  -->  6.5/16 *100 = 40.63%
	}
	////////////////////////////////////////////////////////////////////////////
	@include respond(phone350Maxand950Max) {
		font-size: 51.56%; // 1rem = 8.25px  -->  8.25/16 *100 = 51.56%
	}

	@include respond(phone350Maxand900Max) {
		font-size: 50%; // 1rem = 8px  -->  8/16 *100 = 50%
	}

	@include respond(phone350Maxand850Max) {
		font-size: 48.43%; // 1rem = 7.75px  -->  7.75/16 *100 = 48.43%
	}

	@include respond(phone350Maxand800Max) {
		font-size: 44.31%; // 1rem = 7.25px  -->  7.25/16 *100 = 45.31%
	}

	@include respond(phone350Maxand750Max) {
		font-size: 43.75%; // 1rem = 7px  -->  7/16 *100 = 43.75%
	}

	@include respond(phone350Maxand700Max) {
		font-size: 42.19%; // 1rem = 6.75px  -->  6.75/16 *100 = 42.19%
	}

	@include respond(phone350Maxand650Max) {
		font-size: 40.63%; // 1rem = 6.5px  -->  6.5/16 *100 = 40.63%
	}
	////////////////////////////////////////////////////////////////////////////
	@include respond(phone325Maxand950Max) {
		font-size: 51.56%; // 1rem = 8.25px  -->  8.25/16 *100 = 51.56%
	}

	@include respond(phone325Maxand900Max) {
		font-size: 50%; // 1rem = 8px  -->  8/16 *100 = 50%
	}

	@include respond(phone325Maxand850Max) {
		font-size: 48.43%; // 1rem = 7.75px  -->  7.75/16 *100 = 48.43%
	}

	@include respond(phone325Maxand800Max) {
		font-size: 44.31%; // 1rem = 7.25px  -->  7.25/16 *100 = 45.31%
	}

	@include respond(phone325Maxand750Max) {
		font-size: 42.19%; // 1rem = 6.75px  -->  6.75/16 *100 = 42.19%
	}

	@include respond(phone325Maxand700Max) {
		font-size: 42.19%; // 1rem = 6.75px  -->  6.75/16 *100 = 42.19%
	}

	@include respond(phone325Maxand650Max) {
		font-size: 40.63%; // 1rem = 6.5px  -->  6.5/16 *100 = 40.63%
	}
	////////////////////////////////////////////////////////////////////////////
	@include respond(phone300Maxand950Max) {
		font-size: 51.56%; // 1rem = 8.25px  -->  8.25/16 *100 = 51.56%
	}

	@include respond(phone300Maxand900Max) {
		font-size: 50%; // 1rem = 8px  -->  8/16 *100 = 50%
	}

	@include respond(phone300Maxand850Max) {
		font-size: 48.43%; // 1rem = 7.75px  -->  7.75/16 *100 = 48.43%
	}

	@include respond(phone300Maxand800Max) {
		font-size: 44.31%; // 1rem = 7.25px  -->  7.25/16 *100 = 45.31%
	}

	@include respond(phone300Maxand750Max) {
		font-size: 42.19%; // 1rem = 6.75px  -->  6.75/16 *100 = 42.19%
	}

	@include respond(phone300Maxand700Max) {
		font-size: 42.19%; // 1rem = 6.75px  -->  6.75/16 *100 = 42.19%
	}

	@include respond(phone300Maxand650Max) {
		font-size: 40.63%; // 1rem = 6.5px  -->  6.5/16 *100 = 40.63%
	}

	@include respond(phone300Maxand600Max) {
		font-size: 37.5%; // 1rem = 6px  -->  6/16 *100 = 37.5%
	}
	////////////////////////////////////////////////////////////////////////////

	@include respond(big-desktop) {
		font-size: 75%; // 1rem = 12px	-->		12/16 *100 = 75%
	}
}

body {
	/* This makes dealing with the sizes of elements much easier, 
		and generally eliminates a number of pitfalls you can stumble on
		 while laying out your content. */
	/* The width and height properties include the content, padding, and border, 
		but do not include the margin.  Note that padding and border will be inside 
		of the box. */
	box-sizing: border-box;
}
