body {
	color: $color-primary-darkBlue;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	line-height: 1.6;
	// padding for large screen sizes
	padding: 0 2rem 2rem 2rem;

	@include respond(tablet-landscape) {
		// 0 padding on smaller screen sizes
		// and adjust the navbar margin-left and margin-right to 0 as well
		padding: 0;
	}
}

.heading-h1 {}
.heading-h2 {}
.heading-h3 {}
.heading-h4 {}

.paragraph {}

.btn {}

