// font-family: 'Alegreya', serif;
// font-family: 'Alegreya SC', serif;
// font-family: 'Caveat', cursive;
// font-family: 'Caveat Brush', cursive;
// font-family: 'Lato', sans-serif;

body {
	color: $cf-white;
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.6;
}

.primaryHeading {
	text-align: center;

	&__headline {
		font-family: 'Alegreya', serif;;
		font-size: clamp(3rem, 11.1vw, 6rem);
		font-weight: 900;
		letter-spacing: 2px;
		line-height: 1;
		text-shadow: 
            1px 1px 2px rgba(0, 0, 0, .7),
            2px 2px 2px rgba(0, 0, 0, .7),
            3px 3px 2px rgba(0, 0, 0, .7),
            4px 4px 2px rgba(0, 0, 0, .7);     
	}

	&__headline-firstLetter {
		font-size: clamp(5rem, 15vw, 9rem);
	}

	&__subheading {
		font-family: 'Caveat', cursive;
		font-size: clamp(1.8rem, 6.8vw, 3.5rem);
		font-weight: 400;
		letter-spacing: 2px;
		line-height: 0.8;
	}

	&__paragraph {
		font-size: clamp(calc(2.1rem + 2.3vh - 2rem), 4.3vw, calc(2.5rem + 2.3vh - 2rem));
		text-align: center;
	}

	@include respond(tab-land) {
		&__headline {
			font-size: clamp(2rem, 4.5vw, 5rem);
		}

		&__headline-firstLetter {
			font-size: clamp(2.2rem, 6vw, 5.2rem);
		}

		&__subheading {
			font-size: clamp(1rem, 2.8vw, 2.5rem);
		}
	}
}

.headingH2Container {
	&__headingH2 {
		color: $cf-blue;
		font-family: 'Alegreya SC', serif;
		font-size: clamp(calc(2.6rem + 3vh - 2rem), 11vw, calc(6.2rem + 3vh - 2rem));
		// font-size: clamp(3.5rem, 11.3vw, 6.5rem);
		font-weight: 900;
		line-height: 1;
		letter-spacing: 4px;
		text-shadow: 
		        1px 0px 2px $cp-darkBlue,
		        2px -1px 2px $cp-darkBlue,
		        3px -1px 2px $cp-darkBlue,
		        4px -1px 2px $cp-darkBlue;     
	}

	&__subheadingH2 {
	 	color: $cf-red;
		font-family: 'Caveat', cursive;
		// font-size: clamp(calc(1.8rem + 3vh - 2rem), 6.6vw, calc(3.5rem + 3vh - 2rem));
		font-size: clamp(calc(2.8rem + 2.3vh - 2rem), 8vw, calc(5rem + 2.3vh - 2rem));
		// font-size: clamp(2rem, 6.8vw, 3.7rem);
		font-weight: 700;
		line-height: 1;
		letter-spacing: 1px;
	}

	@include respond(tab-port) {
	 	&__headingH2 {
			font-size: clamp(calc(2.2rem + 2.6vh - 2rem), 10vw, calc(5.8rem + 2.6vh - 2rem));
			     
		}
		&__subheadingH2 {
			font-size: clamp(calc(2.2rem + 1.7vh - 2rem), 6vw, calc(4.4rem + 1.7vh - 2rem));
			
		}
	}
}

.headingH3Container {
	font-family: 'Lato', sans-serif;
	text-align: center;
	
	&__headingH3 {
		color: $cf-white;
		font-size: clamp(calc(2.6rem + 2.3vh - 2rem), 4.3vw, calc(3.1rem + 2.3vh - 2rem));
		font-weight: 900;
		line-height: 1;
		letter-spacing: 2px;

		&--blue {
			color: $cf-darkBlue ;
			line-height: 1.2;

			@include respond(tab-port) {
				font-size: clamp(calc(1.4rem + .9vh - 2rem), 5vw, calc(3.6rem + .9vh - 2rem));
			}
		}

		&--project {
			color: $cf-darkRed;
			font-size: 1.8rem;
		}

		&--skills {
			color: $cf-darkBlue;
			font-size: clamp(calc(2.8rem + 2.3vh - 2rem), 8vw, calc(5rem + 2.3vh - 2rem));

			// @include respond(tab-port) {
			// 	font-size: clamp(calc(1.2rem + .7vh - 2rem), 4vw, calc(3.4rem + .7vh - 2rem));
			// }

			@include respond(tab-port) {
				font-size: clamp(calc(1.6rem + 4.1vh - 2rem), 4.3vw, calc(3.6rem + 4.1vh - 2rem));
			}
		}
	}

	 &__subheadingH3 {
	 	color: $cf-red;
		font-size: clamp(calc(1.7rem + 2.3vh - 2rem), 4vw, calc(2.3rem + 2.3vh - 2rem));
		font-weight: 400;
		line-height: 1;
		letter-spacing: 1px;

		&--project {
			color: $cf-darkBlue;
		}
	 }
}

.paragraph {
	color:  $cf-darkBlue;
	font-size: clamp(calc(2.1rem + 2.3vh - 2rem), 4.3vw, calc(2.5rem + 2.3vh - 2rem));
	font-weight: 700;
	text-align: center;

	&--white {
		color: $cf-white;
	}

	&--project {
		color: $cf-darkBlue;
		font-size: clamp(calc(1.7rem + 2.3vh - 2rem), 4vw, calc(2.1rem + 2.3vh - 2rem));
		font-weight: 900;
		text-align: center;
	}

	&--skills {
		color:  $cf-darkRed;
		font-size: clamp(calc(1.9rem + 2.1vh - 2rem), 4vw, calc(2.3rem + 2.1vh - 2rem));
		text-align: center;

		@include respond(tab-port) {
			font-size: clamp(calc(1.9rem + 2vh - 2rem), 3vw, calc(2.3rem + 2.1vh - 2rem));
		}
	}

	&--contactItem {
		@media (max-width: 350px) and (min-height: 750px) {
            font-size: clamp(calc(1.7rem + 2.1vh - 2rem), 4vw, calc(2.1rem + 2.1vh - 2rem));
        }
	}
}

.btn {
	color: $cf-white;
	font-weight:700;
	line-height: 1.6;
	letter-spacing: 1px;

	&--primaryBtn {
		font-size: clamp(calc(2rem + 2.2vh - 2rem), 4vw, calc(2.4rem + 2.3vh - 2rem));
	}
	
	&--primaryBtn-hero {
		font-size: clamp(calc(2rem + 2.2vh - 2rem), 4.2vw, calc(2.4rem + 2.3vh - 2rem));
	}

	&--primaryBtn-white {
		color: $cf-darkBlue;
		font-size: clamp(calc(1.2rem + 1.2vh), 4vw, calc(1.6rem + 1.2vh));
	}

	&--primaryBtn-white-portfolioCard {
		color: $cf-red;
		font-size: clamp(calc(1.8rem + 2vh - 2rem), 3.8vw, calc(2.4rem + 2.1vh - 2rem));
		font-weight: 900;
	}

	&--secondaryBtn {
		color: $cf-white;
		font-size: clamp(calc(1.8rem + 2vh - 2rem), 3.8vw, calc(2.2rem + 2.2vh - 2rem));
	}

	&--secondaryBtn-hero {
		color: $cf-white;
		font-size: clamp(calc(1.8rem + 2vh - 2rem), 3.8vw, calc(2.2rem + 2.2vh - 2rem));
	}

	&--secondaryBtn-portfolioCard {
		color: $cf-white;
		font-size: clamp(calc(1.8rem + 2vh - 2rem), 3.8vw, calc(2.2rem + 2.2vh - 2rem));
	}
}

.logo__text {
	
	&--devName {
		font-family: 'Alegreya', serif;
		font-size: clamp(1.6rem, 5vw, 2.5rem);
		font-weight: 900;
		letter-spacing: 2px;
		line-height: 1;
		text-shadow: 
            1px 1px 2px rgba(0, 0, 0, .7),
            2px 2px 2px rgba(0, 0, 0, .7),
            3px 3px 2px rgba(0, 0, 0, .7),
            4px 4px 2px rgba(0, 0, 0, .7);
	}

	&--devNameFirstLetter {
		font-size: clamp(2.5rem, 7vw, 3.5rem);
	}

	&--devDesc {
		font-family: 'Caveat', cursive;
		font-size: clamp(1.25rem, 4vw, 2rem);
		letter-spacing: 1px;
		line-height: 1;
	}
}

.header	{
	
}

.hero {

}

.about {
	
	&__section {
		text-align: justify;
	}
}

.footer {
	text-align: center;
	
	&__figure--figcaption-name {
		font-family: 'Alegreya', serif;;
		font-size: clamp(3rem, 11.1vw, 6rem);
		font-weight: 900;
		letter-spacing: 2px;
		line-height: 1;
	}
	&__figure--figcaption-name-firstLetter {
		font-size: clamp(5rem, 15vw, 9rem);
	}
	&__figure--figcaption-dev {
		font-family: 'Caveat', cursive;
		font-size: clamp(1.8rem, 6.8vw, 3.5rem);
		font-weight: 400;
		letter-spacing: 2px;
		line-height: 0.8;
	}
	&__legalNotices--headingH2 {
		font-size: clamp(2.2rem, 7vw, 3rem);
	}
	&__legalNotices--paragraph {
		font-size: clamp(1.8rem, 6vw, 2.5rem);
	}
}

.contactForm {
	color:  $cf-darkBlue;
	font-size: clamp(calc(2.1rem + 2.3vh - 2rem), 4.3vw, calc(2.5rem + 2.3vh - 2rem));
	font-weight: 700;

	input, textarea {
		font-size: clamp(calc(2.1rem + 2.3vh - 2rem), 4.3vw, calc(2.5rem + 2.3vh - 2rem));
	}
}