// /////////////////////////////////////////////////////////////////
// HEADER
.header {
	background-image: linear-gradient(
			to bottom,
			rgba($color-primary-white, .7) 1%,
			rgba(transparent, .1) 20% 70%,
			rgba($color-primary-darkBlue, .9) 95%
		),
		url(../img/header-background-img-2000.jpg);
	background-size: cover;
	background-position: bottom;

	position: relative;

	// to position the primary-heading in the center of the page;
	&__contentTopCenter {
		@include absCenter;
		width: 55rem;

		@include respond(tablet-landscape) {
			width: 50rem;
		}

		@include respond(tablet-portrait) {
			width: 47rem;
		}

		@include respond(phone) {
			width: 43rem;
		}
	}

	&__headingPrimary {
		border-radius: $border-radius-medium;
		background-color: rgba($color-primary-white, .8);
		padding: 3em 5em;

		&--span {
			display: block;
		}
		// animate heading;
		&--span1 {
			animation-name: moveInLeft;
			animation-duration: 3s;
			animation-timing-function: ease-out;
		}
		// animate heading;
		&--span2 {
			animation-name: rotateAndMoveInRight;
			animation-duration: 2s;
			animation-delay: 900ms;
			animation-timing-function: cubic-bezier(.12, .02, .93, .9);
			animation-fill-mode: backwards;
		}
		// animate heading;
		&--span3 {
			animation-name: moveInRight;
			animation-duration: 3s;
			animation-timing-function: ease-out;
		}
	}
	// to position the social-media component to the bottom left of the page;
	&__contentBottomLeft {
		position: absolute;
		bottom: 5rem;
		left: 5rem;

		@include respond(phone) {
			width: 35rem;

			left: 50%;
			transform: translateX(-50%);
		}
	}

	// to align the paragraph with the icons;
	&__paragraph {
		@include respond(phone) {
			margin-left: 0rem;
		}
	}
}

// /////////////////////////////////////////////////////////////////
// ABOUT
.about {
	background-color: $color-primary-darkBlue;
	min-height: 93vh;
	padding-top: 4rem;
	// to create empty brick effect on about-section in top left corner;

	// clip-path: polygon(
	// 0 0,
	// 5% 0,

	// 5% 4%,
	// 0 4%,
	// 5% 4%,
	// 10% 4%,
	// 10% 0%,
	// 15% 0%,
	// 15% 4%,
	// 10% 4%,
	// 10% 8%,
	// 5% 8%,
	// 5% 4%,
	// 0% 4%,
	// 0 8%,
	// 5% 8%,
	// 5% 12%,
	// 0 12%,
	// 0% 16%,
	// 5% 16%,
	// 5% 12%,
	// 10% 12%,
	// 10% 8%,
	// 15% 8%,
	// 15% 4%,
	// 20% 4%,
	// 20% 0%,
	// 25% 0%,
	// 25% 4%,
	// 20% 4%,
	// 20% 8%,
	// 15% 8%,
	// 15% 12%,
	// 10% 12%,
	// 10% 16%,
	// 5% 16%,
	// 5% 20%,
	// 0% 20%,
	// 0 24%,
	// 5% 24%,
	// 5% 20%,
	// 10% 20%,
	// 10% 16%,
	// 15% 16%,
	// 15% 12%,
	// 20% 12%,
	// 20% 8%,
	// 25% 8%,
	// 25% 4%,
	// 30% 4%,
	// 30% 0%,
	// 100% 0%,
	// 100% 100%,
	// 0% 100%
	// );
	&__content {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		// height: 45rem;
		&--images {
			width: 45rem;
			margin-right: 4.5rem;
		}
		&--text {
			width: 45rem;
			// width: 33rem;
			margin-left: 4.5rem; // margin-left: 3.5rem;
		}
	}
}
// ////////////////////////////////////////////////////////////////////////////////////////
// SKILLS
.skills {
	background-color: $color-primary-white;
	min-height: 93vh;
	padding-top: 4rem;
	&__content {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 0 auto;
		text-align: justify;
		hr {
			border: 0;
			height: 1px;
			background: #333;
			background-image: linear-gradient(to right, #ccc, #333, #ccc);
		}
		&--below {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			width: 100%;
		}
	}
	&__contAbove {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		width: 100%;
		&--description {
			width: 45%;
		}
		&--carousel {
			width: 45%;
		}
	}
	&__contBelow {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		width: 100%;
		&--description {
			width: 45%;
			order: 2;
		}
		&--toolsContainer {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			width: 45%;
			padding: 1rem 0 2rem 0;
		}
	}
}
// //////////////////////////////////////////////////////////////////////////////////
// PORTFOLIO
.portfolio {
	background-color: $color-primary-darkBlue;
	min-height: 93vh;
	padding-top: 4rem;
	&__content {
		display: flex;
		justify-content: center;
		border: 0.5rem solid $color-font-white;
		border-radius: $border-radius-medium;
		width: 85%;
		margin: 0 auto;
	}
	&__contAbove {
		display: flex;
		flex-direction: row;
		// image width set to 100% of the width of its container;
		&--img {
			width: 100%;
		}
	}
	&__contBelow {
		min-width: 45%;
		padding: 5rem;
		position: relative;
		a {
			// to center button a third from the bottom;
			@include absCenter;
			top: 75%;
		}
	}
}
// //////////////////////////////////////////////////////////////////////////////////////
// CONTACT
.contact {
	background-color: $color-primary-white;
	min-height: 93vh;
	padding-top: 4rem;
	&__content {
		display: flex;
		justify-content: space-evenly;
	}
	&__itemsContainer {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 7rem;
		padding-left: 1rem;
		&--tel,
		&--email {
			display: block;
			transition: all .2s;
		}
		&--tel:hover,
		&--email:hover {
			color: $color-primary-brightRed;
			font-size: 1.7rem;
		}
		i {
			margin-right: 1rem;
		}
	}
	&__socialMedia {
		padding-left: 1rem;
	}
	&__form {
		padding-left: 1rem;
		&--item {
			margin-top: 1rem;
		}
		&--labels {
			margin-left: .2rem;
			margin-bottom: 5rem;
		}
		&--inputs {
			display: block;
			border: 1px solid $color-primary-darkBlue;
			border-radius: $border-radius-small;
			padding: .5rem .5rem;
			margin-top: .3rem;
			width: 65%;
		}
		&--subject {
			width: 100%;
		}
		&--message {
			width: 100%;
		}
	}
}
// //////////////////////////////////////////////////////////////////////////////////////////////
// FOOTER
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $color-primary-darkBlue;
	height: 7rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
}
